Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

added some playwright test for search
  tcf_website/playwright_tests/test_search.py
Due: black, isort, pylint, coverage

Fixed results returning more than 15 courses
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fixed review collapse error
  tcf_website/static/reviews/review.css
  tcf_website/templates/reviews/review.html
Due: prettier

eslint style fix
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

eslint style fix 2
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

eslint style fix 3
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

eslint style fix 4: changed tabs to 2 spaces
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

eslint style fix 5: added newlines
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

eslint style fix 6: more newlines
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

eslint style fix 99913911 :)
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

this better be the last imma crash out
  tcf_website/static/reviews/reviews.js
Due: eslint, prettier

Got rid of grid and scales, and fixed label
  tcf_website/templates/course/course_professor.html
Due: none

Changed chart title
  tcf_website/templates/course/course_professor.html
Due: none

Added ability to see individual bar percentages
  tcf_website/templates/course/course_professor.html
Due: none

Added hovering color change for individual bars
  tcf_website/templates/course/course_professor.html
Due: none

lint fixes
  tcf_website/admin.py
  tcf_website/api/enrollment.py
  tcf_website/api/filters.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/models.py
  tcf_website/models/models.py
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
  tcf_website/utils/enrollment.py
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Added No Reviews found for no reviews
  tcf_website/templates/course/course_professor.html
Due: none

defaulting open sections val to false
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Updated tooltips
  tcf_website/static/course/javascript/course_data.js
Due: eslint, prettier

Formatted the chart using a toy line chart on the course-instructor page
  tcf_website/management/commands/load_grades.py
  tcf_website/models/models.py
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

attempted adding response button
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-reply.svg
  tcf_website/templates/qa/qa.html
Due: prettier
