Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Added Carissa Chen and Julie Huang's images and information to about page
  tcf_website/static/about/team-pfps/DM_Carissa_Chen.jpg
  tcf_website/views/team_info.json
Due: none

tcf-style.css darkmode vars
  package-lock.json
  package.json
  tcf_website/static/base/tcf-style.css
Due: prettier

Change clock to inline svg and change clock icon color
  tcf_website/static/icons/icons.css
  tcf_website/templates/landing/landing.html
Due: prettier

Fixed icons
  tcf_website/templates/landing/landing.html
Due: none

lint fixes
  tcf_website/api/enrollment.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

added Carissa Chen to design/marketing on about page
  tcf_website/views/team_info.json
Due: none

added Julie Huang's info
  tcf_website/views/team_info.json
Due: none

added name and pic for Alyssa Zhang
  tcf_website/views/team_info.json
Due: none

changed discipline alignment on course.html
  tcf_website/templates/course/course.html
Due: none

black formatting
  tcf_website/admin.py
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

format
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Reverted search.py to back to enhanced-search version. Retained most of the original logic but added fix to allow for query and filters.
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

change discipline delimeter from & to /
  tcf_website/templates/course/course.html
Due: none

sticky subject & disciplines selection
  tcf_website/templates/search/searchbar.html
Due: none

store filters ctx in session
  tcf_core/context_processors.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

added team pfp
  tcf_website/static/about/team-pfps/ENG_Angad_Brar.jpg
  tcf_website/views/team_info.json
Due: none

Create 2024_fall.csv
  tcf_website/management/commands/grade_data/csv/2024_fall.csv
Due: none

update grade data
  tcf_website/management/commands/grade_data/csv/2022_fall.csv
  tcf_website/management/commands/grade_data/csv/2023_fall.csv
  tcf_website/management/commands/grade_data/csv/2024_spring.csv
Due: none

made review text field required
  tcf_website/templates/reviews/review_form_content.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
