Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

ignore CLAUDE.md
  .gitignore
Due: none

fix: browse page now has advanced search (like hoos list); removed filters from regular search
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/forms.py
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/static/css/site/pages/browse.css
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/components/_search_bar.html
  tcf_website/templates/site/pages/browse.html
  tcf_website/templates/site/pages/search.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

format: pylint
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: quality of life click box not text for action
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/static/css/site/pages/search.css
Due: prettier

remove outdated members (part 1)
  tcf_website/views/team_info.json
Due: none

chore: remove tracking doc
  doc/parity_tracker.md
Due: prettier

improve department cards' look on browse page
  tcf_website/static/css/site/pages/browse.css
Due: prettier

fix: border changes instead of bg on selection
  tcf_website/static/css/site/pages/browse.css
Due: prettier

reduce spacing above ads between reviews
  tcf_website/static/css/site/pages/course_instructor.css
Due: prettier

fix: standardize pagination
  tcf_website/models/models.py
  tcf_website/templates/site/components/_pagination.html
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/department.html
  tcf_website/templates/site/pages/reviews.html
  tcf_website/utils.py
  tcf_website/views/browse.py
  tcf_website/views/profile.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: browse page adv. search dropdown selection focus
  tcf_website/static/css/site/pages/browse.css
  tcf_website/templates/site/pages/browse.html
Due: prettier

fix: remove level
  tcf_website/forms.py
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: better mnemonic search
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/pages/browse.html
Due: none

fix: default adv search to latest semester selection
  tcf_website/forms.py
Due: black, isort, pylint, coverage

fix: min gpa filter works better
  tcf_website/models/models.py
  tcf_website/utils.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: avoid full page refresh when searching questions
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_content.html
  tcf_website/templates/qa/_question_list.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

Implement arrow key navigation on browse page filters
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/pages/browse.html
Due: eslint, prettier

Implement arrow key navigation on browse page filters
  tcf_website/templates/site/pages/browse.html
Due: none

improve subject search on browse page
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/pages/browse.html
Due: eslint, prettier

eslint
  tcf_website/static/js/site/search_bar.js
Due: eslint, prettier

fix: adv search UX
  tcf_website/forms.py
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/pages/browse.html
Due: black, isort, pylint, coverage

fix: search opt
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

chore: clean up search.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: bug fixes + code deduplication
  tcf_website/utils.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: autocomplete for clubs
  tcf_website/templates/site/components/_autocomplete_dropdown.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

chore: massive refactor
  tcf_website/models/models.py
  tcf_website/tests/test_browse.py
  tcf_website/tests/test_instructor.py
  tcf_website/utils.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/club.py
  tcf_website/views/course.py
  tcf_website/views/course_instructor.py
  tcf_website/views/department.py
  tcf_website/views/instructor.py
  tcf_website/views/profile.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

format: pylint
  tcf_website/models/models.py
  tcf_website/pagination.py
  tcf_website/utils.py
  tcf_website/views/browse.py
  tcf_website/views/club.py
  tcf_website/views/profile.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

format: utils
  tcf_website/utils.py
Due: black, isort, pylint, coverage

fix: section style
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/templates/site/components/_section_card.html
Due: prettier

feat: schedules are per semester
  tcf_website/admin.py
  tcf_website/migrations/0024_schedule_semester.py
  tcf_website/models/models.py
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/templates/site/pages/schedule.html
  tcf_website/templates/site/pages/schedule_add_course.html
  tcf_website/tests/test_schedule_semester.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

fix: reuse combo dropdown
  tcf_website/forms.py
  tcf_website/static/css/site/components/combo_dropdown.css
  tcf_website/static/css/site/main.css
  tcf_website/static/css/site/pages/browse.css
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/static/js/site/combo_dropdown.js
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/components/_combo_dropdown.html
  tcf_website/templates/site/pages/browse.html
  tcf_website/templates/site/pages/schedule.html
  tcf_website/utils.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

fix: tab to select hint on autocomplete
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/templates/site/components/_autocomplete_dropdown.html
Due: prettier

fix: ci
  tcf_website/static/js/site/combo_dropdown.js
  tcf_website/static/js/site/search_bar.js
  tcf_website/tests/test_schedule_semester.py
  tcf_website/utils.py
Due: black, isort, eslint, prettier, pylint, coverage

format: pylint
  tcf_website/utils.py
Due: black, isort, pylint, coverage

fix: decimal hours bug in review form
  tcf_website/templates/site/pages/review.html
Due: none

add summer 2026 semester data
  scripts/container-startup.sh
  tcf_website/management/commands/semester_data/csv/2026_summer.csv
Due: none

fix: variable unit classes
  tcf_website/management/commands/load_semester.py
  tcf_website/migrations/0025_section_units_and_schedule_enrolled.py
  tcf_website/models/models.py
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/templates/site/pages/schedule_add_course.html
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

clear startup script
  scripts/container-startup.sh
Due: none

update docs
  doc/semester-data.md
Due: prettier

format: pylint
  tcf_website/models/models.py
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage
