Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint-prettier, django-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint-prettier
        name: ESLint with Prettier
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml --ext .js,.css,.md tcf_website/static/
        language: system
        files: \.(js|css|md)$
        pass_filenames: false

      - id: django-tests
        name: Django Tests
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false

fix(pre-commit): don't pass filenames
  .pre-commit-config.yaml
Due: none

fix(format): include prettier with eslint
  package-lock.json
  package.json
Due: none

Added new search changes and fixed my current code
  tcf_website/views/search.py
Due: black, isort, django-tests

Forgot to remove print statement
  tcf_website/views/search.py
Due: black, isort, django-tests

fix(pre-commit): remove coverage for now
  .pre-commit-config.yaml
Due: none

fix(pre-commit): add eslint prettier deps
  package-lock.json
  package.json
Due: none

feat(pre-commit): separate eslint, prettier configs
  .pre-commit-config.yaml
Due: none

Added setting
  tcf_core/settings/base.py
Due: black, isort, django-tests

feat(format): add pylint to pre-commit
  .pre-commit-config.yaml
Due: none

fix(pylint): ignore duplicate lines
  tcf_website/tests/test_commands.py
  tcf_website/views/browse.py
Due: black, isort, django-tests

added comment and class for tag to be fionished later
  tcf_website/models/models.py
Due: black, isort, django-tests

fix: removed fontawesome #672
  tcf_website/templates/base/index.html
Due: none

fix(pre-commit): remove superfluous packages
  package-lock.json
  package.json
Due: none

fix(pre-commit): include prettier
  package-lock.json
  package.json
Due: none

feat(docs): update setup for pre-commit
  docs/dev.md
Due: eslint-prettier

feat(pre-commit): deprecate old approach
  .githooks/pre-commit
  precommit.sh
Due: none

Update dev.md
  docs/dev.md
Due: eslint-prettier

Update reset-db.sh
  scripts/reset-db.sh
Due: none

fix(format): missing npm plugin
  package-lock.json
  package.json
Due: none

fix(format): reorganize npm package
  package-lock.json
  package.json
Due: none

Update useful-commands.md
  docs/useful-commands.md
Due: eslint-prettier
