Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

style course editor, add course name to course set, add clear selcted options when closing the schedule select modal
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule_editor.css
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/select_schedule_modal.html
Due: black, isort, prettier, pylint, coverage

adjusted the no courses label when adding courses to schedule for the first time
  tcf_website/templates/schedule/schedule.html
Due: none

changesd default value to 0.00 for rating and difficulty
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

patch some bugs and adjust template variables
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
Due: none

finish schedule card design
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/schedule/schedule.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

fix time conflict for new schedule layout
  tcf_website/templates/schedule/schedule.html
Due: none

reformat the styling and made schedule stats into a grid like view
  tcf_website/static/schedule/schedule.css
  tcf_website/static/schedule/schedule_stats.css
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/user_schedules.html
Due: prettier

add new schedule format
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/select_schedule_modal.html
Due: prettier

Added initial "new" tag on schedule
  tcf_website/static/base/sidebar.css
  tcf_website/templates/base/sidebar.html
Due: prettier

Added "New" to "Add to Schedule" button
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/course/course.html
Due: prettier

add duplicate schedule button
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

Implement delete confirmation pop up
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

correct pylint failures and fix django error
  tcf_website/migrations/0017_merge_20250102_1752.py
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/urls.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

newest migration
  tcf_website/migrations/0014_merge_20241020_1820.py
Due: black, isort, pylint, coverage

add comments for get_schedule
  tcf_website/migrations/0013_merge_20240730_1959.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

update lock file, supress minor warning
  package-lock.json
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

feat: format
  tcf_website/migrations/0010_schedule_scheduledcourse.py
  tcf_website/models/models.py
  tcf_website/static/base/sidebar.css
  tcf_website/static/schedule/parse_time.js
  tcf_website/static/schedule/schedule.css
  tcf_website/static/schedule/schedule_editor.css
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/static/schedule/schedule_with_sections.css
  tcf_website/templatetags/custom_tags.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

simple change, ignore this
  tcf_website/static/schedule/parse_time.js
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

fix rebase
  tcf_website/models/__init__.py
  tcf_website/urls.py
Due: black, isort, pylint, coverage

fix rebase part 2
  tcf_website/templates/course/course.html
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix git action errors
  package-lock.json
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
