Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

remove command from startup script
  scripts/container-startup.sh
Due: none

remove command from startup script (#1229)
  scripts/container-startup.sh
Due: none

Design Changes
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/qa/_question_detail.html
Due: prettier

Remove list summaries script from PR
  scripts/list_ai_summaries.sh
Due: none

migrations patch
  tcf_website/migrations/0024_reviewllmsummary.py
Due: black, isort, pylint, coverage

lint
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

cleaner file structuring
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/management/commands/generate_ai_summaries_helpers.py
Due: black, isort, pylint, coverage

small batch generate summaries on container startup
  scripts/container-startup.sh
Due: none

determine and display correctness of guess w/o page refresh
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

version w/o avg rating difficulty gpa
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

directional hints for stats, not user inputted
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

removed review caching for testing
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

feat: implement asynchronous DynamoDB analytics pipeline
  .env.example
  requirements/base.txt
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

sort by most recent reviews by default
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

final touches to code. Reused environ and update analytics_utils.py because of that
  requirements/base.txt
  tcf_website/analytics_utils.py
Due: black, isort, pylint, coverage

style: fix pylint line-too-long warnings in docstrings for a perfect 10/10
  tcf_website/analytics_utils.py
Due: black, isort, pylint, coverage

refactor: add GET request guards to analytics tracking
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

simple fix of get_analytics_health correct docstring
  tcf_website/analytics_utils.py
Due: black, isort, pylint, coverage

Add nickname field to User model and update profile view
  tcf_website/migrations/0025_user_nickname.py
  tcf_website/models/models.py
  tcf_website/templates/profile/profile.html
  tcf_website/templates/reviews/review.html
  tcf_website/views/profile.py
Due: black, isort, pylint, coverage

Display user's selected profile picture in reviews
  tcf_website/templates/reviews/review.html
Due: none

css changes so far...
  tcf_website/static/game/game.css
Due: prettier

autocomplete backend, js frontend, some html (needs work)
  tcf_website/api/serializers.py
  tcf_website/static/search/autocomplete.js
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

feat(autocomplete): autocomplete for clubs
  tcf_website/api/serializers.py
  tcf_website/static/search/autocomplete.js
  tcf_website/templates/club/mode_toggle.html
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

lint fixes
  tcf_website/static/search/autocomplete.js
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

feat(autocomplete): dry view and cursor hover for results
  tcf_website/static/search/autocomplete.js
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(styling): url import
  tcf_website/urls.py
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

fix(autocomplete): club results now show
  tcf_website/templates/club/mode_toggle.html
Due: none

searchbar html and css fixes
  tcf_website/static/search/autocomplete.js
  tcf_website/static/search/searchbar.css
  tcf_website/templates/search/searchbar.html
Due: eslint, prettier

fix(lint)
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Initial experiment of calendar view
  tcf_website/templates/calendar/calendar_overview.html
Due: none

sort by most recent reviews by default (#1230)
  tcf_website/models/models.py
Due: black, isort, pylint, coverage
