Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

added migrations (attributes working)
  tcf_website/migrations/0013_attribute_course_attributes.py
Due: black, isort, pylint, coverage

add updated csv files for spring/fall 2024
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
  tcf_website/management/commands/semester_data/csv/2024_fall_OLD.csv
  tcf_website/management/commands/semester_data/csv/2024_spring_OLD.csv
Due: none

Added data for 2024 Spring
  tcf_website/management/commands/grade_data/csv/2022_fall.csv
  tcf_website/management/commands/grade_data/csv/2023_fall.csv
  tcf_website/management/commands/grade_data/csv/2024_spring.csv
Due: none

Padded Bar Chart Display
  tcf_website/static/course/javascript/course_data.js
Due: eslint, prettier

Updated Code Formatting
  tcf_website/static/course/javascript/course_data.js
Due: eslint, prettier

Removed the website field from the instructor model
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Test Changes
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
Due: eslint, prettier

Added initial qa button on landing
  tcf_website/templates/landing/landing.html
Due: none

Need to fix formatting on icons
  tcf_website/templates/landing/landing.html
Due: none

added sidebar qa link
  tcf_website/templates/base/sidebar.html
Due: none

switch Attribute to Discipline
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/load_semester.py
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
Due: black, isort, pylint, coverage

switch to Discipline from attribute
  tcf_website/admin.py
  tcf_website/migrations/0013_discipline_course_attributes.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/templates/course/course.html
Due: black, isort, pylint, coverage

course model disciplines
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

update for disciplines
  tcf_website/migrations/0013_discipline_course_disciplines.py
Due: black, isort, pylint, coverage

Fixed display_activity in Question model
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Nvm changed back
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Actually fixed the model issue now
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Revert "Actually fixed the model issue now"
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Removed application banner in browse.html and landing.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/landing/landing.html
Due: none

fixed stuff
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fixed pt2
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
