Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Fix zombie task on deployment
  Dockerfile
Due: none

stop hidden review ratings from being visible
  tcf_core/settings/dev.py
  tcf_website/models/models.py
  tcf_website/views/courses/course_instructor.py
  tcf_website/views/instructors/instructor.py
Due: black, isort, pylint, coverage

add interactive script to remove comments
  scripts/hide_review.sh
  tcf_website/management/commands/hide_review.py
  tcf_website/management/commands/list_reviews.py
Due: black, isort, pylint, coverage

improve list_reviews
  tcf_website/management/commands/list_reviews.py
Due: black, isort, pylint, coverage

add tests for list_reviews
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

improve interface
  scripts/hide_review.sh
  tcf_website/management/commands/list_reviews.py
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

add tests for hide_reviews.py
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

fix hide_review bugs
  scripts/hide_review.sh
  tcf_website/management/commands/hide_review.py
Due: black, isort, pylint, coverage

fix ruff
  tcf_website/management/commands/hide_review.py
  tcf_website/management/commands/list_reviews.py
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

fix ruff (again)
  tcf_website/management/commands/hide_review.py
  tcf_website/management/commands/list_reviews.py
  tcf_website/models/models.py
  tcf_website/tests/test_commands.py
  tcf_website/views/courses/course_instructor.py
Due: black, isort, pylint, coverage

fix hide review message bug
  scripts/hide_review.sh
  tcf_website/management/commands/hide_review.py
Due: black, isort, pylint, coverage

fix hide review command
  scripts/hide_review.sh
  tcf_website/management/commands/hide_review.py
Due: black, isort, pylint, coverage

add ellipses to truncated review text and shorten truncated reviews
  scripts/hide_review.sh
Due: none

fix hide_review search on ECS
  scripts/hide_review.sh
Due: none

update reviews to be less realistic
  tcf_website/tests/test_utils.py
Due: black, isort, pylint, coverage

fix hide review script
  scripts/hide_review.sh
Due: none

remove arrow key search guidance
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/templates/site/common/components/_autocomplete_dropdown.html
Due: prettier

lint
  tcf_website/templates/site/common/components/_autocomplete_dropdown.html
Due: none

fix header alignment on homepage search bar
  tcf_website/static/css/site/components/search_bar.css
Due: prettier

improve ad boxes
  tcf_website/static/css/site/components/misc.css
Due: prettier

Update nix
  flake.lock
  flake.nix
Due: none

Add nixOS support to flake
  flake.nix
Due: none

spring 2026 grades
  fetch_grades.py
  tcf_website/management/commands/grade_data/csv/2026_spring.csv
  tcf_website/management/commands/semester_data/csv/2026_spring.csv
Due: black, isort, pylint, coverage

restore full sp26 sem data
  tcf_website/management/commands/semester_data/csv/2026_spring.csv
Due: none

fix ruff
  fetch_grades.py
Due: black, isort, pylint, coverage

claude did wrong ruff check
  doc/grade-data.md
  fetch_grades.py
Due: black, isort, prettier, pylint, coverage

add load_grades to container startup script
  scripts/container-startup.sh
Due: none

1256 feat spring 26 grade data (#1257)
  doc/grade-data.md
  fetch_grades.py
  scripts/container-startup.sh
  tcf_website/management/commands/grade_data/csv/2026_spring.csv
Due: black, isort, prettier, pylint, coverage

finish loading spring 26 grades
  scripts/container-startup.sh
Due: none

Testing style color functionality
  tcf_website/templates/site/review/review.html
Due: none

Undid color logic to keep red font
  tcf_website/templates/site/review/review.html
Due: none

Textbox now counts down until required char limit is reached
  tcf_website/templates/site/review/review.html
Due: none

Removed remainingCharacters; text now shows char amount / minLength
  tcf_website/templates/site/review/review.html
Due: none

Display min char limit for reviews (#1259)
  tcf_website/templates/site/review/review.html
Due: none

Changed dropdown from disabled to hidden
  tcf_website/static/js/site/review/review_cascade.js
Due: eslint, prettier

Prevent reviewing courses for semesters that haven't started yet
  tcf_website/models/models.py
  tcf_website/review/forms.py
  tcf_website/review/services.py
  tcf_website/tests/test_review.py
  tcf_website/tests/test_semester.py
  tcf_website/utils.py
  tcf_website/views/review/new_review.py
Due: black, isort, pylint, coverage

Exclude django_session data from DB dumps (#979)
  scripts/local_dump.sh
  scripts/prod_dump.sh
Due: none

Debounce school accordion arrow toggle mid-animation (#1012)
  tcf_website/templates/site/catalog/browse.html
Due: none

Notify users when resetting password for unregistered account (#1251)
  tcf_website/templates/site/auth/forgot_password.html
  tcf_website/templates/site/common/modals/_login.html
  tcf_website/tests/test_auth.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/auth/__init__.py
Due: black, isort, pylint, coverage

Warn user at submit if review may be hidden for toxicity (#1110)
  tcf_website/review/services.py
  tcf_website/templates/site/review/review.html
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/review/__init__.py
  tcf_website/views/review/preflight.py
Due: black, isort, pylint, coverage
