Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

feat: tqdm types
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
  requirements.txt
Due: none

fix: renamed url path
  tcf_website/templates/common/toolbar.html
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added paginator at bottom of page
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: round difficulty and rating to two decimals
  tcf_website/models/models.py
  tcf_website/templates/department/department_courses.html
Due: black, isort, pylint, coverage

fix: got rid of relevant semesters
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix (department): Added nonetype detection when getting grade averages
  tcf_website/models/models.py
  tcf_website/templates/department/department_courses.html
Due: black, isort, pylint, coverage

fix: minor cleanup
  tcf_website/templates/common/toolbar.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

cleanup (department): removed old JS file
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

(feat) courses for selected subdepartment now show
  tcf_website/templates/department/department.html
Due: none

fix: moved course loading within departments to own html page and fixed some methods involving fetching courses given a semester
  tcf_website/models/models.py
  tcf_website/templates/common/toolbar.html
  tcf_website/templates/department/department.html
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: format
  .nvim.lua
  tcf_website/models/models.py
  tcf_website/urls.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

fix: remove config files
  .nvim.lua
Due: none

feat: made course pages accessible
  tcf_website/templates/common/toolbar.html
Due: none

feat (department): last five years and fall 2024 button now functional
  tcf_website/models/models.py
  tcf_website/templates/common/toolbar.html
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

(fix) dropdown now works with subdepartments
  tcf_website/templates/common/toolbar.html
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Stubbing
  tcf_website/templates/course/course_professor.html
  tcf_website/urls.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

(feat) pagination for department courses
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: breadcrumbs now correctly track selected button
  tcf_website/templates/common/toolbar.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: fetch courses past a given semester
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

cleanup (department): removed old JS file
  tcf_website/static/department/loadMoreCourses.js
Due: eslint, prettier

Courses now load, data is finicky
  tcf_website/templates/department/department.html
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: made GPA field within template
  tcf_website/models/models.py
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat(department): fetch dept inline
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

(feat) url dept/subdept now works
  tcf_website/models/models.py
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

(feat) dropdown for subdepartments
  tcf_website/templates/common/toolbar.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

(feat) configured breadcrumbs
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat(course): fixed GPA function
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

feat: project configs
  pyproject.toml
Due: none

feat: fix formatting configs given pyproject.toml
  scripts/format.sh
  setup.cfg
Due: none

feat: update windows scripts
  scripts/format.bat
Due: none
