Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

add schedule copy icon and adjust copied schedule name
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/icons.html
  tcf_website/static/icons/img/fa-copy.svg
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

enforce a 15 char limit on schedule names
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

feat(about): vidya
  tcf_website/static/about/team-pfps/ENG_Tara_Vidyababu.jpg
  tcf_website/views/team_info.json
Due: none

branch created
  tcf_website/api/paginations.py
  tcf_website/api/views.py
  tcf_website/models/models.py
  tcf_website/static/reviews/pagination.css
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

deprecated git lfs, added gdown
  .gitattributes
  scripts/setup.sh
Due: none

Made fixes to pie chart, updated chart.js version
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
Due: eslint, prettier

combined fetch_courses and filter_courses into a single function and simplified logic
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fixed alignment issue on course.html and department.html
  tcf_website/templates/course/course.html
  tcf_website/templates/department/department.html
Due: none

Fix ESLint build error
  doc/dev.md
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
Due: eslint, prettier

updated fetch data with the changes made to sis api
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

feat(about): ann to alums
  tcf_website/static/about/alum-pfps/ENG_Ann_Li.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

fix(course reviews): passing unit tests
  tcf_website/tests/test_course.py
Due: black, isort, pylint, coverage

feat(data): 2025 spring grades
  tcf_website/management/commands/semester_data/csv/2025_spring.csv
Due: none

feat(about): shruti to alums
  tcf_website/static/about/alum-pfps/ENG_Shruti_Bala.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

Delete db/latest.sql
  db/latest.sql
Due: none

removed line after quetsion if no answers present
  tcf_website/templates/qa/qa.html
Due: none

update about page
  tcf_website/static/about/team-pfps/ENG_Ronit_Batra.jpg
  tcf_website/static/about/team-pfps/ENG_Sagun_Venuganti.jpg
  tcf_website/views/team_info.json
Due: none

Fixed writing new reviews
  tcf_website/static/reviews/new_review.js
Due: eslint, prettier

Fixed user review page
  tcf_website/templates/reviews/user_reviews.html
Due: none

add gdown to requirements
  requirements.txt
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
