Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix(ci/cd): use exactly 3.11.0
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci/cd): venv unecessary in ci
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci): use uv docs
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): proper reqs file
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): proper uv cache settinsg
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): disable cache for now
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): don't forget to setup python
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): actually checkout repo
  .github/workflows/continuous-integration.yml
Due: none

feat(ci/cd): proper uv config
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci): try to reimplmenet caching
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): cache uv
  .github/workflows/continuous-integration.yml
Due: none

feat(ci): separate requirements file
  .github/workflows/continuous-integration.yml
  requirements-ci.txt
Due: none

fix(ci): pylint needs tqdm
  requirements-ci.txt
Due: none

remove secrets
  db/latest.sql
Due: none

fixed bug with filter summary, also made it blank by default, only shows days now
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
Due: black, isort, pylint, coverage

Start fixing google auth
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

fixed day filter issues
  tcf_website/templates/search/searchbar.html
Due: none

fix: removed newline in url and removed deprecated script
  tcf_website/templates/course/course_professor.html
Due: none

added pagination, improved ease of use by adding page number selectors and modularity for when over 3 pages
  tcf_website/api/paginations.py
  tcf_website/models/models.py
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

added styling for pagination, and fixed logic to be dynamic based on what page is currently selected
  tcf_website/models/models.py
  tcf_website/static/reviews/pagination.css
  tcf_website/templates/reviews/reviews.html
Due: black, isort, prettier, pylint, coverage

deprecated FlexiblePagination
  tcf_website/api/paginations.py
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

pylint fix
  tcf_website/api/paginations.py
Due: black, isort, pylint, coverage

added deprecation warning to FlexiblePagination class
  tcf_website/api/paginations.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
