Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

changed reviews_per_page to 10 (changed to 3 for system testing)
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

pylint fix
  tcf_website/api/paginations.py
Due: black, isort, pylint, coverage

added deprecation warning to FlexiblePagination class
  tcf_website/api/paginations.py
Due: black, isort, pylint, coverage

Delete db/latest.sql
  db/latest.sql
Due: none

correct pylint failures and fix django error
  tcf_website/migrations/0017_merge_20250102_1752.py
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/urls.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

update lock file, supress minor warning
  package-lock.json
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

add model fields for schedules
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

create schedule page and add url
  tcf_website/models/__init__.py
  tcf_website/static/icons/icons.html
  tcf_website/static/schedule/schedule_stats.css
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

add simple schedule creation and list view of user schedules
  tcf_website/admin.py
  tcf_website/migrations/0010_schedule_scheduledcourse.py
  tcf_website/templates/schedule/new_schedule.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add second modal functionality and backend for displaying availble courses
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

fix section modal to display duplicate times for different sections
  tcf_website/models/models.py
  tcf_website/static/schedule/course_section_modal.css
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

add save course functionality
  tcf_website/models/models.py
  tcf_website/static/schedule/course_section_modal.css
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

fix bug with scheduledCourse saving, add tags files
  tcf_website/templates/schedule/schedule.html
  tcf_website/templatetags/__init__.py
  tcf_website/templatetags/custom_tags.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add schedule delete
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add schedule rating and difficulty, fix some small bugs
  tcf_website/models/models.py
  tcf_website/static/schedule/schedules_list.css
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

fix double submissions in the modal, adjust success message for deleting schedule
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

reformat modals, add schedule stats to delete modal
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add create schedule modal
  tcf_website/templates/schedule/create_schedule_modal.html
  tcf_website/templates/schedule/schedule_builder.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

change default value for course units to three
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

start parse time functionality
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/schedule.html
Due: eslint, prettier

add null value handling for schedule rating
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

reformat select schedules modal, begin work on edit schedules
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

add starter suggestions for first sprint: time parsing
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
Due: eslint, prettier
