Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

remove instructors from filters (not even used)
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

rename template titles with | instead of -; make paginator retain list url params; cleanup filters logic with local storage
  tcf_core/context_processors.py
  tcf_website/static/search/filters.js
  tcf_website/templates/404.html
  tcf_website/templates/about/about.html
  tcf_website/templates/about/privacy.html
  tcf_website/templates/about/terms.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/category.html
  tcf_website/templates/common/pagination.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/department/department.html
  tcf_website/templates/instructor/instructor.html
  tcf_website/templates/profile/profile.html
  tcf_website/templates/reviews/edit_review.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/templates/reviews/user_reviews.html
  tcf_website/templates/schedule/schedule_builder.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/templates/search/search.html
  tcf_website/templates/search/searchbar.html
Due: black, isort, eslint, prettier, pylint, coverage

normalize discipline names for proper localstorage saving and retrieval
  tcf_website/static/search/filters.js
Due: eslint, prettier

eslint
  tcf_website/static/search/filters.js
Due: eslint, prettier

eslint changes
  package-lock.json
  package.json
Due: none

added dbml file
  db/dbschema.dbml
Due: none

added dbml file and updated dbml-schema
  db/dbschema.dbml
  db/dbschema.jpg
Due: none

fix: clean up stale db connection in enrollment update thread
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

fix: update local db reset scripts and upgrade to postgres 17.5
  .gitignore
  docker-compose.yml
  scripts/dump.sh
  scripts/format.sh
  scripts/local_dump.sh
  scripts/reset-db.sh
Due: none

fix: update prod db dump script via EC2 ssh
  .env.example
  .gitignore
  scripts/prod_dump.sh
Due: none

resolve searchbar html merge conflict
  tcf_website/templates/search/searchbar.html
Due: none

fix(browse): give instructors rating attribute for their average rating for a course
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

update css for course/club mode toggle in dark mode
  tcf_website/static/base/tcf-style.css
  tcf_website/static/club/mode_toggle.css
Due: prettier

update css for search filters in dark mode
  tcf_website/static/base/tcf-style.css
  tcf_website/static/search/searchbar.css
Due: prettier

update css for course/club toggle on the browse page in dark mode
  tcf_website/static/club/mode_toggle.css
Due: prettier

update css for department dropdown on browse page in dark mode
  tcf_website/static/browse/browse.css
Due: prettier

replace dark mode icon button with animated toggle switch
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/base/navbar.html
  tcf_website/templates/landing/landing.html
Due: prettier

fix styling on miscellaneous items
  tcf_website/static/about/about.css
  tcf_website/static/base/tcf-style.css
Due: prettier

fix styling on miscellaneous places
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/club/category.html
  tcf_website/templates/common/rating_card.html
Due: prettier

fix card styling on landing page
  tcf_website/static/base/tcf-style.css
  tcf_website/static/landing/landing.css
Due: prettier

fix search bar styling on landing page
  tcf_website/static/base/tcf-style.css
Due: prettier

fix search bar focus styling on landing page
  tcf_website/static/base/tcf-style.css
Due: prettier

update exec
  tcf_website/views/team_info.json
Due: none

exec update 2025-26
  tcf_website/views/team_info.json
Due: none

fix (clubs): switch search placeholder text on search mode toggle
  tcf_website/static/club/mode_toggle.js
Due: eslint, prettier

fix (clubs): search placeholder text ESLINT
  tcf_website/static/club/mode_toggle.js
Due: eslint, prettier

added cursor pointer to home screen clickables
  tcf_website/templates/landing/landing.html
Due: none

source env in scripts
  scripts/local_dump.sh
  scripts/prod_dump.sh
  scripts/reset-db.sh
Due: none

docs update for setup 2025
  doc/dev.md
Due: prettier

doc cleanup 2025
  doc/dev.md
Due: prettier

reset db script for windows
  scripts/reset-db.sh
Due: none

Added himesh profile picture
  tcf_website/views/team_info.json
Due: none

Richard's picture
  tcf_website/static/about/team-pfps/ENG_Richard_He.jpg
Due: none

added team team_info
  tcf_website/views/team_info.json
Due: none

stupid comma
  tcf_website/views/team_info.json
Due: none

add my pfp
  tcf_website/static/about/team-pfps/ENG_Jack_Rhoa.jpg
  tcf_website/views/team_info.json
Due: none

+ profile picture and member info
  tcf_website/static/about/team-pfps/ENG_Phong_Le.jpg
  tcf_website/views/team_info.json
Due: none

added about pic + info
  tcf_website/static/about/team-pfps/ENG_Ayan_Rasulova.jpg
  tcf_website/views/team_info.json
Due: none

fix: modernize browse card
  tcf_website/static/browse/browse.css
Due: prettier
