Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

update aws provider for terraform
  iac/terraform.tf
Due: none

route s3 through cloudfront and disable public access
  iac/cloudfront.tf
  iac/s3.tf
Due: none

add redis cache to terraform
  iac/cloudwatch.tf
  iac/ecs.tf
  iac/elasticache.tf
  iac/iam.tf
  iac/outputs.tf
  iac/secrets.tf
  iac/security-groups.tf
Due: none

create a private subnet for rds
  iac/networking.tf
  iac/rds.tf
Due: none

force cloudfront acm to always be in us east 1
  iac/acm.tf
  iac/main.tf
Due: none

update the cognito domain provided
  iac/secrets.tf
Due: none

fixed ruff formatting issue
  tcf_core/settings/health_check_middleware.py
Due: black, isort, pylint, coverage

move ecs and rds into only 1f
  iac/ecs.tf
  iac/rds.tf
Due: none

drop invalid header fields to prevent HTTP request smuggling
  iac/alb.tf
Due: none

change container to listen on port 8000
  scripts/container-startup.sh
Due: none

require cognito email verification
  iac/cognito.tf
Due: none

working poc for terraform
  iac/alb.tf
  iac/cloudfront.tf
  iac/ecr.tf
  iac/ecs.tf
  iac/locals.tf
  iac/main.tf
  iac/networking.tf
  iac/rds.tf
  iac/s3.tf
  iac/variables.tf
  tcf_core/settings/base.py
  tcf_core/settings/health_check_middleware.py
Due: black, isort, pylint, coverage

disable access to alb outside cloudfront
  iac/data.tf
  iac/security-groups.tf
Due: none

fix cognito supported idp
  iac/cognito.tf
Due: none

merge all tags together for resources
  iac/main.tf
Due: none

allow passwordless OTP
  iac/cognito.tf
Due: none

update cognito oauth urls
  iac/cognito.tf
Due: none

add cognito managed login
  iac/assets/form_logo_light.svg
  iac/assets/page_background_light.png
  iac/assets/page_footer_logo_light.png
  iac/assets/page_header_logo_light.png
  iac/branding-settings.json
  iac/cognito.tf
Due: none

set up terraform
  Dockerfile
  iac/.gitignore
  iac/acm.tf
  iac/alb.tf
  iac/cloudfront.tf
  iac/cloudwatch.tf
  iac/cognito.tf
  iac/data.tf
  iac/ecr.tf
  iac/ecs.tf
  iac/iam.tf
  iac/locals.tf
  iac/main.tf
  iac/networking.tf
  iac/outputs.tf
  iac/rds.tf
  iac/route53.tf
  iac/s3.tf
  iac/secrets.tf
  iac/security-groups.tf
  iac/terraform.tf
  iac/variables.tf
  scripts/container-startup.sh
  tcf_core/settings/prod.py
Due: black, isort, pylint, coverage

remove debug print statement
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

(fix): Changed migration 0024 name
  tcf_website/migrations/0024_question_title.py
  tcf_website/migrations/0025_question_instructor_optional.py
Due: black, isort, pylint, coverage

fix: notify user when resetting password with unregistered email
  tcf_website/templates/site/auth/forgot_password.html
  tcf_website/templates/site/common/modals/_login.html
  tcf_website/tests/test_auth.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/auth/__init__.py
Due: black, isort, pylint, coverage

fix: use case-insensitive email lookup in forgot_password view
  tcf_website/tests/test_auth.py
  tcf_website/views/auth/__init__.py
Due: black, isort, pylint, coverage

(fix): Added 'not taken' tag on answers and removed success messages
  tcf_website/migrations/0029_alter_answer_semester.py
  tcf_website/models/models.py
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_answer_item.html
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

(fix): Allowed users to reply to questions multiple times and also made deleted replies not delete subsequent replies
  tcf_website/migrations/0030_remove_answer_unique_answer_per_user_and_question.py
  tcf_website/models/models.py
  tcf_website/static/qa/new_answer.js
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_answer_item.html
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/_question_list.html
  tcf_website/templates/qa/qa.html
  tcf_website/tests/test_qa.py
  tcf_website/urls.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

Did coderabbit suggested changes
  tcf_website/migrations/0029_alter_answer_semester.py
  tcf_website/models/models.py
  tcf_website/static/qa/new_answer.js
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_answer_item.html
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/_question_list.html
Due: black, isort, eslint, prettier, pylint, coverage

revert container listen to port 80
  scripts/container-startup.sh
Due: none

improve docs
  doc/archive/FOIA-grade-data.md
  doc/dev.md
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
Due: prettier

Fix zombie task on deployment
  Dockerfile
Due: none
