Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

changed filter time frontend + backend
  tcf_core/context_processors.py
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
Due: black, isort, pylint, coverage

fixed issue with beacon flashing
  tcf_website/templates/search/searchbar.html
Due: none

adjusted width of time selection
  tcf_website/templates/search/searchbar.html
Due: none

feat(about): tara to d&m
  tcf_website/static/about/team-pfps/DM_Tara_Vidyababu.webp
  tcf_website/views/team_info.json
Due: none

design cleanup
  tcf_website/management/commands/fetch_data.py
  tcf_website/templates/course/course_professor.html
Due: black, isort, pylint, coverage

top align progress bars
  tcf_website/templates/course/course_professor.html
Due: none

show first 5 sections; click section to see sis course
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
Due: prettier

added padding to top
  tcf_website/static/course/course_professor.css
Due: prettier

python command for enrollment
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
Due: black, isort, pylint, coverage

first pylint fix
  tcf_website/api/enrollment.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/utils/enrollment.py
Due: black, isort, pylint, coverage

switching to already defined setup function for testing
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
Due: black, isort, pylint, coverage

add deploy using aws into cicd
  .github/workflows/continuous-integration.yml
Due: none

update .env.example
  .config/.env.example
Due: none

tooltip cleanup
  tcf_website/templates/search/searchbar.html
Due: none

course enrollment model
  tcf_website/admin.py
  tcf_website/api/enrollment.py
  tcf_website/migrations/0019_courseenrollment.py
  tcf_website/models.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

two hour updating limit
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Fixed search not working due to new filter system
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

minor enrollment update fix
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

adding open sections back to searchbar
  tcf_website/templates/search/searchbar.html
Due: none

fixed time filter not working when date is empty
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

added some playwright test for search
  tcf_website/playwright_tests/test_search.py
Due: black, isort, pylint, coverage
