Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix(enrollment): fix tests
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/tests/test_enrollment.py
Due: black, isort, pylint, coverage

Simplify enrollment (#1204)
  tcf_website/admin.py
  tcf_website/api/enrollment.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/migrations/0023_remove_sectionenrollment_section_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

fix(instructors): fix instructor dropdown and clean up instructors api
  tcf_website/api/filters.py
  tcf_website/api/views.py
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/reviews/new_review.js
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/reviews/review_form_content.html
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

eslint
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/reviews/new_review.js
Due: eslint, prettier

fix(instructors): fix instructor dropdown and clean up instructors api (#1205)
  tcf_website/api/filters.py
  tcf_website/api/views.py
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/reviews/new_review.js
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/reviews/review_form_content.html
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(aws): ensure upload to s3 (testing)
  .github/workflows/aws.yml
Due: none

revert
  .github/workflows/aws.yml
Due: none

fix(Docker): container-starutup.sh is already running as a command in prod
  Dockerfile
Due: none

feat(cache): test CI caching with uv
  .github/workflows/ci.yml
Due: none

revert
  .github/workflows/ci.yml
Due: none

fix(docker-compose): cleanup
  docker-compose.yml
Due: none

fix(dependencies): move coverage to dev dependencies
  pyproject.toml
Due: none

uv.lock
  uv.lock
Due: none

Use uv (#1183)
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  pyproject.toml
  requirements.txt
  scripts/container-startup.sh
  uv.lock
Due: none

fix(ads): show ads.txt on /ads.txt via static files in S3
  tcf_website/static/ads.txt
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/ads.py
Due: black, isort, pylint, coverage

fix(uv): uv run gunicorn
  scripts/container-startup.sh
Due: none

feat(ads): let google auto place ads
  tcf_website/templates/base/index.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/category.html
  tcf_website/templates/club/club.html
  tcf_website/templates/common/leaderboard_ad.html
  tcf_website/templates/course/course.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/department/department.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/templates/search/search.html
Due: none

Revert "Use uv (#1183)"
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  pyproject.toml
  requirements.txt
  scripts/container-startup.sh
  uv.lock
Due: none

fix(ads): correct google auto ads syntax
  tcf_website/templates/base/index.html
Due: none

Ad opt (#1206)
  tcf_website/templates/base/index.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/category.html
  tcf_website/templates/club/club.html
  tcf_website/templates/common/leaderboard_ad.html
  tcf_website/templates/course/course.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/department/department.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/templates/search/search.html
Due: none

Revert "Ad opt (#1206)"
  tcf_website/templates/base/index.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/category.html
  tcf_website/templates/club/club.html
  tcf_website/templates/common/leaderboard_ad.html
  tcf_website/templates/course/course.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/department/department.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/templates/search/search.html
Due: none

revert only auto ads; add auto + manual
  tcf_website/templates/base/index.html
Due: none

adding reply functionality
  tcf_website/migrations/0023_reply.py
  tcf_website/models/models.py
  tcf_website/static/reviews/review.css
  tcf_website/templates/reviews/review.html
  tcf_website/urls.py
  tcf_website/views/review.py
Due: black, isort, prettier, pylint, coverage

add similarity calculations and reranking
  requirements.txt
  tcf_website/management/commands/generate_related_courses.py
  tcf_website/migrations/0023_course_prerequisites.py
Due: black, isort, pylint, coverage

Fix Pylint errors: remove unused imports, unnecessary pass, long lines, and trailing newlines
  tcf_core/settings/base.py
  tcf_website/tests/test_calendar_overview.py
  tcf_website/tests/test_event_detail.py
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

Update test_event_detail.py
  tcf_website/tests/test_event_detail.py
Due: black, isort, pylint, coverage

Fix calendar feature issues: add docstrings, handle None semester in context processor, and correct test URLs
  tcf_core/context_processors.py
  tcf_website/tests/test_event_detail.py
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

Update calendar test to use future dates for upcoming events
  tcf_website/tests/test_calendar_overview.py
Due: black, isort, pylint, coverage

Remove unnecessary pass statement and placeholder test method
  tcf_website/tests/test_event_detail.py
Due: black, isort, pylint, coverage

Remove trailing whitespace
  tcf_website/tests/test_event_detail.py
Due: black, isort, pylint, coverage

Add tag filter feature to Club Calendar with dropdown menu and 6x6 grid layout
  tcf_website/templates/calendar/calendar_overview.html
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

marketing photos from drive
  tcf_website/static/about/team-pfps/DM_Bree_Bonner.JPG
  tcf_website/static/about/team-pfps/DM_Ivy_Kim.jpg
  tcf_website/static/about/team-pfps/DM_Kelly_Tran.jpg
  tcf_website/static/about/team-pfps/DM_Maya_Degafe.png
  tcf_website/views/team_info.json
Due: none

actual marketing photos from drive
  tcf_website/static/about/team-pfps/DM_Dylan_Klein.jpg
  tcf_website/static/about/team-pfps/DM_Kelly_Yue.JPG
  tcf_website/static/about/team-pfps/DM_Tiffany_Park.jpg
  tcf_website/views/team_info.json
Due: none

eng photos from drive
  tcf_website/static/about/team-pfps/ENG_Blaire_Zhao.jpg
  tcf_website/static/about/team-pfps/ENG_Julia_Chen.jpg
  tcf_website/static/about/team-pfps/ENG_Shrikar_Sirobhushanam.jpg
  tcf_website/views/team_info.json
Due: none

Remove unused ENABLE_CLUB_CALENDAR flag and context processor
  tcf_core/context_processors.py
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

corrected shrikar's year
  tcf_website/views/team_info.json
Due: none

Fix trailing newlines in context_processors.py
  tcf_core/context_processors.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
