Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

added popup when running out of guesses and disable further submissions
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

Implemented events in calendars
  tcf_website/templates/calendar/calendar_overview.html
Due: none

add confetti and lock options after winning the game (also added myself to about section)
  tcf_website/static/about/team-pfps/ENG_Richard_He.jpg
  tcf_website/templates/game/game.html
  tcf_website/views/team_info.json
Due: none

tab autocomplete displayed under the search bar and review filter (20+words) to reduce "impossible-to-guess" scenarios
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, prettier, pylint, coverage

search function includes course title
  tcf_website/templates/game/game.html
Due: none

clear search bar after each suggestion
  tcf_website/templates/game/game.html
Due: none

confetti appears on top of a "you win" popup (and there's also more of it)
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

feat(search): search results weighted on recency and number of reviews
  tcf_website/views/catalog/search.py
Due: black, isort, pylint, coverage

fix(search): improved weights -- less bias for popular courses
  tcf_website/views/catalog/search.py
Due: black, isort, pylint, coverage

upload pfp
  tcf_website/data/about/team_alums.json
  tcf_website/data/about/team_info.json
  tcf_website/management/commands/review_drives/2023_fall.csv
  tcf_website/static/about/alum-pfps/ENG_Yilin_Wang.jpg
  tcf_website/static/about/alum-pfps/jtran.jpeg
Due: none

consolidate dynamo sessions and fix TTL bugs
  tcf_website/analytics_utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

style: apply ruff formatting to analytics and pages
  tcf_website/analytics_utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

production-ready query with DynamoDB
  tcf_website/analytics_utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

style: final ruff linting fixes for CI
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

style: finalize pixel-perfect flexbox alignment for trending cards
  tcf_website/static/css/site/pages/landing.css
  tcf_website/templates/site/home/landing.html
Due: prettier

refactor: optimize queries and clean up badge styling
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

style: final responsive stack and linter compliance
  tcf_website/static/css/site/pages/landing.css
  tcf_website/templates/site/home/landing.html
  tcf_website/views/home/pages.py
Due: black, isort, prettier, pylint, coverage

style: normalize line endings and synchronize ruff formatting
  .coveragerc
  .env.example
  .vscode/extensions.json
  .vscode/settings.json
  db/export_mapping_table.sql
Due: none

fix: restore project config files and finalize trending UI
  .coveragerc
  .env.example
  .vscode/extensions.json
  .vscode/settings.json
  db/export_mapping_table.sql
Due: none

style: final djlint formatting fix for landing page
  tcf_website/templates/site/home/landing.html
Due: none

refactor: apply CodeRabbit suggestions for AWS fallback, privacy, and accessibility
  tcf_website/analytics_utils.py
  tcf_website/static/css/site/pages/landing.css
  tcf_website/templates/site/home/landing.html
  tcf_website/views/home/pages.py
Due: black, isort, prettier, pylint, coverage

style: final formatter sync for CI
  tcf_website/analytics_utils.py
  tcf_website/templates/site/home/landing.html
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

updated help box + added colors for course numbers to change guesses based on ranges
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, prettier, pylint, coverage

updated help box information
  tcf_website/templates/game/game.html
Due: none

blank placeholder boxes, removed upon first guess
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

update help box + changed incorrect school guess to red, not gray
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

changed the "close" to 500
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

changed color
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

limit course suggestions to those with 4 digit course codes
  tcf_website/templates/game/game.html
Due: none

allow the user to press up/down arrow to scroll through dropdown menu
  tcf_website/templates/game/game.html
Due: none

change initial blank block size so it's identical to the layout post-guess
  tcf_website/static/game/game.css
Due: prettier

added flip animation for FIRST GUESS (grey tiles flip over)
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

fixed orange on hover
  tcf_website/static/common/rating_card.css
  tcf_website/static/game/game.css
Due: prettier

fixed general flip styling issues
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

cleanup: hints, win
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, prettier, pylint, coverage

fix formatting
  docker-compose.yml
  scripts/reset-db.sh
Due: none

Fix ImportError by exposing VoteAnswer and VoteQuestion models
  tcf_website/models/__init__.py
Due: black, isort, pylint, coverage

Created karma system
  tcf_website/management/commands/recalculate_karma.py
  tcf_website/views/profile.py
  tcf_website/views/qa.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

generalize animation and tile row creation to all rows
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

refactor: cleanup dead imports and solidify analytics write path
  .env.example
  tcf_website/analytics_utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage
