Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Disable partial token deletion
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix docker volumes
  docker-compose.yml
Due: none

chore: skirt pylint
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Small search improvements for edge cases
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Style fix
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Removed unused method
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

pylint fix
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fixed script file
  scripts/reset-db.sh
Due: none

Adding misc files
  .prettierignore
  docs/archive/grade-data.md
  docs/archive/home.md
  docs/archive/release-history.md
  docs/archive/search.md
  docs/archive/semester-data.md
  docs/archive/update-guide.md
  docs/dev.md
  docs/useful-commands.md
  scripts/dump.sh
  scripts/format.bat
  scripts/format.sh
  scripts/reset-db.bat
  tcf_website/management/commands/index_elasticsearch.py
  tcf_website/migrations/0010_trigram_extension.py
Due: black, isort, prettier, pylint, coverage

edits
  .githooks/pre-commit
  manage.py
  package-lock.json
  requirements.txt
  scripts/reset-db.bat
  tcf_website/api/urls.py
  tcf_website/templates/course/course.html
  tcf_website/urls.py
  tcf_website/views/browse.py
  tcf_website/views/recommender.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: pylint
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

clean up similarity logic
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: revert script changes
  scripts/reset-db.sh
Due: none

Fixing width. It goes to the search bar working on excluding now.
  tcf_website/templates/search/searchbar.html
Due: none

Fixed width using a resize function in js
  tcf_website/templates/search/searchbar.html
Due: none

change default value for course units to three
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

Removed unnecessary line duplication
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Added auto redirect instead of search
  tcf_website/templates/search/searchbar.html
Due: none

updated parse time method
  tcf_website/static/schedule/parse_time.js
Due: eslint, prettier

Revert "no more barrel"
  tcf_website/static/about/team-pfps/ENG_Barrett_Ruth.jpg
  tcf_website/views/team_info.json
Due: none

fix: add barrett back
  tcf_website/static/about/team-pfps/ENG_Barrett_Ruth.jpg
  tcf_website/static/about/team-pfps/ENG_Barrett_Ruth.webp
  tcf_website/views/team_info.json
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
