Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Fix pylint errors
  tcf_core/auth_pipeline.py
Due: black, isort, pylint, coverage

Style fixes
  tcf_core/auth_pipeline.py
Due: black, isort, pylint, coverage

Added login fix banner
  tcf_website/templates/browse/browse.html
  tcf_website/templates/common/login-fix-banner.html
  tcf_website/templates/landing/landing.html
Due: none

typo fixed
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Update dev.md
  docs/dev.md
Due: prettier

start parse time functionality
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/schedule.html
Due: eslint, prettier

Make fetch_data command
  tcf_website/management/commands/fetch_data_command.py
Due: black, isort, pylint, coverage

add backoff to requirements
  requirements.txt
Due: none

fix linting
  tcf_website/management/commands/fetch_data_command.py
Due: black, isort, pylint, coverage

switched meetings[0] to meetings.get(0)
  tcf_website/management/commands/fetch_data_command.py
Due: black, isort, pylint, coverage

fixed linting 2
  tcf_website/management/commands/fetch_data_command.py
Due: black, isort, pylint, coverage

change command name to fetch_data
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

command takes arguments: 2023 spring instead of 1232
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/sis_csv/2023_spring.csv
Due: black, isort, pylint, coverage

Implement tqdm for each page
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

delete file if exists before writing new data
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Created command to read in CSV to models
  tcf_website/management/commands/review_drive_responses/fall_2023_review_drive_responses.csv
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

fix: improve readability w/ formatting and small refactors
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

fix: more formatting
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

feat: tqdm types
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
  requirements.txt
Due: none

reformat modal flow, add schedule card to add section modal
  package-lock.json
  tcf_website/migrations/0011_merge_20240304_1700.py
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
