Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

changesd default value to 0.00 for rating and difficulty
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

reformat the styling and made schedule stats into a grid like view
  tcf_website/static/schedule/schedule.css
  tcf_website/static/schedule/schedule_stats.css
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/user_schedules.html
Due: prettier

Made email nullable
  tcf_website/migrations/0012_alter_review_email.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

feat(courses): grey out courses not being taught
  tcf_website/templates/search/search.html
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Fix initial QA main page display
  tcf_website/templates/qa/qa.html
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

Add temp replacement for question form
  tcf_website/templates/qa/qa.html
Due: none

Progress on fixing context for main QA view
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

Progress on styling fix and answers display
  tcf_website/static/qa/new_answer.js
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/qa/qa.html
Due: eslint, prettier

new answer form html
  tcf_website/templates/qa/answer_form.html
Due: none

updated templates for new_question + new_answer
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

final testing w/ 2024_fall
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
  tcf_website/management/commands/semester_data/sis_csv/2024_fall.csv
Due: black, isort, pylint, coverage

final version (semester_data/csv/2024_fall.csv is generated from SIS API)
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
  tcf_website/management/commands/semester_data/sis_csv/2024_fall.csv
Due: black, isort, pylint, coverage

removed redundant csv folder
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/csv/2024_spring.csv
Due: black, isort, pylint, coverage

Fixed bugs and Updated Recommendation Feature
  tcf_website/templates/course/course.html
  tcf_website/views/browse.py
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

Updated Access Keys
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

fix(data): add back 2024_spring grades
  .python-version
  tcf_website/management/commands/semester_data/csv/2024_spring.csv
Due: none

Revert "Merge pull request #827 from thecourseforum/search-autocomplete"
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
  tcf_website/static/search/search_autocomplete.js
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/auth.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

add new schedule format
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/select_schedule_modal.html
Due: prettier

Add default password reset/change urls
  tcf_website/urls.py
Due: black, isort, pylint, coverage

Add password reset link
  tcf_website/templates/login/login_modal.html
Due: none

Add password change link
  tcf_website/templates/profile/profile.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
