Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Update dev.md
  docs/dev.md
Due: prettier

feat(docs): replace wiki setup
  docs/dev.md
  scripts/reset-db.bat
  scripts/reset-db.sh
Due: prettier

feat(ci): format with prettier, black, isort
  .github/workflows/continuous-integration.yml
Due: none

feat(ci): deprecate old pre-commit approach
  .githooks/pre-commit
  precommit.sh
Due: none

feat(docs): windows docker build error
  docs/dev.md
  docs/useful-commands.md
  scripts/dump.sh
Due: prettier

chore(pylint): ignore rule
  tcf_website/tests/test_commands.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Update reset-db.sh
  scripts/reset-db.sh
Due: none

fix(docs): final setup tweaks
  docs/dev.md
Due: prettier

feat(ci): work with prettier
  .config/.eslintrc.yml
  package-lock.json
  package.json
Due: none

feat(docs): more intuitive way to select review drive winners
  docs/useful-commands.md
Due: prettier

feat(docs): use a safe build
  docs/dev.md
Due: prettier

fix(docker): use separate node_modules to fix overwriting
  docker-compose.yml
Due: none

fix(docs): use backslash in windows paths
  docs/dev.md
Due: prettier

feat(docs): clarify build instructions
  docs/dev.md
Due: prettier

feat(docs): update setup for pre-commit
  docs/dev.md
Due: prettier

feat(format): make prettier dev dependency
  package-lock.json
  package.json
Due: none

added initial elements of Tag class and relationship in question class
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

moved Tag class and fixed manytomany relationship
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

moved Tag class and fixed manytomany relationship (post-save)
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

remove authentication req for dev
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

cleaned up and commented option for selecting multiple courses
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

fix: revert decide_older
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

small readability changes
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

chore: disregard pylint variable name errors
  tcf_website/views/search.py
Due: black, isort, pylint, coverage
