Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

fix(autocomplete): club results now show
  tcf_website/templates/club/mode_toggle.html
Due: none

searchbar html and css fixes
  tcf_website/static/search/autocomplete.js
  tcf_website/static/search/searchbar.css
  tcf_website/templates/search/searchbar.html
Due: eslint, prettier

lint fixes
  tcf_website/static/search/autocomplete.js
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix missing grade data for bar/pie chart on individual instructor course page
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix missing grade data on instructor summary page
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

fix missing grade data on course page listing all instructors
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

fix: isolate dev, ci, prod environemnts; consolidate secrets
  .env.example
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  requirements/base.txt
  requirements/ci.txt
  requirements/dev.txt
  tcf_core/settings/__init__.py
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
  tcf_core/urls.py
Due: black, isort, pylint, coverage

fix(settings): always define settings environment
  docker-compose.yml
  tcf_core/settings/__init__.py
  tcf_core/settings/dev.py
Due: black, isort, pylint, coverage

fix: pylint
  tcf_core/settings/ci.py
  tcf_core/settings/dev.py
  tcf_core/urls.py
Due: black, isort, pylint, coverage

fix: isolate dev, ci, prod environemnts; consolidate secrets (#1215)
  .env.example
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  requirements/base.txt
  requirements/ci.txt
  requirements/dev.txt
  tcf_core/settings/__init__.py
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
  tcf_core/urls.py
Due: black, isort, pylint, coverage

fix(settings): set wsgi default settings to prod
  manage.py
  tcf_core/settings/__init__.py
  tcf_core/wsgi.py
Due: black, isort, pylint, coverage

Added front end design for Q&A dashboard
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/qa/qa_dashboard.html
Due: eslint, prettier

updated the landing about team banner to be centered/more visually appealing and consistent across devices
  tcf_website/templates/landing/landing.html
Due: none

marketing photos from drive
  tcf_website/static/about/team-pfps/DM_Bree_Bonner.JPG
  tcf_website/static/about/team-pfps/DM_Ivy_Kim.jpg
  tcf_website/static/about/team-pfps/DM_Kelly_Tran.jpg
  tcf_website/static/about/team-pfps/DM_Maya_Degafe.png
  tcf_website/views/team_info.json
Due: none

actual marketing photos from drive
  tcf_website/static/about/team-pfps/DM_Dylan_Klein.jpg
  tcf_website/static/about/team-pfps/DM_Kelly_Yue.JPG
  tcf_website/static/about/team-pfps/DM_Tiffany_Park.jpg
  tcf_website/views/team_info.json
Due: none

eng photos from drive
  tcf_website/static/about/team-pfps/ENG_Blaire_Zhao.jpg
  tcf_website/static/about/team-pfps/ENG_Julia_Chen.jpg
  tcf_website/static/about/team-pfps/ENG_Shrikar_Sirobhushanam.jpg
  tcf_website/views/team_info.json
Due: none

Change Course ID to Course Number on sort by department page
  tcf_website/templates/common/toolbar.html
Due: none

added kate dunkle
  tcf_website/static/about/team-pfps/DM_Kate_Dunkle.jpg
  tcf_website/views/team_info.json
Due: none

fixed indentation
  tcf_website/views/team_alums.json
Due: none

corrected shrikar's year
  tcf_website/views/team_info.json
Due: none

moved past members to alum page
  tcf_website/static/about/alum-pfps/DM_Carissa_Chen.jpg
  tcf_website/static/about/alum-pfps/DM_Chai_Zhang.JPG
  tcf_website/static/about/alum-pfps/ENG_AJ_Nye.jpg
  tcf_website/static/about/alum-pfps/ENG_Barrett_Ruth.webp
  tcf_website/static/about/alum-pfps/ENG_Collin_Togher.jpg
  tcf_website/static/about/alum-pfps/ENG_Hari_Gajjala.JPG
  tcf_website/static/about/alum-pfps/ENG_Ja-Zhua_Cheng.jpeg
  tcf_website/static/about/alum-pfps/ENG_Junho_Lee.jpg
  tcf_website/static/about/alum-pfps/ENG_Justin_Park.jpg
  tcf_website/static/about/alum-pfps/ENG_Kingsley_Kim.jpg
  tcf_website/static/about/alum-pfps/ENG_Kyle_Durrer.jpg
  tcf_website/static/about/alum-pfps/ENG_Neha_Bagalkot.jpg
  tcf_website/static/about/alum-pfps/ENG_Olivia_Seto.jpg
  tcf_website/static/about/alum-pfps/ENG_Vivian_Gao.jpg
  tcf_website/static/about/alum-pfps/ENG_Zohaib_Khalid.jpg
  tcf_website/static/about/team-pfps/MAD_Rachita_Pathipati.jpg
  tcf_website/static/about/team-pfps/t2084.jpeg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

centered text
  tcf_website/templates/landing/landing.html
Due: none

merge complex result
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

add similarity calculations and reranking
  requirements.txt
  tcf_website/management/commands/generate_related_courses.py
  tcf_website/migrations/0023_course_prerequisites.py
Due: black, isort, pylint, coverage

add prerequisites into reranking
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

added emily pfp
  tcf_website/static/about/team-pfps/ENG_Emily_Zhou.jpg
  tcf_website/views/team_info.json
Due: none

fixed pfp dimensions
  tcf_website/static/about/team-pfps/ENG_Emily_Zhou.jpg
Due: none

updated vivian to class 2026 per blaire's req
  tcf_website/views/team_alums.json
Due: none

Removed QA test from sidebar
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/qa/qa_dashboard.html
Due: none

Reply Icon
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-reply.svg
Due: prettier

Final Design Modifications
  tcf_website/static/icons/icons.css
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/qa/qa_dashboard.html
Due: prettier

Final Design Changes
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/qa_dashboard.html
Due: eslint, prettier

chore(docs): cleanup
  .gcloudignore
  .nvmrc
  .python-version
  doc/dev.md
  gae-service-account.json.enc
  runtime.txt
Due: prettier

Update developer setup instructions
  doc/dev.md
Due: prettier

Dash Changes
  tcf_website/templates/qa/qa_dashboard.html
Due: none

Design Changes
  tcf_website/templates/qa/qa_dashboard.html
Due: none

Added forum
  tcf_website/models/models.py
  tcf_website/static/forum/forum_dashboard.css
  tcf_website/static/forum/forum_dashboard.js
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/forum/_post_detail.html
  tcf_website/templates/forum/_response_item.html
  tcf_website/templates/forum/forum_dashboard.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/templates/qa/qa_dashboard_hard.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/forum.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

fix: filetype mismatch, addressing missing logo on search
  tcf_website/templates/base/index.html
Due: none
