Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Fixed spaces between text and chart
  tcf_website/templates/course/course_professor.html
Due: none

added alert
  tcf_website/static/reviews/new_review.css
  tcf_website/static/reviews/new_review.js
  tcf_website/templates/reviews/review_form_content.html
Due: eslint, prettier

fixed some styling issues and improved dropdown for min gpa
  tcf_website/templates/search/searchbar.html
Due: none

Added navbar styling
  tcf_website/static/base/navbar.css
  tcf_website/templates/base/navbar.html
Due: prettier

darkmode button
  tcf_website/templates/base/navbar.html
Due: none

some fixes
  tcf_website/templates/search/searchbar.html
Due: none

css progress on adding reply line
  tcf_website/static/qa/qa.css
Due: prettier

Fixed localhost when env is dev
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

created base line linking responses
  tcf_website/static/qa/qa.css
  tcf_website/templates/qa/qa.html
Due: prettier

comments
  tcf_website/api/enrollment.py
Due: black, isort, pylint, coverage

Separated S3 and dev
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Format fix
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Added env var to CI
  .github/workflows/ci.yml
Due: none

Removed unnecessary comment space
  tcf_website/api/filters.py
Due: black, isort, pylint, coverage

fixed issue with dropdown staying open after clicks and styling bugs
  tcf_website/templates/search/searchbar.html
Due: none

fixed gpa not clearing and partially fixed styling for availability section
  tcf_core/settings/base.py
  tcf_website/templates/search/searchbar.html
Due: black, isort, pylint, coverage

Fix: fixed reset button issue
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

reverted base.py
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix(ads): cors
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix: he has to be joking right?
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
