Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Fixed the GPA trend - Spring should now go before Fall and added a No History Found for 1 or less points found
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

new threshold
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

corrected category field
  tcf_website/management/commands/evaluate_reviews.py
  tcf_website/migrations/0020_review_toxicity_category_review_toxicity_rating.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

Update styling for GPA graph
  tcf_website/templates/course/course_professor.html
Due: none

corrected hiding reviews
  tcf_website/models/models.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

num reviews
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

restore package, package-lock.json
  package-lock.json
  package.json
Due: none

fix line feed and python version
  .python-version
  requirements.txt
Due: none

fix: revert package-lock.json
  package-lock.json
Due: none

feat: rename cmd
  tcf_website/management/commands/evaluate_review_toxicity.py
Due: black, isort, pylint, coverage

feat: format
  .github/workflows/aws.yml
  package-lock.json
  tcf_core/settings/base.py
  tcf_website/api/enrollment.py
  tcf_website/api/views.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/migrations/0017_sectiontime.py
  tcf_website/migrations/0018_courseenrollment_sectionenrollment.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/course/course_professor.css
  tcf_website/static/icons/icons.css
  tcf_website/static/landing/landing.css
  tcf_website/static/reviews/pagination.css
  tcf_website/templatetags/custom_tags.py
  tcf_website/tests/test_browse.py
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

fix(ci): pylint
  pyproject.toml
  tcf_website/management/commands/evaluate_review_toxicity.py
Due: black, isort, pylint, coverage

Accepted changes
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Disabled onClick for line chart legend
  tcf_website/templates/course/course_professor.html
Due: none

imported timezone; it somehow got lost in the merge
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

added search pagination
  tcf_website/templates/search/search.html
  tcf_website/templatetags/url_utils.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

aligned search pagination ui and styling with the reviews pagination implmentation
  tcf_website/templates/search/search.html
Due: none

Changed input border color to dark gray (#242424)
  tcf_website/static/base/tcf-style.css
Due: prettier

Override autofill setting from User Agent Stylesheet
  tcf_website/static/base/tcf-style.css
Due: prettier

Added modal background-color styling
  tcf_website/static/base/tcf-style.css
Due: prettier

Added modal border color styling
  tcf_website/static/base/tcf-style.css
Due: prettier

moved changes from min_gpa to gpa-search due to conflicts
  tcf_core/context_processors.py
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

minor changes to fix styling
  tcf_website/templates/search/searchbar.html
Due: none

fixed styling with availability and gpa search
  tcf_website/templates/search/searchbar.html
Due: none

fixed issue with gpa input javascript
  tcf_website/templates/search/searchbar.html
Due: none

Made more dark-mode changes
  tcf_website/static/base/tcf-style.css
Due: prettier

fixing open section filter
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

formatting changes
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
Due: prettier

Made dark-mode changes to the course prof page
  tcf_website/static/course/course_professor.css
Due: prettier

no review/grade data case handling
  tcf_website/templates/course/course_professor.html
Due: none

added buttons for last page and first page for review pagination and dept pagination
  tcf_website/models/models.py
  tcf_website/templates/department/department.html
  tcf_website/templates/reviews/reviews.html
Due: black, isort, pylint, coverage

working cognito login
  .env.example
  requirements.txt
  tcf_core/cognito_middleware.py
  tcf_core/settings/base.py
  tcf_website/auth_backends.py
  tcf_website/static/login/google_login_spritesheet.png
  tcf_website/templates/login/email_verification.html
  tcf_website/templates/login/google_login_button.html
  tcf_website/templates/login/login_form.html
  tcf_website/templates/login/login_modal.html
  tcf_website/templates/login/password_reset.html
  tcf_website/templates/login/password_reset_complete.html
  tcf_website/templates/login/password_reset_done.html
  tcf_website/templates/login/password_reset_form.html
  tcf_website/templates/login/register_form.html
  tcf_website/urls.py
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

lint
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

ci/cd
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

pylint
  tcf_core/cognito_middleware.py
  tcf_website/auth_backends.py
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

pylint2
  tcf_website/auth_backends.py
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

username is computing_id
  tcf_website/auth_backends.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
