Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Fixed text overflowing in chat box
  tcf_website/static/landing/landing.css
Due: prettier

perf(filters): cache filter options (rarely changes)
  tcf_core/context_processors.py
Due: black, isort, pylint, coverage

feat(health): add health check endpoint for db connection
  Dockerfile
  tcf_core/health.py
  tcf_core/urls.py
Due: black, isort, pylint, coverage

pylint
  tcf_core/health.py
Due: black, isort, pylint, coverage

add prereqs as a field for course model
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

add prereqs as a JSON field for course model
  tcf_website/models/models.py
  tcf_website/views/team_info.json
Due: black, isort, pylint, coverage

updated script to read env
  scripts/reset-db.sh
Due: none

added karma stat to profile
  tcf_website/migrations/0023_user_karma.py
  tcf_website/templates/reviews/review_stats.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/views/profile.py
Due: black, isort, pylint, coverage

Remove calendar-related feature flags and conditional logic, standardize styling, fix syntax errors, and update tests
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/services/presence.py
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/calendar/calendar_overview.html
  tcf_website/templates/calendar/event_detail.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/tests/test_calendar_overview.py
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

feat(debug): django debug toolbar in dev
  requirements.txt
  tcf_core/settings/base.py
  tcf_core/urls.py
Due: black, isort, pylint, coverage

Added profile photo
  tcf_website/static/about/team-pfps/ENG_Adrian_Villanueva.jpg
Due: none

Added Adrian Villanueva to about
  tcf_website/views/team_info.json
Due: none

Finalize calendar feature removal: clean settings, update templates, fix views, add tests
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_core/settings/prod.py
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/calendar/disabled.html
  tcf_website/templates/calendar/event_detail.html
  tcf_website/tests/test_calendar_overview.py
  tcf_website/tests/test_event_detail.py
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

Update tcf_core/settings/base.py
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix: moved card to bottom
  tcf_website/views/team_info.json
Due: none

initial summary feature
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/migrations/0023_reviewllmsummary.py
  tcf_website/migrations/0024_rename_tcf_website_reviewllmsum_course_instr_idx_tcf_website_course__a7afbf_idx_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/services/__init__.py
  tcf_website/services/review_llm.py
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

summary feature helper tests
  tcf_website/tests/test_review.py
Due: black, isort, pylint, coverage

comment adjustment
  tcf_website/migrations/0023_reviewllmsummary.py
Due: black, isort, pylint, coverage

Add flags context processor with docstring and fix calendar icon color in sidebar
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/templates/base/sidebar.html
Due: black, isort, pylint, coverage

chore(docs): remove one command setup
  doc/dev.md
Due: prettier

perf(sql): instructor_view optimized query (longest query in performance insights)
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Optimize SQL queries (#1199)
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

added information about Julia Chen to team_indo.json
  tcf_website/management/commands/test.py
  tcf_website/views/team_info.json
Due: black, isort, pylint, coverage

feat(autocomplete): dry view and cursor hover for results
  tcf_website/static/search/autocomplete.js
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

Remove Julia Chen from team_info.json
  tcf_website/views/team_info.json
Due: none

Delete tcf_website/management/commands/generate_related_courses.py
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

Fix JSON formatting in team_info.json
  tcf_website/views/team_info.json
Due: none

Refactor prerequisite extraction logic
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

update CI to use python 3.12
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

use uv for package management and build
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  pyproject.toml
  requirements.txt
  scripts/container-startup.sh
  uv.lock
Due: none

fix(course_professor): remove instructor data jquery, do all loading server-side
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix(reviews): redundant sort_reviews embed
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/templates/reviews/reviews.html
Due: eslint, prettier

fix(browse): remove unnecessary js for toggling cards on click
  tcf_website/templates/browse/browse.html
  tcf_website/templates/instructor/instructor.html
Due: none

fix(search): don't filter for min gpa when set to 0.0
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): don't filter for min gpa when set to 0.0 (#1203)
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(enrollment): add enrollment info to Section model; only fetch sections + enrollment on dropdown
  tcf_website/admin.py
  tcf_website/api/enrollment.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/migrations/0023_remove_sectionenrollment_section_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

fix(fetch_data): add waitlist limit
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage
