Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

fix silly pylint suggestion
  tcf_website/templatetags/custom_tags.py
Due: black, isort, pylint, coverage

fix non-clickable schedule when there are no courses
  tcf_website/templates/schedule/schedule.html
Due: none

detoxify sentiment analysis
  requirements.txt
  tcf_website/urls.py
  tcf_website/utils/comprehend_service.py
  tcf_website/views/__init__.py
  tcf_website/views/comprehend.py
  tcf_website/views/index.py
Due: black, isort, pylint, coverage

fix django app error
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

moderation script
  package-lock.json
  package.json
  requirements.txt
  tcf_website/management/commands/evaluate_reviews.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

corrected indexing
  tcf_website/management/commands/evaluate_reviews.py
Due: black, isort, pylint, coverage

updated script
  tcf_website/management/commands/evaluate_reviews.py
  tcf_website/migrations/0020_review_toxicity_catgory_review_toxicity_rating.py
Due: black, isort, pylint, coverage

feat: styling for page buttons
  tcf_website/templates/department/department.html
Due: none

feat(dept): page numbers for course results. Styling todo
  tcf_website/templates/department/department.html
Due: none

feat (department): support for ten courses per page given a department
  tcf_core/settings/base.py
  tcf_website/models/models.py
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

pull dev
  tcf_core/settings/base.py
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: preserve query params when navigating pages
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

filtering reviews based on toxicity
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

updated toxicity threshold
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

Fixed .csv parser to work with different professors & fixed formatting of the axises
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Tweaked formatting so it's like F23 instead of F 23
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Fixes sidebar and landing icon coloring
  tcf_website/static/base/tcf-style.css
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
Due: prettier

Fixed navbar coloring on every page but landing
  tcf_website/templates/base/navbar.html
Due: none

feat: pagination methods for department courses
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

feat: pagination functionality, preserving existing query params
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

linting
  tcf_website/templatetags/url_utils.py
Due: black, isort, pylint, coverage

Fixed chevrons on landing
  tcf_website/templates/landing/landing.html
Due: none

copied changes from min_gpa branch
  tcf_website/templates/search/searchbar.html
Due: none

changed rating value
  tcf_website/management/commands/evaluate_reviews.py
Due: black, isort, pylint, coverage

fix: move buttons into form with csrf token
  tcf_website/templates/profile/profile.html
Due: none

fix(login): prod csrf errors
  tcf_core/settings/prod.py
Due: black, isort, pylint, coverage

fix(aws): update dockerignore
  .dockerignore
Due: none

white text variable in light mode
  tcf_website/static/base/tcf-style.css
  tcf_website/static/browse/browse.css
  tcf_website/static/course/course.css
  tcf_website/static/department/department.css
  tcf_website/templates/department/department_course.html
Due: prettier

temp "To Announce"
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

remove migration step from cicd (its already in aws)
  .github/workflows/aws.yml
Due: none

fix: view other user's schedules when logged in
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

remove unused module
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

fix: server 500 on partial credits for schedules
  tcf_website/models/models.py
  tcf_website/templates/schedule/schedule.html
Due: black, isort, pylint, coverage

rearrange imports
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

testing threshold
  tcf_website/management/commands/evaluate_reviews.py
Due: black, isort, pylint, coverage

Fixed the GPA trend - Spring should now go before Fall and added a No History Found for 1 or less points found
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage
