Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

more styling
  tcf_website/templates/search/searchbar.html
Due: none

feat: track db
  .gitattributes
Due: none

feat(db): track db with git-lfs
  db/latest.sql
Due: none

feat(scripts): one-command setup
  scripts/setup.sh
Due: none

feat(setup): install script
  scripts/setup.sh
Due: none

feat: temp use non-main branch
  scripts/setup.sh
Due: none

feat(setup): one-command install directions
  doc/dev.md
Due: prettier

fix(setup): warn for proper branches on merge
  doc/dev.md
  scripts/setup.sh
Due: prettier

fix(setup): proper build cmd
  scripts/setup.sh
Due: none

fix(setup): run db setup asynchronously
  scripts/setup.sh
Due: none

feat: update script
  doc/dev.md
  scripts/setup.sh
Due: prettier

async scheduled enrollment availability
  .gitignore
  celerybeat-schedule
  docker-compose.yml
  requirements.txt
  tcf_core/settings/__init__.py
  tcf_core/settings/base.py
  tcf_core/settings/celery.py
  tcf_core/settings/celery_init.py
  tcf_website/migrations/0017_section_enrollment_limit_section_enrollment_total_and_more.py
  tcf_website/models/models.py
  tcf_website/tasks.py
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fixed pfp problem
  tcf_website/static/about/team-pfps/ENG_Ronit_Batra.jpg
Due: none

restyle
  tcf_website/templates/search/searchbar.html
Due: none

restyle test
  tcf_website/templates/search/searchbar.html
Due: none

newest migration
  tcf_website/migrations/0014_merge_20241020_1820.py
Due: black, isort, pylint, coverage

added pagination, improved ease of use by adding page number selectors and modularity for when over 3 pages
  tcf_website/api/paginations.py
  tcf_website/models/models.py
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

added styling for pagination, and fixed logic to be dynamic based on what page is currently selected
  tcf_website/models/models.py
  tcf_website/static/reviews/pagination.css
  tcf_website/templates/reviews/reviews.html
Due: black, isort, prettier, pylint, coverage

deprecated FlexiblePagination
  tcf_website/api/paginations.py
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

changed reviews_per_page to 10 (changed to 3 for system testing)
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

added time selection box to the search dropdown
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

aligned subdepartment label and dicipline label in the dropdown to the left
  tcf_website/templates/search/searchbar.html
Due: none

added filter indicator on search bar
  tcf_website/templates/base/index.html
  tcf_website/templates/search/searchbar.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
