Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

added color key
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

Filters
  tcf_website/migrations/0028_question_department_and_optional_course.py
  tcf_website/models/models.py
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/_question_list.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

Removed implementation documents
  docs/plans/2026-03-01-qa-dashboard-design.md
  docs/plans/2026-03-01-qa-dashboard-implementation.md
Due: prettier

fix code rabbit: address review findings and implement explicit analytics opt-in
  .env.example
  tcf_website/analytics_utils.py
  tcf_website/static/css/site/pages/landing.css
  tcf_website/templates/site/home/landing.html
  tcf_website/views/home/pages.py
Due: black, isort, prettier, pylint, coverage

style: apply ruff formatting to analytics_utils
  tcf_website/analytics_utils.py
Due: black, isort, pylint, coverage

feat: implement aggregated GSI queries and resilient pagination in pages.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

Fix trending analytics: secure env config, implement background workers, and resolve context overwrite bug
  docker-compose.yml
  tcf_website/analytics_utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

style: ruff formatting
  tcf_website/analytics_utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

add profile picture
  tcf_website/data/about/team_info.json
  tcf_website/static/about/team-pfps/DM_Aleena_Patel.jpeg
Due: none

removed forum
  tcf_website/migrations/0024_forumcategory_forumpost_forumresponse_question_title_and_more.py
  tcf_website/models/models.py
  tcf_website/static/forum/forum_dashboard.css
  tcf_website/static/forum/forum_dashboard.js
  tcf_website/templates/forum/_post_detail.html
  tcf_website/templates/forum/_response_item.html
  tcf_website/templates/forum/forum_dashboard.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/forum.py
Due: black, isort, eslint, prettier, pylint, coverage

Fix: changed css bug with likes
  tcf_website/static/qa/qa_dashboard.css
Due: prettier

Fix: changed models.cascade to SET_NULL and soft-deleted answers
  tcf_website/migrations/0025_question_instructor_optional.py
  tcf_website/migrations/0028_question_department_and_optional_course.py
  tcf_website/models/models.py
  tcf_website/templates/qa/_answer_item.html
Due: black, isort, pylint, coverage

Fixed coderabbit ai recommendations
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_content.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/tests/test_qa.py
  tcf_website/urls.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

disable access to alb outside cloudfront
  iac/data.tf
  iac/security-groups.tf
Due: none

route s3 through cloudfront and disable public access
  iac/cloudfront.tf
  iac/s3.tf
Due: none

working poc for terraform
  iac/alb.tf
  iac/cloudfront.tf
  iac/ecr.tf
  iac/ecs.tf
  iac/locals.tf
  iac/main.tf
  iac/networking.tf
  iac/rds.tf
  iac/s3.tf
  iac/variables.tf
  tcf_core/settings/base.py
  tcf_core/settings/health_check_middleware.py
Due: black, isort, pylint, coverage

merge all tags together for resources
  iac/main.tf
Due: none

create a private subnet for rds
  iac/networking.tf
  iac/rds.tf
Due: none

fix cognito supported idp
  iac/cognito.tf
Due: none

require cognito email verification
  iac/cognito.tf
Due: none

drop invalid header fields to prevent HTTP request smuggling
  iac/alb.tf
Due: none

force cloudfront acm to always be in us east 1
  iac/acm.tf
  iac/main.tf
Due: none

move ecs and rds into only 1f
  iac/ecs.tf
  iac/rds.tf
Due: none

update cognito oauth urls
  iac/cognito.tf
Due: none

set up terraform
  Dockerfile
  iac/.gitignore
  iac/acm.tf
  iac/alb.tf
  iac/cloudfront.tf
  iac/cloudwatch.tf
  iac/cognito.tf
  iac/data.tf
  iac/ecr.tf
  iac/ecs.tf
  iac/iam.tf
  iac/locals.tf
  iac/main.tf
  iac/networking.tf
  iac/outputs.tf
  iac/rds.tf
  iac/route53.tf
  iac/s3.tf
  iac/secrets.tf
  iac/security-groups.tf
  iac/terraform.tf
  iac/variables.tf
  scripts/container-startup.sh
  tcf_core/settings/prod.py
Due: black, isort, pylint, coverage

update the cognito domain provided
  iac/secrets.tf
Due: none

allow passwordless OTP
  iac/cognito.tf
Due: none

update aws provider for terraform
  iac/terraform.tf
Due: none

change container to listen on port 8000
  scripts/container-startup.sh
Due: none

add redis cache to terraform
  iac/cloudwatch.tf
  iac/ecs.tf
  iac/elasticache.tf
  iac/iam.tf
  iac/outputs.tf
  iac/secrets.tf
  iac/security-groups.tf
Due: none

add cognito managed login
  iac/assets/form_logo_light.svg
  iac/assets/page_background_light.png
  iac/assets/page_footer_logo_light.png
  iac/assets/page_header_logo_light.png
  iac/branding-settings.json
  iac/cognito.tf
Due: none

fixed ruff formatting issue
  tcf_core/settings/health_check_middleware.py
Due: black, isort, pylint, coverage
