Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

AI reviews summary feature
  tcf_core/settings/base.py
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/migrations/0024_reviewllmsummary.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/services/review_summary.py
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

pylint
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

AI block invisible if no summary and styling updates
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
Due: prettier

remove fallback model
  tcf_website/services/review_summary.py
Due: black, isort, pylint, coverage

pylint
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

lint
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

var cleanup
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

address claude code pr comment
  tcf_website/services/review_summary.py
Due: black, isort, pylint, coverage

increase max tokens
  tcf_website/services/review_summary.py
Due: black, isort, pylint, coverage

Added content side of questions and started post modal and publishing questions
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/static/qa/qa_dashboard_test.js
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/templates/qa/qa_dashboard_hard.html
  tcf_website/urls.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

additional flag for generating summaries for top n courses missing summary
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

dry run prints id's
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

more verbose error propagation
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/services/review_summary.py
Due: black, isort, pylint, coverage

script to print summaries we have already
  scripts/list_ai_summaries.sh
Due: none

UI "New" tag and script timeout
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/templates/course/course_professor.html
Due: black, isort, pylint, coverage

Build v2 search results page
  tcf_website/static/css/v2/pages/search.css
  tcf_website/templates/v2/components/_pagination.html
  tcf_website/templates/v2/components/_search_bar.html
  tcf_website/templates/v2/pages/search.html
  tcf_website/urls.py
  tcf_website/views/search.py
Due: black, isort, prettier, pylint, coverage

Implement v2 search results page
  tcf_website/static/css/v2/pages/about.css
  tcf_website/static/css/v2/pages/course.css
  tcf_website/static/css/v2/pages/course_instructor.css
  tcf_website/templates/v2/components/_about_member_card.html
  tcf_website/templates/v2/components/_about_member_section.html
  tcf_website/templates/v2/components/_instructor_card.html
  tcf_website/templates/v2/pages/about.html
  tcf_website/templates/v2/pages/course_instructor.html
  tcf_website/views/browse.py
  tcf_website/views/index.py
Due: black, isort, prettier, pylint, coverage

k6 initial load testing
  k6/.gitignore
  k6/README.md
  k6/config.js
  k6/medium-load.js
  k6/peak-load.js
  k6/regular-load.js
  k6/scenarios.js
  k6/smoke-test.js
  k6/spike-test.js
  k6/stress-test.js
Due: eslint, prettier

Clean up v2 course UI
  tcf_website/static/css/v2/pages/course.css
  tcf_website/static/css/v2/pages/course_instructor.css
  tcf_website/static/css/v2/pages/landing.css
  tcf_website/templates/v2/components/_course_card.html
  tcf_website/templates/v2/components/_footer.html
  tcf_website/templates/v2/components/_header.html
  tcf_website/templates/v2/components/_instructor_card.html
  tcf_website/templates/v2/components/_school_section.html
  tcf_website/templates/v2/pages/course_instructor.html
  tcf_website/templates/v2/pages/landing.html
  tcf_website/templates/v2/pages/profile.html
  tcf_website/templates/v2/pages/review.html
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

Update review and card displays
  tcf_website/static/css/v2/pages/club.css
  tcf_website/static/css/v2/pages/club_category.css
  tcf_website/static/css/v2/pages/course_instructor.css
  tcf_website/static/css/v2/pages/course_instructor_grades.css
  tcf_website/static/css/v2/pages/department.css
  tcf_website/static/css/v2/pages/reviews.css
  tcf_website/static/js/v2/review_votes.js
  tcf_website/templates/v2/base.html
  tcf_website/templates/v2/components/_course_card.html
  tcf_website/templates/v2/components/_header.html
  tcf_website/templates/v2/components/_instructor_card.html
  tcf_website/templates/v2/pages/browse.html
  tcf_website/templates/v2/pages/club.html
  tcf_website/templates/v2/pages/club_category.html
  tcf_website/templates/v2/pages/course.html
  tcf_website/templates/v2/pages/course_instructor.html
  tcf_website/templates/v2/pages/department.html
  tcf_website/templates/v2/pages/instructor.html
  tcf_website/templates/v2/pages/profile.html
  tcf_website/templates/v2/pages/reviews.html
  tcf_website/templates/v2/pages/search.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/profile.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

Align course instructor v2 parity
  tcf_website/static/css/v2/pages/course_instructor.css
  tcf_website/static/css/v2/pages/legal.css
  tcf_website/templates/about/partials/privacy_content.html
  tcf_website/templates/about/partials/terms_content.html
  tcf_website/templates/about/terms.html
  tcf_website/templates/v2/components/_footer.html
  tcf_website/templates/v2/modals/_login.html
  tcf_website/templates/v2/pages/course_instructor.html
  tcf_website/templates/v2/pages/landing.html
  tcf_website/templates/v2/pages/privacy.html
  tcf_website/templates/v2/pages/profile.html
  tcf_website/templates/v2/pages/terms.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/index.py
  tcf_website/views/profile.py
Due: black, isort, prettier, pylint, coverage

Implement v2 UI cleanup plan
  doc/v2_parity_tracker.md
  tcf_website/static/css/v2/components/calendar.css
  tcf_website/static/css/v2/main.css
  tcf_website/static/css/v2/pages/schedule.css
  tcf_website/templates/v2/components/_footer.html
  tcf_website/templates/v2/components/_header.html
  tcf_website/templates/v2/components/_weekly_calendar.html
  tcf_website/templates/v2/modals/_login.html
  tcf_website/templates/v2/pages/course.html
  tcf_website/templates/v2/pages/landing.html
  tcf_website/templates/v2/pages/schedule.html
  tcf_website/templates/v2/pages/schedule_add_course.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

Revamp schedule builder V2 plan
  tcf_website/static/css/v2/pages/course_instructor.css
  tcf_website/static/css/v2/pages/schedule.css
  tcf_website/templates/v2/components/_section_card.html
  tcf_website/templates/v2/pages/course_instructor.html
  tcf_website/templates/v2/pages/schedule_add_course.html
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

Fix section display and scroll
  tcf_website/static/css/v2/main.css
  tcf_website/static/css/v2/pages/schedule.css
  tcf_website/templates/v2/pages/schedule_add_course.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

Fix section display and scrolling
  tcf_website/static/css/v2/components/misc.css
  tcf_website/static/css/v2/pages/schedule.css
  tcf_website/templates/v2/base.html
  tcf_website/templates/v2/components/_messages.html
  tcf_website/templates/v2/pages/schedule_add_course.html
Due: prettier

Fix sections scroll and messaging
  doc/v2_parity_tracker.md
  tcf_website/static/css/v2/pages/landing.css
  tcf_website/templates/v2/pages/landing.html
Due: prettier

Fix scheduling and messaging UI
  tcf_website/templates/v2/pages/landing.html
Due: none

Standardize message display sitewide
  tcf_website/static/css/v2/components/misc.css
  tcf_website/static/css/v2/components/modal.css
  tcf_website/templates/v2/base.html
  tcf_website/templates/v2/components/_leaderboard_ad.html
  tcf_website/templates/v2/modals/_adblock.html
  tcf_website/templates/v2/pages/browse.html
Due: prettier

Update v2 layout and ads
  tcf_website/templates/v2/base.html
  tcf_website/templates/v2/components/_course_card.html
  tcf_website/templates/v2/components/_footer.html
  tcf_website/templates/v2/components/_header.html
  tcf_website/templates/v2/components/_instructor_card.html
  tcf_website/templates/v2/components/_school_section.html
  tcf_website/templates/v2/components/_search_bar.html
  tcf_website/templates/v2/modals/_login.html
  tcf_website/templates/v2/pages/browse.html
  tcf_website/templates/v2/pages/club.html
  tcf_website/templates/v2/pages/club_category.html
  tcf_website/templates/v2/pages/course.html
  tcf_website/templates/v2/pages/course_instructor.html
  tcf_website/templates/v2/pages/department.html
  tcf_website/templates/v2/pages/instructor.html
  tcf_website/templates/v2/pages/landing.html
  tcf_website/templates/v2/pages/profile.html
  tcf_website/templates/v2/pages/review.html
  tcf_website/templates/v2/pages/reviews.html
  tcf_website/templates/v2/pages/schedule.html
  tcf_website/templates/v2/pages/schedule_add_course.html
  tcf_website/templates/v2/pages/search.html
  tcf_website/templates/v2/pages/terms.html
  tcf_website/urls.py
  tcf_website/views/browse.py
  tcf_website/views/profile.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

lint and fixes
  tcf_website/static/js/site/modal.js
  tcf_website/static/js/site/review_votes.js
  tcf_website/static/js/site/search_bar.js
  tcf_website/static/js/site/theme.js
  tcf_website/templates/about/partials/privacy_content.html
  tcf_website/templates/about/partials/terms_content.html
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_course_card.html
  tcf_website/templates/site/components/_header.html
  tcf_website/templates/site/components/_pagination.html
  tcf_website/templates/site/components/_search_bar.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/department.html
  tcf_website/templates/site/pages/privacy.html
  tcf_website/templates/site/pages/review.html
  tcf_website/templates/site/pages/schedule.html
  tcf_website/templates/site/pages/schedule_add_course.html
  tcf_website/templates/site/pages/terms.html
  tcf_website/templates/site/partials/privacy_content.html
  tcf_website/templates/site/partials/terms_content.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/tests/test_browse.py
  tcf_website/urls.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

Fix review success message
  tcf_website/tests/test_browse.py
Due: black, isort, pylint, coverage

fixes
  tcf_website/static/js/site/modal.js
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_header.html
  tcf_website/templates/site/components/_search_bar.html
  tcf_website/tests/test_browse.py
  tcf_website/views/auth.py
  tcf_website/views/index.py
  tcf_website/views/profile.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  tcf_website/views/utils.py
Due: black, isort, eslint, prettier, pylint, coverage

initial commit, template code
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

Fix modal focus and switching
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/pages/browse.html
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/club_category.html
  tcf_website/templates/site/pages/reviews.html
  tcf_website/templates/site/pages/search.html
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(schedule): remove future plans
  tcf_website/templates/site/pages/schedule.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
