Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Added pic and info for Michael Barnor About
  tcf_website/static/about/team-pfps/ENG_Michael_Barnor.jpg
  tcf_website/views/team_info.json
Due: none

Arislan's PFP task
  tcf_website/static/about/team-pfps/ENG_Arislan_Telek.jpg
Due: none

Update PFP & Information on .json
  tcf_website/views/team_info.json
Due: none

Update team_info.json
  tcf_website/views/team_info.json
Due: none

Added profile picture and information
  tcf_website/static/about/team-pfps/ENG_Aneesh_Mandapati.jpg
  tcf_website/views/team_info.json
Due: none

added profile photo and information
  tcf_website/static/about/team-pfps/ENG_Ivan_Kisselev.jpg
  tcf_website/views/team_info.json
Due: none

Added pfp
  tcf_website/static/about/team-pfps/ENG_Himesh_Ahuja.jpg
  tcf_website/views/team_info.json
Due: none

About Vishwa Solaiappan
  tcf_website/views/team_info.json
Due: none

added my profile pic and added to team_info
  tcf_website/static/about/team-pfps/ENG_Pelin_Sayar.jpg
  tcf_website/views/team_info.json
Due: none

added team pfp
  tcf_website/static/about/team-pfps/ENG_Julia_Chen.jpg
Due: none

fix: moderninze browse page (credit: @fercamoub, addressing ci/cd issues)
  tcf_website/static/browse/browse.css
Due: prettier

Added profile picture and team info
  tcf_website/static/about/team-pfps/ENG_Amudhan_Selvam.jpg
  tcf_website/views/team_info.json
Due: none

Shrikar's About Me + team info
  tcf_website/static/about/team-pfps/ENG_Shrikar_Sirobhushanam.jpg
  tcf_website/views/team_info.json
Due: none

Added Tyler Nguyen to engineering team
  tcf_website/static/about/team-pfps/ENG_Tyler_Nguyen.jpg
  tcf_website/views/team_info.json
Due: none

yogesh's pic and info
  tcf_website/static/about/team-pfps/ENG_Yogesh_Thambidurai.jpeg
  tcf_website/views/team_info.json
Due: none

update(course.html): modify toolbar sorting to be hidden when there's no course(instructor) shown
  tcf_website/templates/course/course.html
Due: none

Added Adrian Villanueva to about
  tcf_website/views/team_info.json
Due: none

Added profile photo
  tcf_website/static/about/team-pfps/ENG_Adrian_Villanueva.jpg
Due: none

Added Ishan to about page
  tcf_website/static/about/team-pfps/ENG_Ishan_Ajwani.jpg
  tcf_website/views/team_info.json
Due: none

about: add Vishwa Solaiappan
  tcf_website/static/about/team-pfps/ENG_Vishwa_Solaiappan.JPG
Due: none

fix name spelling
  tcf_website/views/team_info.json
Due: none

Added Pranav to about page
  tcf_website/static/about/team-pfps/ENG_Pranav_Vaddepalli.jpg
  tcf_website/views/team_info.json
Due: none

remove discipline and subject list filter from searchbar template
  tcf_website/templates/search/searchbar.html
Due: none

remove unused CSS classes for searchbar
  tcf_website/static/search/searchbar.css
Due: prettier

Updated profile picture
  tcf_website/static/about/team-pfps/ENG_Pranav_Vaddepalli.jpeg
  tcf_website/static/about/team-pfps/ENG_Pranav_Vaddepalli.jpg
  tcf_website/views/team_info.json
Due: none

Added gpa graph function to course_data.js
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
Due: eslint, prettier

really scrappy line chart
  tcf_website/templates/course/course_professor.html
Due: none

yeah!
  tcf_website/templates/course/course_professor.html
Due: none

Got rid of avg gpa per course per instructor and instead moving to browse.py for a custom query
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Formatted the chart using a toy line chart on the course-instructor page
  tcf_website/management/commands/load_grades.py
  tcf_website/models/models.py
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Fixed .csv parser to work with different professors & fixed formatting of the axises
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Tweaked formatting so it's like F23 instead of F 23
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Fixed the GPA trend - Spring should now go before Fall and added a No History Found for 1 or less points found
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Update styling for GPA graph
  tcf_website/templates/course/course_professor.html
Due: none

Disabled onClick for line chart legend
  tcf_website/templates/course/course_professor.html
Due: none

formatting changes
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
Due: prettier
