Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix(search): cleanup mean()
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): only pass necessary data to template
  tcf_website/templates/search/search.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

chore: remove uncessary pprint import
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(style): prefer comprehensions to fp
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: comments
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): add space for handling mnemonic number searches without a space
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

refactor(search): code cleanups
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): improved threshold and lint
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): refactor + simplify search logic
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(lint): remove unused arg
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

added basic dropdown menu html
  tcf_website/templates/landing/landing.html
  tcf_website/templates/search/filter_dropdown.html
  tcf_website/templates/search/searchbar.html
Due: none

fix: readability
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: change all usages of full_name to be properties
  tcf_core/auth_pipeline.py
  tcf_website/tests/test_user.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix(models): user has full name
  tcf_website/tests/test_user.py
Due: black, isort, pylint, coverage

Revert "Merge branch 'master' into dev"
  tcf_website/static/about/team-pfps/ENG_Vi_Nguyen.jpg
  tcf_website/static/about/team-pfps/ENG_Vi_Nguyen.webp
  tcf_website/views/team_alums.json
Due: none

Revert "Merge pull request #928 from thecourseforum/dev"
  .config/.env.example
  .config/app.yaml.template
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
  scripts/notify-checks-result.sh
  scripts/notify-deployment-result.sh
  static/about/team-pfps/ENG_Ronit_Batra.jpg
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
  tcf_website/migrations/0014_remove_instructor_website.py
  tcf_website/migrations/0015_remove_course_tcf_website_subdepa_f296bc_idx_and_more.py
  tcf_website/migrations/0016_course_title_gin_index.py
  tcf_website/models/models.py
  tcf_website/static/about/team-pfps/ENG_Joyce_Yang.jpg
  tcf_website/static/about/team-pfps/ENG_Sagun_Venuganti.jpg
  tcf_website/static/about/team-pfps/ENG_Shruti_Bala.jpg
  tcf_website/static/about/team-pfps/ENG_Tino_Martella.jpg
  tcf_website/static/about/team-pfps/blank.webp
  tcf_website/static/course/javascript/course_data.js
  tcf_website/static/landing/landing.css
  tcf_website/templates/base/index.html
  tcf_website/templates/search/search.html
  tcf_website/tests/test_commands.py
  tcf_website/tests/test_instructor.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/discord.py
  tcf_website/views/search.py
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: black, isort, eslint, prettier, pylint, coverage

minor change
  tcf_website/templates/browse/browse.html
Due: none

remove discord in ci file
  .github/workflows/continuous-integration.yml
Due: none

Update master-to-app-engine.yml
  .github/workflows/master-to-app-engine.yml
Due: none

Revert "Fall 2024 Prod Push"
  .github/workflows/continuous-integration.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
