Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

linter issues
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/templates/course/course_professor.html
Due: black, isort, pylint, coverage

lint fix
  tcf_website/api/enrollment.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

reducing update check count
  tcf_website/templates/course/course_professor.html
Due: none

Created script to find average sentiment score of a professor + course combo
  tcf_website/management/commands/average_sentiments.py
Due: black, isort, pylint, coverage

Made input Instructor name and Course code only for average sentiments
  tcf_website/management/commands/average_sentiments.py
Due: black, isort, pylint, coverage

Added avg. sentiment to course_instructor view
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added sentiment to course_professor frontend
  tcf_website/templates/course/course_professor.html
Due: none

Added color for sentiment score based on how high or low it is
  tcf_website/templates/course/course_professor.html
Due: none

fixed reset button not resetting weekdays
  tcf_website/templates/search/searchbar.html
Due: none

made default weekday searches return past courses
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

minor ui fix
  tcf_website/templates/search/search.html
Due: none

striped search string
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

enrollment progress bars
  tcf_website/templates/course/course_professor.html
Due: none

Changed logic from average sentiment score to list
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Changed view logic to render sentiment scores rather than avg score
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Display chart featuring sentiments in 5 different categories
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

Styled bar chart
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
Due: prettier

color changes for profile page
  tcf_website/static/profile/profile.css
Due: prettier

small refactor on filtering by time
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

pagination async now, visual error displaying collapse options for all reviews regardless of length
  tcf_website/static/reviews/reviews.js
  tcf_website/templates/reviews/reviews.html
  tcf_website/templates/reviews/reviews_list.html
  tcf_website/urls.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage
