Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Fixed verbose print statements
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

Fixed semester query check
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

add gpa stat to schedule card
  tcf_website/models/models.py
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

bug fix
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Finished Recommender UI
  tcf_website/templates/course/course.html
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

Updated UI
  tcf_website/templates/course/course.html
Due: none

remove double installation of ca-certificates in Dockerfile
  Dockerfile
Due: none

Update useful-commands.md
  docs/useful-commands.md
Due: prettier

link database models to new question form
  tcf_website/static/qa/new_question.js
  tcf_website/templates/qa/new_question.html
  tcf_website/templates/qa/question_form_content.html
Due: eslint, prettier

Initial work on separating QA page
  tcf_website/urls.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix: removed its link
  tcf_website/templates/course/course.html
Due: none

feat: 2024 semester info
  tcf_website/management/commands/semester_data/csv/2023_spring.csv
  tcf_website/management/commands/semester_data/csv/2023_summer.csv
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
  tcf_website/management/commands/semester_data/csv/2024_summer.csv
  tcf_website/management/commands/semester_data/fetch_data.py
Due: black, isort, pylint, coverage

File name change
  tcf_website/management/commands/import_csv_review_drive.py
Due: black, isort, pylint, coverage

add schedule icon to the sidebar
  tcf_website/static/icons/icons.html
  tcf_website/templates/base/sidebar.html
Due: none

add gpa to delete modal view
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

added variables to setting
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Fixed syntax
  tcf_website/management/commands/import_csv_review_drive.py
Due: black, isort, pylint, coverage

Properly configured review drive secrets
  .config/app.yaml.template
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

feat(search): deprecate elasticsearch
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
  docs/useful-commands.md
  tcf_core/settings/base.py
  tcf_website/management/commands/index_elasticsearch.py
  tcf_website/views/search.py
Due: black, isort, prettier, pylint, coverage

refactor schedule modal workings, variable names, and flows
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/schedule.css
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/static/schedule/schedules_list.css
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

remove schedules template
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/user_schedules.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
