Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

feat: allow ratings-only course reviews
  tcf_website/migrations/0030_review_optional_hours_breakdown.py
  tcf_website/models/models.py
  tcf_website/review/forms.py
  tcf_website/templates/site/review/review.html
  tcf_website/tests/test_review.py
Due: black, isort, pylint, coverage

refactor: drop unused quick-rate saved event
  tcf_website/static/js/site/review/quick_rate.js
Due: eslint, prettier

feat: weekly hours sliders on the review form
  tcf_website/static/css/site/pages/review.css
  tcf_website/templates/site/review/components/_review_workload_field.html
  tcf_website/templates/site/review/review.html
  tcf_website/tests/test_review.py
Due: black, isort, prettier, pylint, coverage

fix(ci): use publicly pullable MinIO AIStor images
  docker-compose.yml
Due: none

added purge css
  .claude/settings.local.json
  package-lock.json
  package.json
  scripts/unused-css.mjs
Due: none

removing unused css code (dev looks fine after purging
  tcf_website/static/css/site/base.css
  tcf_website/static/css/site/components/button.css
  tcf_website/static/css/site/components/dropdown.css
  tcf_website/static/css/site/components/footer.css
  tcf_website/static/css/site/components/header.css
  tcf_website/static/css/site/components/input.css
  tcf_website/static/css/site/components/misc.css
  tcf_website/static/css/site/components/modal.css
  tcf_website/static/css/site/components/rating.css
  tcf_website/static/css/site/components/search.css
  tcf_website/static/css/site/pages/about.css
  tcf_website/static/css/site/pages/browse.css
  tcf_website/static/css/site/pages/course.css
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/static/css/site/pages/department.css
  tcf_website/static/css/site/pages/instructor.css
  tcf_website/static/css/site/pages/review.css
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/static/css/site/pages/search.css
  tcf_website/static/css/site/utilities.css
Due: prettier

removed settings.local.json, and added purgeCss to CI
  .claude/settings.local.json
  .github/workflows/ci.yml
  scripts/unused-css.mjs
Due: none

added claude/ folder to gitignore
  .gitignore
Due: none

addressed coderabbit's comment
  scripts/unused-css.mjs
Due: none

pure css removal only
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/unused-css.mjs
Due: none

fixup
  package.json
Due: none

add new course data fetcher, up to 11x faster.
  .gitignore
  doc/semester-data.md
  tcf_website/management/commands/benchmark_fetch_data.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/fetch_data_old.py
Due: black, isort, prettier, pylint, coverage

put oidc
  .github/workflows/aws.yml
Due: none

why did nothing run?
  .github/workflows/aws.yml
Due: none

i think this is why nothing happened
  .github/workflows/aws.yml
Due: none

try this to ensure oidc works and its useful output
  .github/workflows/aws.yml
Due: none

feat(iac): gate applies on review and narrow deployer IAM
  .github/workflows/terraform-apply.yml
  alerts.txt
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/terraform.tf
  iac/bootstrap/variables.tf
  passrole.json
  tcf-oidc-deployer.json
  tcf_website/management/commands/semester_data/benchmark_data/old.csv
  tcf_website/management/commands/semester_data/benchmark_data/optimized-hooslist.csv
  tcf_website/management/commands/semester_data/benchmark_data/optimized-sis.csv
  tcf_website/templates/site/common/components/_footer.html
  trust.json
Due: prettier

addressed comments
  .github/dependabot.yml
Due: none

removing the day field
  .github/dependabot.yml
Due: none

fixing local django toolbar css not loaded
  .devcontainer/devcontainer.json
Due: none

fixing local django toolbar css not loaded (#1307)
  .devcontainer/devcontainer.json
Due: none

iac: add email check at signup
  iac/app/cognito.tf
  iac/app/lambda.tf
  iac/app/lambda/require_virginia_email/index.mjs
  iac/app/terraform.tf
Due: none

Stop calling SIS from this repo and download the committed course snapshot instead.
  .gitignore
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/load_semester.py
  tcf_website/templates/site/home/snapshot.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/home/__init__.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

Download the requested semester from the configured course-data repository.
  .env.example
  tcf_website/management/commands/fetch_data.py
  tcf_website/templates/site/home/snapshot.html
  tcf_website/tests/test_sis_term.py
  tcf_website/utils.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

Download course snapshots from thecourseforum/tCF-data.
  .env.example
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Add a workflow that downloads a course snapshot on a schedule.
  .github/workflows/fetch-data.yml
Due: none

Download the course snapshot once a day.
  .github/workflows/fetch-data.yml
Due: none

Download course snapshots from the dev branch of tCF-data.
  .env.example
  .github/workflows/fetch-data.yml
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Replace gated MinIO images and fix the ruff and djlint CI errors.
  docker-compose.yml
  tcf_website/static/css/site/pages/snapshot.css
  tcf_website/templates/site/home/snapshot.html
  tcf_website/utils.py
Due: black, isort, prettier, pylint, coverage

Add github actions workflow for fetching semester data
  .github/workflows/fetch-grade.yml
Due: none

Choose the downloaded semester from today's date.
  .github/workflows/fetch-data.yml
  tcf_website/management/commands/fetch_data.py
  tcf_website/tests/test_sis_term.py
  tcf_website/utils.py
Due: black, isort, pylint, coverage

Use the registrar's course-start dates to pick the semester.
  tcf_website/tests/test_sis_term.py
  tcf_website/utils.py
Due: black, isort, pylint, coverage

Remove auto run on push for fetch grades
  .github/workflows/fetch-grade.yml
Due: none

fix(ci): replace MinIO with RustFS for local and CI storage
  .github/workflows/ci.yml
  doc/dev.md
  docker-compose.yml
Due: prettier

CourseInstructorSemesterGrade migration
  tcf_website/migrations/0030_courseinstructorsemestergrade.py
Due: black, isort, pylint, coverage

ci(iac): apply on push while iterating on the iac branch
  .github/workflows/terraform-apply.yml
  iac/bootstrap/README.md
Due: prettier

chore(about): update Aleena Patel headshot
  tcf_website/static/about/team-pfps/DM_Aleena_Patel.jpeg
Due: none

ci(iac): run terraform plan on pushes to iac
  .github/workflows/terraform-apply.yml
Due: none

fix(iac): use a valid description on the ALB ingress rule
  iac/app/security-groups.tf
Due: none

feat(iac): encrypt state with KMS and store saved plans in S3
  .github/workflows/terraform-deploy.yml
  iac/app/terraform.tf
  iac/bootstrap/README.md
  iac/bootstrap/state-bucket.tf
  iac/bootstrap/terraform.tf
Due: prettier

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
