Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

feat(Review): refactor sorting logic
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

feat(Review): improve sorting logic, rename variables
  tcf_website/templates/course/course_instructor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix(test): use equivalent un-paginated review method
  tcf_website/tests/test_review.py
Due: black, isort, pylint, coverage

chore: docstrings, clean up imports
  tcf_website/models/models.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

fix: correct invalid jinja template
  tcf_website/templates/course/course_instructor.html
Due: none

fix: revert sorting strategy names to match frontend
  tcf_website/models/models.py
  tcf_website/templates/course/course_instructor.html
Due: black, isort, pylint, coverage

#reviews shows at end of url when page changes
  tcf_website/templates/reviews/reviews.html
Due: none

fix(reviews): default sorting method to most recent in UI
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added more pages
  tcf_website/templates/login/password_reset.html
  tcf_website/templates/login/password_reset_done.html
  tcf_website/templates/login/password_reset_form.html
  tcf_website/urls.py
Due: black, isort, pylint, coverage

Fixed front-end, pw reset functional
  tcf_website/templates/login/password_reset.html
  tcf_website/templates/login/password_reset_complete.html
Due: none

Added unnecessary pylint removal
  tcf_website/urls.py
Due: black, isort, pylint, coverage

update schedule to sidebar and add to schedule on search page
  .zshrc
  get-pip.py
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/search/search.html
Due: black, isort, eslint, prettier, pylint, coverage

Grammar fixes
  tcf_website/templates/login/password_reset_done.html
  tcf_website/templates/login/password_reset_form.html
Due: none

wip form
  tcf_website/templates/login/password_change_form.html
  tcf_website/templates/profile/profile.html
  tcf_website/urls.py
Due: black, isort, pylint, coverage

feat: ignore nvim config files
  .gitignore
Due: none

Updated documentation
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

Updated get course numbers function to be less complex
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

Add fetch SIS data file
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

small readability changes
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

SIS_2023_spring.csv created
  SIS_2023_spring.csv
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

Update course data parser keys
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

Added functions for querying
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

remove comments
  SIS_2023_spring.csv
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

Created function to query for a given class url and prints results
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

removed for loop
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

Updated retrieve_semester_courses method to make more readable and easier to understand
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage
