Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix
  tcf_website/admin.py
Due: black, isort, pylint, coverage

section enrollment model and migration
  tcf_website/migrations/0018_sectionenrollment.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

fetch section enrollment data for each section
  tcf_website/models/__init__.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

section view with enrollment
  tcf_website/templates/course/course_professor.html
Due: none

gitignore celery beat sched
  .gitignore
Due: none

include redis and celery on startup
  docker-compose.yml
  requirements.txt
Due: none

celery update enrollment task
  tcf_website/tasks.py
Due: black, isort, pylint, coverage

redis and celery integration
  tcf_core/settings/__init__.py
  tcf_core/settings/base.py
  tcf_core/settings/celery.py
  tcf_core/settings/celery_init_.py
Due: black, isort, pylint, coverage

celery fixes
  tcf_core/settings/base.py
  tcf_core/settings/celery_init.py
Due: black, isort, pylint, coverage

add open sections to searchbar and advanced search
  tcf_core/context_processors.py
  tcf_website/models/models.py
  tcf_website/templates/browse/browse.html
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

refactoring
  tcf_core/settings/__init__.py
  tcf_core/settings/base.py
  tcf_core/settings/celery.py
  tcf_core/settings/celery_init.py
Due: black, isort, pylint, coverage

lint fixes
  tcf_website/models/models.py
  tcf_website/tasks.py
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

lint fixes and section enrollment admin
  .gitignore
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/models/models.py
  tcf_website/tasks.py
Due: black, isort, pylint, coverage

quick design fix
  tcf_website/templates/browse/browse.html
  tcf_website/templates/search/searchbar.html
Due: none

update branches
  doc/dev.md
  scripts/setup.sh
Due: prettier

feat: also link git-lfs
  doc/dev.md
Due: prettier

feat: prefer uv to pip in ci/cd
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci/cd): proper uv install
  .config/app.yaml.template
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci): install uv packages t osystem
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci/cd): expose uv pkgs to path
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

fix(ci/cd): use exactly 3.11.0
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
