Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

adeed variables, partially styled register page
  tcf_website/static/base/base.css
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/base/base.html
  tcf_website/templates/login/register_form.html
Due: prettier

finished dark mode for register form page
  tcf_website/static/base/base.css
  tcf_website/templates/login/register_form.html
Due: prettier

fixed issue with minimum gpa causing filters to not persist
  tcf_website/templates/search/searchbar.html
Due: none

Removed None from section_times and section_nums
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

update region aws cicd
  .github/workflows/master-to-app-engine.yml
Due: none

remove dockerhub stuff from cicd
  .github/workflows/continuous-integration.yml
Due: none

s3 - by ldkohler (GOAT)
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

update requirements to include django-storages and boto3
  requirements.txt
Due: none

feat(settings): load balancer configs
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

move aws deploy cicd to master-to-app-engine.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
Due: none

update ecr container name cicd
  .github/workflows/master-to-app-engine.yml
Due: none

add deploy using aws into cicd
  .github/workflows/continuous-integration.yml
Due: none

dynamic task defintion update and ecs image name
  .github/workflows/master-to-app-engine.yml
Due: none

update geting task definition dynamically
  .github/workflows/master-to-app-engine.yml
Due: none

fix(s3): use the latest boto-storages api
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

prayge
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

revise cicd and rename yaml
  .github/workflows/aws.yml
Due: none

delete old app.yaml template
  .config/app.yaml.template
Due: none

feat(aws): update django-storages config
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

delete .env.example
  .config/.env.example
Due: none

pray
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix django remove staticfiles
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
