Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

feat: update windows scripts
  scripts/format.bat
Due: none

feat: fetch courses past a given semester
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: moved course loading within departments to own html page and fixed some methods involving fetching courses given a semester
  tcf_website/models/models.py
  tcf_website/templates/common/toolbar.html
  tcf_website/templates/department/department.html
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Courses now load, data is finicky
  tcf_website/templates/department/department.html
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: round difficulty and rating to two decimals
  tcf_website/models/models.py
  tcf_website/templates/department/department_courses.html
Due: black, isort, pylint, coverage

Added paginator at bottom of page
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: made GPA field within template
  tcf_website/models/models.py
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat(course): fixed GPA function
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

cleanup (department): removed old JS file
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

cleanup (department): removed old JS file
  tcf_website/static/department/loadMoreCourses.js
Due: eslint, prettier

fix (department): Added nonetype detection when getting grade averages
  tcf_website/models/models.py
  tcf_website/templates/department/department_courses.html
Due: black, isort, pylint, coverage

feat (department): last five years and fall 2024 button now functional
  tcf_website/models/models.py
  tcf_website/templates/common/toolbar.html
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: breadcrumbs now correctly track selected button
  tcf_website/templates/common/toolbar.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: minor cleanup
  tcf_website/templates/common/toolbar.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: renamed url path
  tcf_website/templates/common/toolbar.html
  tcf_website/urls.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: got rid of relevant semesters
  tcf_website/templates/department/department.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: made course pages accessible
  tcf_website/templates/common/toolbar.html
Due: none

fix: format
  .nvim.lua
  tcf_website/models/models.py
  tcf_website/urls.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

fix: remove config files
  .nvim.lua
Due: none

fix(typing): remove deprecated typing strategies
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix: added vscode libraries
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: added extension support to docs
  .gitignore
  docs/dev.md
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

fix: typo in gitignore
  .gitignore
Due: none

feat: Created HTML file for courses at /department
  tcf_website/templates/department/department_courses.html
Due: none

fix: deprecated loadMoreCourses and got rid of js in department page
  tcf_website/static/department/loadMoreCourses.js
  tcf_website/templates/department/department.html
Due: eslint, prettier

fix: courses somewhat display
  tcf_website/templates/department/department.html
  tcf_website/templates/department/department_courses.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: added course fields to template
  tcf_website/models/models.py
  tcf_website/templates/department/department.html
  tcf_website/templates/department/department_courses.html
Due: black, isort, pylint, coverage

fix: print statement
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added cache import for search.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Removed nonfunctional password change form
  tcf_website/templates/login/password_change_form.html
  tcf_website/templates/profile/profile.html
  tcf_website/urls.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
