Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

recent clubs
  tcf_website/static/css/site/components/header.css
  tcf_website/static/js/site/lib/recent_courses.js
  tcf_website/static/js/site/lib/recent_items.js
  tcf_website/templates/site/clubs/club.html
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_header.html
  tcf_website/templates/site/common/components/_record_recent_browse.html
  tcf_website/templates/site/courses/components/_record_recent_course.html
  tcf_website/templates/site/courses/course.html
  tcf_website/templates/site/courses/course_instructor.html
Due: eslint, prettier

fix long schedule name overflow
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/templates/site/schedule/partials/_schedule_compare_pick_modal_body.html
Due: prettier

recent reviews banner
  tcf_website/static/css/site/pages/landing.css
  tcf_website/templates/site/home/landing.html
  tcf_website/templates/site/home/partials/_landing_marquee_reviews.html
  tcf_website/templates/site/home/partials/_landing_spotlight.html
  tcf_website/tests/test_pages.py
  tcf_website/views/home/landing_spotlight.py
  tcf_website/views/home/pages.py
Due: black, isort, prettier, pylint, coverage

fix schedule builder on mobile
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/templates/site/schedule/partials/_schedule_builder_grid.html
  tcf_website/templates/site/schedule/schedule.html
Due: prettier

fetch enrollment speedup
  tcf_website/management/commands/fetch_enrollment.py
Due: black, isort, pylint, coverage

parallelize generate ai summaries
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

autocomplete tests now work yayy
  tcf_website/tests/test_search_autocomplete.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

added docstring to test file
  tcf_website/tests/test_search_autocomplete.py
Due: black, isort, pylint, coverage

added more docstrings to methods
  tcf_website/tests/test_search_autocomplete.py
Due: black, isort, pylint, coverage

bug fix
  tcf_website/review/forms.py
  tcf_website/static/js/site/review/review_votes.js
  tcf_website/static/js/site/schedule/schedule_flow_modal.js
  tcf_website/templates/site/schedule/partials/_new_schedule_modal_form.html
  tcf_website/tests/test_fetch_enrollment.py
  tcf_website/tests/test_redirects.py
  tcf_website/tests/test_review.py
  tcf_website/tests/test_utils.py
  tcf_website/views/clubs/club.py
  tcf_website/views/schedule/crud.py
Due: black, isort, eslint, prettier, pylint, coverage

lint
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/management/http.py
  tcf_website/tests/test_enrollment.py
  tcf_website/tests/test_utils.py
Due: black, isort, pylint, coverage

lint
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

style of course instructor
  tcf_website/static/css/site/components/header.css
  tcf_website/static/css/site/pages/course.css
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/templates/site/courses/course_instructor.html
Due: prettier

Database migration
  tcf_website/migrations/0029_merge_20260405_1849.py
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

Design Changes
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/static/qa/qa_dashboard_test.js
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/templates/qa/qa_dashboard_hard.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

style fix mobile
  tcf_website/static/css/site/components/header.css
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/static/css/site/pages/landing.css
  tcf_website/static/css/site/pages/schedule.css
Due: prettier

fix(browse): stack days and time fields on mobile advanced search
  tcf_website/static/css/site/pages/browse.css
Due: prettier

fix(browse): mobile advanced search — no overflow, single-column checkboxes
  tcf_website/static/css/site/pages/browse.css
Due: prettier

refactor(browse): simplify mobile advanced search CSS
  tcf_website/static/css/site/pages/browse.css
Due: prettier

Revert "fix(browse): stack days and time fields on mobile advanced search"
  tcf_website/static/css/site/pages/browse.css
Due: prettier

add structured logging for aws
  tcf_core/request_logging.py
  tcf_core/settings/base.py
  tcf_core/settings/log_formatter.py
Due: black, isort, pylint, coverage

add sentry
  .env.example
  requirements/base.txt
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

difficulty + styling
  tcf_website/static/css/site/components/rating.css
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/static/css/site/pages/department.css
  tcf_website/templates/site/catalog/components/_course_card.html
  tcf_website/templates/site/common/components/_rating_stat_trio.html
  tcf_website/templates/site/courses/components/_instructor_card.html
  tcf_website/templates/site/courses/course_instructor.html
  tcf_website/templates/site/instructors/instructor.html
  tcf_website/views/courses/course_instructor.py
Due: black, isort, prettier, pylint, coverage

changed pfp to blank, removed pfp file
  tcf_website/data/about/team_alums.json
  tcf_website/static/about/alum-pfps/jtran.jpeg
Due: none

fix: Removed instructor card and moved instructor name to below course
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/qa/_question_detail.html
Due: prettier

standardize course card + fix styling
  tcf_website/models/models.py
  tcf_website/search/course_display.py
  tcf_website/static/css/site/components/course_card.css
  tcf_website/static/css/site/main.css
  tcf_website/static/css/site/pages/course.css
  tcf_website/static/css/site/pages/department.css
  tcf_website/static/css/site/pages/instructor.css
  tcf_website/static/css/site/pages/search.css
  tcf_website/templates/site/catalog/partials/_browse_advanced_results.html
  tcf_website/templates/site/catalog/search.html
  tcf_website/templates/site/courses/components/_course_taught_card.html
  tcf_website/templates/site/courses/course_instructor.html
  tcf_website/templates/site/instructors/instructor.html
  tcf_website/tests/test_browse.py
  tcf_website/tests/test_helpers.py
  tcf_website/tests/test_search.py
  tcf_website/utils.py
  tcf_website/views/instructors/instructor.py
Due: black, isort, prettier, pylint, coverage

s3 manifest storage
  tcf_core/settings/prod.py
Due: black, isort, pylint, coverage

sort by in adv search
  tcf_core/settings/prod.py
  tcf_website/forms.py
  tcf_website/search/advanced.py
  tcf_website/static/css/site/components/stats_summary.css
  tcf_website/static/css/site/main.css
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/static/css/site/pages/instructor.css
  tcf_website/templates/site/catalog/components/_advanced_search_form.html
  tcf_website/templates/site/catalog/department.html
  tcf_website/templates/site/instructors/instructor.html
  tcf_website/views/catalog/department.py
Due: black, isort, prettier, pylint, coverage

reduce border radius
  tcf_website/static/css/site/tokens.css
Due: prettier

5 recent
  tcf_website/static/js/site/lib/recent_items.js
Due: eslint, prettier

pylint
  tcf_website/search/advanced.py
  tcf_website/utils.py
Due: black, isort, pylint, coverage

speedup + bug fix
  tcf_website/search/advanced.py
  tcf_website/static/css/site/pages/browse.css
  tcf_website/templates/site/courses/course_instructor.html
Due: black, isort, prettier, pylint, coverage

bug fix schedules error msg
  tcf_website/static/js/site/schedule/schedule_flow_modal.js
Due: eslint, prettier

speedup landing page query
  tcf_website/tests/test_utils.py
  tcf_website/utils.py
  tcf_website/views/home/landing_spotlight.py
Due: black, isort, pylint, coverage

fix adv search on mobile
  tcf_website/forms.py
  tcf_website/static/css/site/pages/browse.css
Due: black, isort, prettier, pylint, coverage

fix error with pluses in urls for courses
  tcf_website/tests/test_browse.py
  tcf_website/views/catalog/department.py
Due: black, isort, pylint, coverage

pylint
  tcf_core/settings/handle_exceptions_middleware.py
  tcf_website/tests/test_redirects.py
  tcf_website/urls.py
  tcf_website/views/catalog/department.py
Due: black, isort, pylint, coverage

Fix instructor card stats: hide -1 sort sentinels as em dash
  tcf_website/stat_display.py
  tcf_website/templates/site/common/components/_rating_stat_trio.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/tests/test_stat_display.py
Due: black, isort, pylint, coverage

Fix ratings appearing as -1 on All-time page
  tcf_website/templates/site/common/components/_rating_stat_trio.html
Due: none

Simplify stat placeholder fix: range checks in template only
  tcf_website/stat_display.py
  tcf_website/templates/site/common/components/_rating_stat_trio.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/tests/test_stat_display.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
