Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

reformat modal flow, add schedule card to add section modal
  package-lock.json
  tcf_website/migrations/0011_merge_20240304_1700.py
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

add alert for conflicting time add when adding a course to the schedule
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

fix bug where credits weren't displayed in the delete modal
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

reformat modal flow and remove redundant code
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
Due: eslint, prettier

add ability to edit schedule names and courses
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add reset button to edit schedule modal
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

refactor where parse_time.js static file is included
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/schedules.html
Due: none

added comment with sem_code
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

add dyanmic schedule card view when editing a schedule
  tcf_website/models/models.py
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

added backoff decorator
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

add course/section type to schedules, add starter style to add course modal
  tcf_website/models/models.py
  tcf_website/static/schedule/course_section_modal.css
  tcf_website/static/schedule/schedule_with_sections.css
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

Added dropdown feature and links to the different classes
  .githooks/pre-commit
  tcf_website/templates/course/course.html
  tcf_website/templatetags/__init__.py
  tcf_website/templatetags/custom_filters.py
  tcf_website/views/browse.py
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

add starter schedule styles
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

Got CSV uploader working
  tcf_website/management/commands/upload_csv_review_drive.py
  tcf_website/migrations/0011_review_email.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Format improvements
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

fix: format
  tcf_core/auth_pipeline.py
  tcf_website/management/commands/upload_csv_review_drive.py
  tcf_website/migrations/0011_review_email.py
  tcf_website/models/models.py
  tcf_website/views/auth.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Format improvements, instructor fix
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

Creates account if it doesn't exist
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

Format fixes
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage

Fixed verbose print statements
  tcf_website/management/commands/upload_csv_review_drive.py
Due: black, isort, pylint, coverage
