Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

added donate modal (needs ui revamp)
  tcf_website/templates/base/index.html
  tcf_website/templates/common/donate_page_modal.html
  tcf_website/templates/landing/landing.html
Due: none

revamped ui
  tcf_website/templates/common/donate_page_modal.html
Due: none

prefetch related
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

code cleanup
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

basic cache
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

dark mode changes to browse and department
  tcf_website/static/browse/browse.css
  tcf_website/static/department/department.css
  tcf_website/static/icons/icons.css
Due: prettier

Create prune-gh-branches.sh
  scripts/prune-gh-branches.sh
Due: none

create review page css refactor
  tcf_website/static/base/tcf-style.css
  tcf_website/static/reviews/new_review.css
Due: prettier

removed dark mode class
  tcf_website/static/reviews/new_review.css
Due: prettier

added minimum gpa filter and dummy availability box
  tcf_core/context_processors.py
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

dark mode vars for profile
  tcf_website/static/profile/profile.css
Due: prettier

dark mode var in review.css
  tcf_website/static/reviews/review.css
Due: prettier

review_stats dark mode var
  tcf_website/static/reviews/review_stats.css
Due: prettier

changed gpa dropdown to be descending
  tcf_website/templates/search/searchbar.html
Due: none

align vert q header
  tcf_website/static/qa/qa.css
  tcf_website/templates/qa/qa.html
Due: prettier

added clearing gpa
  tcf_website/templates/search/searchbar.html
Due: none

scuffed indentation
  tcf_website/templates/qa/qa.html
Due: none

partly styled landing page
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/landing/landing.html
Due: prettier

Updated the variables/headers in about.css and added additional headers in tcf-style.css
  tcf_website/static/about/about.css
  tcf_website/static/base/tcf-style.css
Due: prettier

partly dark mode styled the landing page
  tcf_website/static/base/tcf-style.css
Due: prettier

adeed variables, partially styled register page
  tcf_website/static/base/base.css
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/base/base.html
  tcf_website/templates/login/register_form.html
Due: prettier

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
