Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

added new q&a icon + description for landing page
  tcf_website/static/landing/qa_logo_fontawesome.png
  tcf_website/static/landing/qa_logo_fontawesome_tcfblue.png
  tcf_website/templates/landing/landing.html
Due: none

deleted q&a images since we replaced with icons
  tcf_website/static/landing/qa_logo_fontawesome.png
  tcf_website/static/landing/qa_logo_fontawesome_tcfblue.png
Due: none

added open graphic protocol and twitter card meta tags
  tcf_website/templates/base/index.html
Due: none

added another question template
  tcf_website/templates/qa/qa.html
Due: none

added preliminary logic for validating new question
  package-lock.json
  tcf_website/templates/qa/qa.html
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

Added search prototype for department
  tcf_website/static/browse/search_filter.js
  tcf_website/templates/browse/browse.html
Due: eslint, prettier

fixed json packed file
  package-lock.json
Due: none

fix(db): migrations
  tcf_website/migrations/0014_remove_instructor_website.py
Due: black, isort, pylint, coverage

remove discord in ci file
  .github/workflows/continuous-integration.yml
Due: none

removed all instances of using discord
  .config/.env.example
  .config/app.yaml.template
  .github/workflows/master-to-app-engine.yml
  scripts/notify-checks-result.sh
  scripts/notify-deployment-result.sh
  tcf_core/settings/base.py
  tcf_website/views/discord.py
Due: black, isort, pylint, coverage

remove references to discord view
  tcf_website/urls.py
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

fix: revert kit to new kit
  tcf_website/templates/base/index.html
Due: none

fix: added new index for course searches
  tcf_website/migrations/0014_remove_course_tcf_website_subdepa_f296bc_idx_and_more.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

fix: increased similarity and better scoring
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

refactor(search): begin indices
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(instructors): improved logic for finding max similarity given a search
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: proper trigram search over instructor model
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: lint
  tcf_website/migrations/0015_remove_course_tcf_website_subdepa_f296bc_idx_and_more.py
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(tests): replace full_name() method with full_name instance variable
  tcf_website/tests/test_commands.py
  tcf_website/tests/test_instructor.py
Due: black, isort, pylint, coverage

fix: improved trigram search for courses
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): simplified search and new index for course title
  tcf_website/migrations/0016_course_title_gin_index.py
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat: refactor search to not use elasticsearch api
  tcf_website/templates/search/search.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(search): cleanup mean()
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
