Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

ignore pylint
  tcf_website/api/enrollment.py
Due: black, isort, pylint, coverage

ignore pylint unnecessary-lambda, it is necessary
  tcf_website/api/enrollment.py
Due: black, isort, pylint, coverage

added pagination for course search
  tcf_core/settings/base.py
  tcf_website/templates/search/search.html
  tcf_website/templatetags/url_utils.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

removed the base.py change
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fixed multilple pagination bar issue and added total page display
  tcf_core/settings/base.py
  tcf_website/templates/search/search.html
Due: black, isort, pylint, coverage

linting
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

added condition for courses_first so that the user stays on course after page interaction on originally instructor first pages
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fixing courses_first condition (GenAI... Whoooops)
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

removed the accidental 0.0.0.0 and static url again from base.py
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

2025 summer csv
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/csv/2025_summer.csv
Due: black, isort, pylint, coverage

added page number input for search pagination
  tcf_website/templates/search/search.html
Due: none

added some comments
  tcf_website/templates/search/search.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Added 'landing-page-background-color' variable to tcf-style.css for landing page dark-mode background
  tcf_website/static/base/tcf-style.css
Due: prettier

Updated color for p from 'p-card-text-color' to 'basic-text-color'
  tcf_website/static/base/tcf-style.css
Due: prettier

Added 'main-color' to dark-mode colors
  tcf_website/static/base/tcf-style.css
Due: prettier

Updated tcf-style.css for dark-mode changes on the landing page
  tcf_website/static/base/tcf-style.css
Due: prettier

dark mode logic for browse/course pages
  tcf_website/static/browse/browse.css
  tcf_website/static/course/course.css
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/course_data.js
  tcf_website/static/reviews/review.css
  tcf_website/static/search/search.css
  tcf_website/templates/course/course.html
Due: eslint, prettier

landing
  tcf_website/static/base/tcf-style.css
  tcf_website/static/landing/landing.css
Due: prettier

feat: added migrations modified models and created testing file
  tcf_website/migrations/0018_course_avg_difficulty_course_avg_hours_per_week_and_more.py
  tcf_website/migrations/0019_populate_review_metrics.py
  tcf_website/migrations/0020_add_review_count_field.py
  tcf_website/models/models.py
  tcf_website/tests/test_metrics.py
Due: black, isort, pylint, coverage

fix: merge migrations
  tcf_website/migrations/0019_merge_20250401_2018.py
Due: black, isort, pylint, coverage

sweep up minor styling issues
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/templatetags/custom_tags.py
Due: black, isort, pylint, coverage

revert browse.py back to deployed working version
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix silly pylint suggestion
  tcf_website/templatetags/custom_tags.py
Due: black, isort, pylint, coverage
