Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

feat(autocomplete): parallelizing course + instructor fetching
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Calendar implemented, no events yet.
  tcf_website/templates/calendar/calendar_overview.html
Due: none

add related courses UI
  tcf_website/migrations/0023_course_prerequisites.py
  tcf_website/migrations/0026_merge_20260201_2050.py
  tcf_website/templates/course/course.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Revert "[feat]: add ads"
  tcf_website/static/css/site/components/ads.css
  tcf_website/static/css/site/components/misc.css
  tcf_website/static/css/site/main.css
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_footer_ad.html
  tcf_website/templates/site/components/_in_article_ad.html
  tcf_website/templates/site/components/_in_feed_ad.html
  tcf_website/templates/site/components/_leaderboard_ad.html
  tcf_website/templates/site/components/_sidebar_ad.html
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/course.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/department.html
  tcf_website/templates/site/pages/instructor.html
  tcf_website/templates/site/pages/landing.html
  tcf_website/templates/site/pages/reviews.html
  tcf_website/templates/site/pages/search.html
Due: prettier

made results display dynamically depending on screen size, wrote tests for autocomplete
  tcf_website/api/serializers.py
  tcf_website/static/search/autocomplete.js
  tcf_website/tests/test_search_autocomplete.py
  tcf_website/tests/test_utils.py
Due: black, isort, eslint, prettier, pylint, coverage

update exec
  tcf_website/static/css/site/pages/about.css
  tcf_website/views/team_info.json
Due: prettier

forgot MAX_RESULTS as a const so fixed that
  tcf_website/static/search/autocomplete.js
Due: eslint, prettier

missed a conflict earlier should be good now
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

move alum to alum page
  tcf_website/static/about/alum-pfps/DM_Alyssa_Zhang.jpg
  tcf_website/static/about/alum-pfps/ENG_Adrian_Villanueva.jpg
  tcf_website/static/about/alum-pfps/ENG_Alex_Yung.jpg
  tcf_website/static/about/alum-pfps/ENG_Artie_Humphreys.jpg
  tcf_website/static/about/alum-pfps/ENG_Blaire_Zhao.jpg
  tcf_website/static/about/alum-pfps/ENG_Brandon_Istfan.jpg
  tcf_website/static/about/alum-pfps/ENG_Brian_Tran.jpg
  tcf_website/static/about/alum-pfps/ENG_Emily_Zhou.jpg
  tcf_website/static/about/alum-pfps/ENG_Grace_Kang.jpg
  tcf_website/static/about/alum-pfps/ENG_Ivan_Kisselev.jpg
  tcf_website/static/about/alum-pfps/ENG_Jay_Lalwani.jpg
  tcf_website/static/about/alum-pfps/ENG_Lexie_Chen.jpg
  tcf_website/static/about/alum-pfps/ENG_Luke_Kohler.jpeg
  tcf_website/static/about/alum-pfps/ENG_Michael_Barnor.jpg
  tcf_website/static/about/alum-pfps/ENG_Namai_Kureishi.jpg
  tcf_website/static/about/alum-pfps/ENG_Phong_Le.jpg
  tcf_website/static/about/alum-pfps/ENG_Yu_Cao.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

2 tests are failing, will look into more throughout the week
  tcf_website/tests/test_search_autocomplete.py
  tcf_website/tests/test_utils.py
Due: black, isort, pylint, coverage

reorder team_info more logically w/ Akeeb
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

reorder team_info more logically w/o Akeeb
  tcf_website/views/team_info.json
Due: none

make light mode the default for all users
  tcf_website/static/js/site/theme.js
  tcf_website/templates/site/base.html
Due: eslint, prettier

fix pfp
  tcf_website/static/about/alum-pfps/DM_Bree_Bonner.JPG
Due: none

improve formatting of about page
  tcf_website/static/css/site/pages/about.css
  tcf_website/templates/site/components/_about_member_section.html
  tcf_website/templates/site/pages/about.html
  tcf_website/views/team_alums.json
Due: prettier

update alum exec roles
  tcf_website/views/team_alums.json
Due: none

update FAQs to be same as old-ui
  tcf_website/templates/site/pages/landing.html
Due: none

add paragraph breaks to reviews
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/reviews.html
Due: none

fix: less vibecoded; match original website more closely
  tcf_website/static/css/site/base.css
  tcf_website/static/css/site/components/header.css
  tcf_website/static/css/site/pages/browse.css
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/static/css/site/pages/course_instructor_grades.css
  tcf_website/static/css/site/pages/landing.css
  tcf_website/static/css/site/tokens.css
  tcf_website/static/css/site/utilities.css
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_footer.html
  tcf_website/templates/site/pages/course.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/landing.html
Due: prettier

fix: light mode default
  tcf_website/static/js/site/theme.js
Due: eslint, prettier

fix: eslint
  tcf_website/static/js/site/theme.js
Due: eslint, prettier

fix github icons
  tcf_website/static/css/site/pages/about.css
  tcf_website/templates/site/components/_about_member_card.html
Due: prettier

fix: redirect to correct endpoint on login
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

add Akeeb pfp
  tcf_website/static/about/team-pfps/DM_Akeeb_Kalam.jpeg
  tcf_website/views/team_info.json
Due: none

move github icon on about page
  tcf_website/templates/site/components/_about_member_card.html
Due: none

remove githubs for exec
  tcf_website/views/team_info.json
Due: none

feat: autocomplete
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/components/_autocomplete_dropdown.html
  tcf_website/templates/site/components/_search_bar.html
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

feat: autocomplete in new review + schedule builder
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/components/_autocomplete_dropdown.html
  tcf_website/templates/site/components/_search_bar.html
  tcf_website/templates/site/pages/review_search.html
  tcf_website/templates/site/pages/schedule.html
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

format: eslint
  tcf_website/static/js/site/search_bar.js
Due: eslint, prettier

allow longer schedule names
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/templates/site/pages/schedule.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

feat: nix
  .gitignore
  flake.lock
  flake.nix
Due: none

fix: disable enter on schedule page autcomplete
  tcf_website/static/js/site/search_bar.js
Due: eslint, prettier

feat: localhost.run support
  tcf_core/settings/dev.py
Due: black, isort, pylint, coverage

fix pagination buttons
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/pages/department.html
Due: prettier

make search bar entire line
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/templates/site/pages/schedule.html
Due: prettier

add ads within between every 5 views
  tcf_website/templates/site/pages/course_instructor.html
Due: none

fix spacing
  tcf_website/static/css/site/components/misc.css
Due: prettier

chore: update db schema image (svg)
  db/DBSchema.png
  db/schema.svg
Due: none

chore: remove procfile
  Procfile
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
