Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix: migrations
  tcf_website/migrations/0010_trigram_extension.py
  tcf_website/migrations/0011_remove_course_tcf_website_subdepa_f296bc_idx_and_more.py
Due: black, isort, pylint, coverage

feat(search): improving indexing algorithm
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(search): comments
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(search): Added indices for instructors
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Added search vectors for instructors
  tcf_website/migrations/0012_instructor_search_and_more.py
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Minor tweaks
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(search): update comparison logic, fix vector configs
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat: refine decide_order
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

new answer form
  tcf_website/static/qa/new_answer.js
  tcf_website/templates/qa/answer_form.html
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

integrate edit/delete question
  tcf_website/static/qa/edit_question.js
  tcf_website/templates/qa/edit_question.html
  tcf_website/templates/qa/qa.html
  tcf_website/templates/qa/question_form_content.html
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

Added initial "new" tag on schedule
  tcf_website/static/base/sidebar.css
  tcf_website/templates/base/sidebar.html
Due: prettier

feat(fetch): add college requirements
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

More styling fixes
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/qa/qa.html
Due: prettier

Temp fix for answer form
  tcf_website/static/qa/new_answer.js
Due: eslint, prettier

Added proper template for reset
  tcf_website/templates/login/password_reset.html
  tcf_website/urls.py
Due: black, isort, pylint, coverage

Implement delete confirmation pop up
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

Added spring banner
  tcf_website/templates/browse/browse.html
  tcf_website/templates/common/review-drive-banner.html
  tcf_website/templates/landing/landing.html
Due: none

Added "New" to "Add to Schedule" button
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/course/course.html
Due: prettier

Added last page
  tcf_website/templates/login/password_reset_complete.html
  tcf_website/urls.py
Due: black, isort, pylint, coverage

fix(review): align progress bar (credit @artiehumphreys)
  tcf_website/templates/reviews/review_form_content.html
Due: none

chore: remove TODOs that will never be addressed
  tcf_core/settings/base.py
  tcf_website/api/views.py
  tcf_website/management/commands/load_semester.py
  tcf_website/models/models.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
