Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

feat(reviews): Default sorting method for faster fetch times
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

moved placeholder to list above
  tcf_website/templates/reviews/review_form_content.html
Due: none

fixed icons on several pagse
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-flask.svg
  tcf_website/templates/browse/browse.html
  tcf_website/templates/browse/school.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/landing/landing.html
Due: prettier

Fixed up and down arrow switching
  tcf_website/templates/search/search.html
Due: none

removed dash
  tcf_website/static/base/tcf-style.css
Due: prettier

no testing
  tcf_website/api/enrollment.py
Due: black, isort, pylint, coverage

fixed incorrect filtering when both query string and time filter presents
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

bug fixing and styling on delete schedule
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

linting
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

(fix): differ number of ratings vs. number of comments/ratings
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

more linting
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

(nit ): change 'comments' to 'reviews'
  tcf_website/templates/course/course_professor.html
Due: none

should be the last linting fix
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Landing page dark-mode half done
  tcf_website/static/base/tcf-style.css
  tcf_website/static/icons/icons.css
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
  tcf_website/templates/search/searchbar.html
Due: prettier

(nit): naming
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added back in "view section"; arrow UI still missing
  tcf_website/templates/course/course_professor.html
Due: none

adding test cases!
  tcf_website/api/enrollment.py
  tcf_website/tests/test_browse.py
  tcf_website/tests/test_enrollment.py
Due: black, isort, pylint, coverage

trigger ci
  tcf_website/tests/test_enrollment.py
Due: black, isort, pylint, coverage

lint fixes
  tcf_website/api/enrollment.py
  tcf_website/tests/test_enrollment.py
Due: black, isort, pylint, coverage

adding the refresh enrollment func
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
