Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

Fix coverage output format in CI workflow
  .github/workflows/ci.yml
Due: none

using prek instead
  .gitignore
  .husky/pre-commit
  .pre-commit-config.yaml
  doc/dev.md
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: prettier

removing the husky folder from git ignore
  .gitignore
Due: none

chore: reorg iac (#1296)
  iac/app/acm.tf
  iac/app/alb.tf
  iac/app/assets/form_logo_light.svg
  iac/app/assets/page_background_light.png
  iac/app/assets/page_footer_logo_light.png
  iac/app/assets/page_header_logo_light.png
  iac/app/branding-settings.json
  iac/app/cloudfront.tf
  iac/app/cloudwatch.tf
  iac/app/cognito.tf
  iac/app/data.tf
  iac/app/ecr.tf
  iac/app/ecs.tf
  iac/app/elasticache.tf
  iac/app/iam.tf
  iac/app/locals.tf
  iac/app/main.tf
  iac/app/networking.tf
  iac/app/outputs.tf
  iac/app/rds.tf
  iac/app/route53.tf
  iac/app/s3.tf
  iac/app/secrets.tf
  iac/app/security-groups.tf
  iac/app/terraform.tf
  iac/app/variables.tf
  iac/elasticache.tf
Due: none

feat: devcontainer setup
  .devcontainer/bashrc
  .devcontainer/devcontainer.json
  .python-version
  .vscode/settings.json
  Dockerfile
  doc/dev.md
  doc/useful-commands.md
  docker-compose.yml
  flake.lock
  flake.nix
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/list_reviews.py
  tcf_website/management/commands/load_review_drive.py
Due: black, isort, prettier, pylint, coverage

feat: compose stack with prod-parity backends
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  Caddyfile
  Dockerfile
  doc/dev.md
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
  docker-compose.yml
  scripts/hide_review.sh
  scripts/local_dump.sh
  scripts/reset-db.sh
  scripts/setup.sh
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

fix: refresh terraform
  iac/app/acm.tf
  iac/app/cloudfront.tf
  iac/app/data.tf
  iac/app/ecs.tf
  iac/app/elasticache.tf
  iac/app/locals.tf
  iac/app/main.tf
  iac/app/route53.tf
  iac/app/variables.tf
Due: none

feat: update port to 8000
  Dockerfile
  scripts/container-startup.sh
Due: none

feat: create bootstrapping project for tf
  iac/app/terraform.tf
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/state-bucket.tf
  iac/bootstrap/terraform.tf
  iac/bootstrap/variables.tf
Due: prettier

Fix database backup link in dev.md
  doc/dev.md
Due: prettier

Update database backup link in dev documentation
  doc/dev.md
Due: prettier

added dependabot
  .github/dependabot.yml
Due: none

added pre commit hook for linting (#1295)
  .pre-commit-config.yaml
  doc/dev.md
  pyproject.toml
  uv.lock
Due: prettier

fix: update ig link
  tcf_website/templates/site/common/components/_footer.html
Due: none

fix: update instagram link
  tcf_website/templates/site/common/components/_footer.html
Due: none

Add Aryan Sajjad profile picture and info
  .coveragerc
  .env.example
  .vscode/extensions.json
  .vscode/settings.json
  db/export_mapping_table.sql
  scripts/container-startup.sh
  scripts/ecs-run-command.sh
  scripts/hide_review.sh
  scripts/local_dump.sh
  scripts/prod_dump.sh
  scripts/reset-db.sh
  tcf_website/data/about/team_info.json
  tcf_website/management/commands/club_data/csv/clubs.csv
  tcf_website/management/commands/grade_data/csv/2011_fall.csv
  tcf_website/management/commands/grade_data/csv/2012_fall.csv
  tcf_website/management/commands/grade_data/csv/2012_spring.csv
  tcf_website/management/commands/grade_data/csv/2013_fall.csv
  tcf_website/management/commands/grade_data/csv/2013_spring.csv
  tcf_website/management/commands/grade_data/csv/2014_fall.csv
  tcf_website/management/commands/grade_data/csv/2014_spring.csv
  tcf_website/management/commands/grade_data/csv/2015_fall.csv
  tcf_website/management/commands/grade_data/csv/2015_spring.csv
  tcf_website/management/commands/grade_data/csv/2016_fall.csv
  tcf_website/management/commands/grade_data/csv/2016_spring.csv
  tcf_website/management/commands/grade_data/csv/2017_fall.csv
  tcf_website/management/commands/grade_data/csv/2017_spring.csv
  tcf_website/management/commands/grade_data/csv/2018_fall.csv
  tcf_website/management/commands/grade_data/csv/2018_spring.csv
  tcf_website/management/commands/grade_data/csv/2019_spring.csv
  tcf_website/management/commands/grade_data/csv/2023_spring.csv
  tcf_website/management/commands/semester_data/csv/2019_fall.csv
  tcf_website/management/commands/semester_data/csv/2020_january.csv
  tcf_website/management/commands/semester_data/csv/2020_spring.csv
  tcf_website/management/commands/semester_data/csv/2020_summer.csv
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
  tcf_website/management/commands/semester_data/csv/2025_summer.csv
  tcf_website/static/about/team-pfps/ENG_Aryan_Sajjad.jpg
Due: none

feat: compose stack with prod-parity backends
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  Caddyfile
  Dockerfile
  Dockerfile.cdn
  doc/dev.md
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
  docker-compose.yml
  scripts/hide_review.sh
  scripts/local_dump.sh
  scripts/reset-db.sh
  scripts/setup.sh
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

feat: devcontainer setup
  .devcontainer/bashrc
  .devcontainer/devcontainer.json
  .python-version
  .vscode/settings.json
  Dockerfile
  doc/dev.md
  doc/useful-commands.md
  docker-compose.yml
  flake.lock
  flake.nix
  tcf_core/settings/dev.py
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/list_reviews.py
  tcf_website/management/commands/load_review_drive.py
Due: black, isort, prettier, pylint, coverage

feat(iac): change port to 8000
  Dockerfile
  iac/app/ecr.tf
  scripts/container-startup.sh
Due: none

feat: compose stack with prod-parity backends
  .dockerignore
  .env.example
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Caddyfile
  Dockerfile
  Dockerfile.cdn
  doc/dev.md
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
  docker-compose.yml
  scripts/hide_review.sh
  scripts/local_dump.sh
  scripts/reset-db.sh
  scripts/setup.sh
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

feat: compose stack with prod-parity backends (#1275)
  .dockerignore
  .env.example
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Caddyfile
  Dockerfile
  Dockerfile.cdn
  doc/dev.md
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
  docker-compose.yml
  scripts/hide_review.sh
  scripts/local_dump.sh
  scripts/reset-db.sh
  scripts/setup.sh
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

feat: devcontainer setup (#1300)
  .devcontainer/bashrc
  .devcontainer/devcontainer.json
  .python-version
  .vscode/settings.json
  Dockerfile
  doc/dev.md
  doc/useful-commands.md
  docker-compose.yml
  flake.lock
  flake.nix
  tcf_core/settings/dev.py
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/list_reviews.py
  tcf_website/management/commands/load_review_drive.py
Due: black, isort, prettier, pylint, coverage

fix: fixing django debug toolbar no css attached in local dev
  tcf_core/settings/dev.py
  tcf_core/settings/toolbar_static_storage.py
Due: black, isort, pylint, coverage

update tiffany profile picture
  static/about/team-pfps/DM_Tiffany_Park.jpg
Due: none

update tiffany headshot
  tcf_website/static/about/team-pfps/DM_Tiffany_Park.jpg
Due: none

update tiffany headshot (#1303)
  tcf_website/static/about/team-pfps/DM_Tiffany_Park.jpg
Due: none

update tiffany headshot (#1304)
  tcf_website/static/about/team-pfps/DM_Tiffany_Park.jpg
Due: none

feat(iac): add GitHub OIDC for terraform deploys
  .github/workflows/terraform-apply.yml
  .gitignore
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/variables.tf
Due: prettier

ci(iac): run terraform plan on pushes to iac
  .github/workflows/terraform-apply.yml
Due: none

ci(iac): apply on push while iterating on the iac branch
  .github/workflows/terraform-apply.yml
  iac/bootstrap/README.md
Due: prettier

feat: quick-rate candidate service from schedule history
  tcf_core/settings/base.py
  tcf_website/migrations/0031_quickratedismissal.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/review/quick_rate.py
  tcf_website/tests/test_quick_rate.py
  tcf_website/utils.py
Due: black, isort, pylint, coverage

test: pin review_metrics output format
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

Prevent reviewing courses for semesters that haven't started yet
  tcf_website/models/models.py
  tcf_website/review/forms.py
  tcf_website/review/services.py
  tcf_website/tests/test_review.py
  tcf_website/tests/test_semester.py
  tcf_website/utils.py
  tcf_website/views/review/new_review.py
Due: black, isort, pylint, coverage

feat: review_metrics command for weekly review inflow
  tcf_website/management/commands/review_metrics.py
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

feat: quick-rate page for rating past courses
  tcf_website/static/css/site/pages/quick_rate.css
  tcf_website/static/js/site/review/quick_rate.js
  tcf_website/templates/site/common/components/_autocomplete_dropdown.html
  tcf_website/templates/site/review/components/_quick_rate_row.html
  tcf_website/templates/site/review/components/_quick_rate_scale.html
  tcf_website/templates/site/review/quick_rate.html
  tcf_website/templates/site/review/review.html
  tcf_website/tests/test_quick_rate.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/review/__init__.py
  tcf_website/views/review/quick_rate.py
Due: black, isort, eslint, prettier, pylint, coverage

fix: avoid redundant quick-rate queries and make the banner fail open
  tcf_core/context_processors.py
  tcf_website/templates/site/common/components/_quick_rate_banner.html
  tcf_website/tests/test_context_processors.py
  tcf_website/tests/test_quick_rate.py
  tcf_website/views/schedule/builder.py
Due: black, isort, pylint, coverage

fix: quick-rate dismiss returns 400 JSON for unknown ids
  tcf_website/tests/test_quick_rate.py
  tcf_website/views/review/quick_rate.py
Due: black, isort, pylint, coverage

feat: prompt users to rate past courses after finals and on the schedule page
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/static/css/site/components/quick_rate_prompt.css
  tcf_website/static/css/site/main.css
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_quick_rate_banner.html
  tcf_website/templates/site/schedule/schedule.html
  tcf_website/tests/test_context_processors.py
  tcf_website/tests/test_quick_rate.py
  tcf_website/views/schedule/builder.py
Due: black, isort, prettier, pylint, coverage

fix: address whole-branch review of quick-rate reviews
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/management/commands/review_metrics.py
  tcf_website/review/quick_rate.py
  tcf_website/static/css/site/components/quick_rate_prompt.css
  tcf_website/static/css/site/pages/quick_rate.css
  tcf_website/templates/site/common/components/_quick_rate_banner.html
  tcf_website/templates/site/courses/course_instructor.html
  tcf_website/templates/site/review/components/_quick_rate_row.html
  tcf_website/templates/site/review/quick_rate.html
  tcf_website/tests/test_context_processors.py
  tcf_website/tests/test_quick_rate.py
  tcf_website/tests/test_review.py
  tcf_website/views/review/quick_rate.py
Due: black, isort, prettier, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
