Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

updated parse time method
  tcf_website/static/schedule/parse_time.js
Due: eslint, prettier

add credit total to schedule template
  tcf_website/models/models.py
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add starter suggestions for first sprint: time parsing
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
Due: eslint, prettier

change default value for course units to three
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

reformat select schedules modal, begin work on edit schedules
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

reformat modal flow and remove redundant code
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
Due: eslint, prettier

reformat modal flow, add schedule card to add section modal
  package-lock.json
  tcf_website/migrations/0011_merge_20240304_1700.py
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

fix bug where credits weren't displayed in the delete modal
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

add alert for conflicting time add when adding a course to the schedule
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/parse_time.js
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

add reset button to edit schedule modal
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add ability to edit schedule names and courses
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

refactor where parse_time.js static file is included
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/schedules.html
Due: none

add dyanmic schedule card view when editing a schedule
  tcf_website/models/models.py
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

add course/section type to schedules, add starter style to add course modal
  tcf_website/models/models.py
  tcf_website/static/schedule/course_section_modal.css
  tcf_website/static/schedule/schedule_with_sections.css
  tcf_website/templates/schedule/add_course_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/views/browse.py
Due: black, isort, prettier, pylint, coverage

add starter schedule styles
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

add gpa stat to schedule card
  tcf_website/models/models.py
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/schedule_with_sections.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

bug fix
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

add schedule icon to the sidebar
  tcf_website/templates/base/sidebar.html
Due: none

add gpa to delete modal view
  tcf_website/templates/schedule/delete_schedule_modal.html
Due: none

refactor schedule modal workings, variable names, and flows
  tcf_website/static/schedule/load_schedule_select.js
  tcf_website/static/schedule/schedule.css
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/static/schedule/schedules_list.css
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

remove schedules template
  tcf_website/templates/schedule/schedules.html
  tcf_website/templates/schedule/user_schedules.html
Due: none

style course editor, add course name to course set, add clear selcted options when closing the schedule select modal
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule_editor.css
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/select_schedule_modal.html
Due: black, isort, prettier, pylint, coverage
