Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fixed pt2
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

add disciplines
  tcf_website/admin.py
  tcf_website/management/commands/load_semester.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

make migration
  tcf_website/migrations/0013_discipline_section_cost_course_disciplines.py
Due: black, isort, pylint, coverage

added newline for pylint
  tcf_website/admin.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

update fetch_data to include disciplines and cost
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

fix cost
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

generate new 2024_fall.csv
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
Due: none

commented the banner so its easy to uncomment
  tcf_website/templates/browse/browse.html
  tcf_website/templates/landing/landing.html
Due: none

add disciplines to course card
  tcf_website/templates/course/course.html
Due: none

add cost to section
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Updated team_info.json
  tcf_website/static/about/team-pfps/ENG_Hanzhe_Dong.jpg
  tcf_website/views/team_info.json
Due: none

adding vi to team alums
  tcf_website/static/about/alum-pfps/ENG_Vi_Nguyen.webp
  tcf_website/static/about/team-pfps/ENG_Vi_Nguyen.jpg
  tcf_website/views/team_alums.json
Due: none

Fix pylint issues
  tcf_core/settings/handle_exceptions_middleware.py
Due: black, isort, pylint, coverage

Add request headers in error logs
  tcf_core/settings/handle_exceptions_middleware.py
Due: black, isort, pylint, coverage

fix(docs): add trigram extension
  scripts/reset-db.sh
Due: none

Revert "Merge pull request #888 from junholee6a/add-logs"
  tcf_core/settings/handle_exceptions_middleware.py
Due: black, isort, pylint, coverage

Remake extra error logs
  tcf_core/settings/handle_exceptions_middleware.py
Due: black, isort, pylint, coverage

Add newline to end of file
  tcf_core/settings/handle_exceptions_middleware.py
Due: black, isort, pylint, coverage

add about
  tcf_website/static/about/team-pfps/ENG_Grace_Kang.jpg
  tcf_website/views/team_info.json
Due: none

feat: added image and added myself ot team info json file
  tcf_website/static/about/team-pfps/ENG_Visvajit_Murali.jpg
  tcf_website/views/team_info.json
Due: none

fix: changed the size of the image used for my pfp
  tcf_website/static/about/team-pfps/ENG_Visvajit_Murali.jpg
Due: none

simple change, ignore this
  tcf_website/static/schedule/parse_time.js
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
