Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Store denormalized review statistics (#982)
  tcf_website/apps.py
  tcf_website/management/commands/recompute_review_stats.py
  tcf_website/migrations/0029_coursestats_courseinstructorstats_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/models/stats.py
  tcf_website/signals.py
  tcf_website/tests/test_review_stats.py
  tcf_website/views/courses/course_instructor.py
Due: black, isort, pylint, coverage

Fix CI: ruff format + djlint formatting (#1251)
  tcf_website/templates/site/auth/forgot_password.html
  tcf_website/views/auth/__init__.py
Due: black, isort, pylint, coverage

Fix CI: annotate aggregate dicts for ty (#982)
  tcf_website/models/stats.py
Due: black, isort, pylint, coverage

Fix CI: import detoxify dynamically for ty (#1110)
  tcf_website/review/services.py
Due: black, isort, pylint, coverage

Changed dropdown from disabled to hidden (#1260)
  tcf_website/static/js/site/review/review_cascade.js
Due: eslint, prettier

stop container start on daemon restart
  docker-compose.yml
Due: none

added profile picture to teams-pfps
  tcf_website/static/about/team-pfps/ENG_Adrian_Villanueva.jpg
Due: none

Added myself to team_info.json
  tcf_website/data/about/team_info.json
Due: none

feat: remove dark mode toggle
  tcf_website/static/css/site/components/header.css
  tcf_website/static/css/site/tokens.css
  tcf_website/static/js/site/lib/theme.js
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_header.html
Due: eslint, prettier

chore: update yogesh's grad year
  tcf_website/data/about/team_info.json
Due: none

moved profile to maintain year order
  tcf_website/data/about/team_info.json
Due: none

Add Richard He to team_info.json and include profile picture
  tcf_website/data/about/team_info.json
  tcf_website/static/about/team-pfps/ENG_Richard_He.jpg
Due: none

Created table definition for CourseInstructorSemesterGrade table
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

added dictionary for new table
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

handle() method deletes new table when appropriate; also added import for new table
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

added CourseInstructorSemesterGrade to models/__init__.py
  tcf_website/models/__init__.py
Due: black, isort, pylint, coverage

Added cache for semesters to load
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

updated load_row_into_dict function
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

updated load_dict_into_models function for new table
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

refactored set_grade_params to work for new table
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

updated docustring to include new table
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

fix(actions): fix github actions for node 24
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

created interest meeting HTML file
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

Added HTML for banner
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

added form link to banner
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

feat: explicit TCF_ENV runtime mode
  .github/workflows/ci.yml
  doc/dev.md
  iac/ecs.tf
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

feat: explicit TCF_ENV runtime mode (#1273)
  .github/workflows/ci.yml
  doc/dev.md
  iac/ecs.tf
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

banner shows up visually
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

added css for banner and updated html naming for consistency
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: prettier

created banner.js file for closing banner logic"
  tcf_website/templates/site/common/base.html
Due: none

patched flashing banner bug after closing the banner and refresh of page
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

created banner.js file for closing banner logic
  tcf_website/static/js/site/lib/banner.js
Due: eslint, prettier

updated banner text
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

updated html and css to pass CI tests
  tcf_website/static/css/site/components/misc.css
  tcf_website/static/js/site/lib/banner.js
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: eslint, prettier

updated w/ meeting locations and file reformatting
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

Interest meeting banner (#1274)
  tcf_website/static/css/site/components/misc.css
  tcf_website/static/js/site/lib/banner.js
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: eslint, prettier
