Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

finish schedule card design
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule.css
  tcf_website/templates/schedule/schedule.html
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

Changed Dependency on CSV
  tcf_website/views/browse.py
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

Fix questions vote
  tcf_website/models/models.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix time conflict for new schedule layout
  tcf_website/templates/schedule/schedule.html
Due: none

compare csv fix
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Added replace to make times lowercase
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

patch some bugs and adjust template variables
  tcf_website/templates/course/course.html
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
Due: none

Now using session, updated difference checker, and threading
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Commented out qa code on browse.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added simple tags and shuffled around formatting on qa
  tcf_website/templates/qa/qa.html
Due: none

Finished change in database dependency
  tcf_website/templates/course/course.html
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

Changed model and made a quick fix for improving search times
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

add duplicate schedule button
  tcf_website/templates/schedule/user_schedules.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

Working on bug with no search results
  tcf_website/migrations/0010_trigram_extension.py
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

chore: format
  tcf_core/auth_pipeline.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/views/auth.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: update in-script documentation
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

restore 2024_spring.csv, includes tqdm update for total pages
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

tqdm terminal display improvement
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Binary search print statements
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

Search Vectors work, but not as anticipated
  tcf_website/migrations/0010_remove_course_tcf_website_subdepa_f296bc_idx_and_more.py
  tcf_website/migrations/0010_trigram_extension.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
