Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

attempted adding response button
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-reply.svg
  tcf_website/templates/qa/qa.html
Due: prettier

lint fixes
  tcf_website/static/course/javascript/course_data.js
Due: eslint, prettier

limited 15 results on no query
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

synced formatting between q and a
  tcf_website/templates/qa/qa.html
Due: none

fix gpa calculation bug
  tcf_website/templates/schedule/schedule.html
Due: none

add schedule builder to homepage
  tcf_website/templates/landing/dashboard.html
  tcf_website/templates/landing/landing.html
Due: none

context
  tcf_core/context_processors.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Made chart thinner
  tcf_website/static/course/course_professor.css
  tcf_website/templates/course/course_professor.html
Due: prettier

linting and added / modified some more comments
  tcf_website/api/filters.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

condensing migrations
  tcf_website/migrations/0018_courseenrollment_sectionenrollment.py
  tcf_website/migrations/0019_courseenrollment.py
Due: black, isort, pylint, coverage

documentation on filter_by_time function
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Added basic dark mode variables for universal use
  tcf_website/static/base/tcf-style.css
Due: prettier

fixed overflow of pagination buttons, and excluded empty reviews
  tcf_website/static/reviews/pagination.css
  tcf_website/templates/reviews/reviews_list.html
  tcf_website/views/review.py
Due: black, isort, prettier, pylint, coverage

limit filter results to 15
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat: async method for fetching course instructor data and reviews
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

moved edit answer similar to q
  tcf_website/templates/qa/qa.html
Due: none

Fixed formatting and styling
  tcf_website/templates/course/course_professor.html
Due: none

fix: seperated marketing and design teams on the about page
  tcf_website/templates/about/current_team.html
  tcf_website/views/index.py
  tcf_website/views/team_info.json
Due: black, isort, pylint, coverage

emptied according search param from url when no filters are applied
  tcf_website/templates/search/searchbar.html
Due: none

added donate modal (needs ui revamp)
  tcf_website/templates/base/index.html
  tcf_website/templates/common/donate_page_modal.html
  tcf_website/templates/landing/landing.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
