Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix git action errors
  package-lock.json
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix sidebar icon
  tcf_website/static/icons/icons.html
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/schedule/user_schedules.html
Due: none

fix parse_time eslint errors
  tcf_website/static/schedule/parse_time.js
Due: eslint, prettier

fix schedle script eslint errors
  tcf_website/static/schedule/parse_time.js
  tcf_website/static/schedule/schedule_select_script.js
Due: eslint, prettier

finalize eslint error fixes
  tcf_website/static/schedule/parse_time.js
  tcf_website/static/schedule/schedule_select_script.js
Due: eslint, prettier

add ad box at top of page
  tcf_website/templates/schedule/user_schedules.html
Due: none

feat(settings): load balancer configs
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

updated fetch data with the changes made to sis api
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

ensuring data exists for each section
  tcf_website/tasks.py
Due: black, isort, pylint, coverage

feat(about): shruti to alums
  tcf_website/static/about/alum-pfps/ENG_Shruti_Bala.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

feat(about): ann to alums
  tcf_website/static/about/alum-pfps/ENG_Ann_Li.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

set time inputs to empty on Clear Filters
  tcf_website/templates/search/searchbar.html
Due: none

feat(data): 2025 spring grades
  tcf_website/management/commands/semester_data/csv/2025_spring.csv
Due: none

make time ranges persist (sticky)
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

remove debug statements
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

revert browse.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

revert browse.html
  tcf_website/templates/browse/browse.html
Due: none

add schedule sidebar when not logged in
  tcf_website/templates/base/sidebar.html
Due: none

add allignment fixes and make schedule highlight when selected
  tcf_website/templates/schedule/select_schedule_modal.html
Due: none

reformat parse_time.js functions
  tcf_website/static/schedule/parse_time.js
Due: eslint, prettier

fix eslint error
  tcf_website/static/schedule/parse_time.js
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
