Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

fix: Added reply nesting and updated answer counting
  tcf_website/models/models.py
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_answer_item.html
  tcf_website/templates/qa/_question_detail.html
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

fix: Changed instructor and course styling
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_detail.html
Due: eslint, prettier

remove redundant checks
  tcf_website/templates/site/common/components/_rating_stat_trio.html
Due: none

Design Changes
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

fix: Fixed merge conflict
  tcf_website/static/qa/qa_dashboard.js
Due: eslint, prettier

Fix: added tooltip
  tcf_website/static/qa/qa_dashboard.js
Due: eslint, prettier

standardize to show last 5 years instead of all time + speedup queries
  tcf_website/admin.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/css/site/components/misc.css
  tcf_website/static/css/site/components/recency_toggle.css
  tcf_website/static/css/site/main.css
  tcf_website/static/css/site/pages/course.css
  tcf_website/static/css/site/pages/department.css
  tcf_website/static/css/site/pages/search.css
  tcf_website/templates/site/catalog/department.html
  tcf_website/templates/site/common/components/_recency_toggle.html
  tcf_website/templates/site/courses/course.html
  tcf_website/templates/site/instructors/instructor.html
  tcf_website/tests/test_department.py
  tcf_website/urls.py
  tcf_website/utils.py
  tcf_website/views/catalog/department.py
  tcf_website/views/courses/course.py
  tcf_website/views/instructors/instructor.py
Due: black, isort, prettier, pylint, coverage

grade color fix
  tcf_website/templates/site/courses/course_instructor.html
Due: none

massive query speedup for course page
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

hidden grade average fix
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

merge conflicting migrations, fix nickname display
  tcf_website/migrations/0026_merge_0025_user_nickname_0025_user_selected_pfp.py
  tcf_website/models/models.py
  tcf_website/templates/reviews/review.html
Due: black, isort, pylint, coverage

Restored the calendar tab. UI a bit broken.
  tcf_website/templates/calendar/calendar_overview.html
  tcf_website/templates/site/common/components/_header.html
Due: none

fix no space before .
  tcf_website/templates/site/home/landing.html
Due: none

remove whitespace
  tcf_website/static/css/site/pages/course_instructor.css
Due: prettier

add quotes
  .github/workflows/ci.yml
Due: none

better deployment
  .github/workflows/aws.yml
  scripts/container-startup.sh
  tcf_core/settings/prod.py
Due: black, isort, pylint, coverage

redis cache
  pyproject.toml
  uv.lock
Due: none

hiding pfp + speech bubble on profile reviews
  tcf_website/static/reviews/review.css
  tcf_website/templates/reviews/review.html
Due: prettier

feat: integrate live DynamoDB analytics into landing page UI
  tcf_website/templates/landing/landing.html
  tcf_website/views/index.py
Due: black, isort, pylint, coverage

add dev dependencies for scraping grades
  doc/grade-data.md
  pyproject.toml
  uv.lock
Due: prettier

arrow keys for navigating search dropdown
  tcf_website/static/js/site/lib/search_bar.js
  tcf_website/templates/site/common/components/_autocomplete_dropdown.html
Due: eslint, prettier

remove excessive padding in search bar
  tcf_website/static/css/site/components/search_bar.css
Due: prettier

accurately label filter on browse page
  tcf_website/templates/site/catalog/components/_advanced_search_form.html
Due: none

fix speech bubble triangle shadow
  tcf_website/static/reviews/review.css
Due: prettier

update margins and padding
  tcf_website/static/game/game.css
Due: prettier

update with responsive panels and colors
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

update with responsive panels and new css
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

cache optimization + 1 week lifetime
  tcf_core/settings/prod.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

feedback positioning
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

labels for guesses
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

course tile from rating card link
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, prettier, pylint, coverage

instruction modal (no text)
  tcf_website/static/game/game.css
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-question-circle.svg
  tcf_website/templates/game/game.html
Due: prettier

harden trending analytics with pagination, TTL filtering, and caching
  tcf_website/views/index.py
Due: black, isort, pylint, coverage

fix: harden analytics submission and clamp TTL values
  tcf_website/analytics_utils.py
Due: black, isort, pylint, coverage

fix: resolve subdepartment lookup error and apply ruff formatting
  tcf_website/views/catalog/browse.py
  tcf_website/views/courses/course_instructor.py
  tcf_website/views/home/pages.py
Due: black, isort, pylint, coverage

added course name to search function (can search for course name in addition to course code)
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

style: final ruff formatting for analytics_utils.py
  tcf_website/analytics_utils.py
Due: black, isort, pylint, coverage

added proximity to department guessing (orange for same school, green for correct) and filled in explanation
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage
