Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

extended profile card + fixed margins + scrolling
  tcf_website/templates/profile/profile.html
Due: none

fixed profile picture positioning
  tcf_core/context_processors.py
  tcf_core/settings/dev.py
  tcf_website/templates/profile/profile.html
  tcf_website/views/profile.py
Due: black, isort, pylint, coverage

added simple application feature and response view
  tcf_website/templates/club/club.html
Due: none

implement BERT
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

changed all review url reverses to profile
  tcf_website/tests/test_review.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

autocomplete backend, js frontend, some html (needs work)
  tcf_website/api/serializers.py
  tcf_website/static/search/autocomplete.js
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix: enrollment thread and temp storage issue
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
Due: black, isort, pylint, coverage

lint fixes
  tcf_website/api/views.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/tests/test_fetch_enrollment.py
Due: black, isort, pylint, coverage

fix: turning off enrollment update temp
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

update for spring 2026 semester data
  tcf_website/management/commands/semester_data/csv/2026_spring.csv
Due: none

update container startup to load new spring 2026 sem data
  scripts/container-startup.sh
Due: none

Refactor course embedding generation to load data from the database and include additional course details
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

Starting reply
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/reviews/review.html
  tcf_website/urls.py
Due: black, isort, pylint, coverage

Added frontend design for mocked replies'
  tcf_website/models/models.py
  tcf_website/templates/reviews/review.html
Due: black, isort, pylint, coverage

adding migration
  tcf_website/migrations/0023_reply_reply_one_reply_per_prof_per_review.py
Due: black, isort, pylint, coverage

fix(startup): remove load_sem
  scripts/container-startup.sh
Due: none

fix(enrollment): don't poll for enrollment
  tcf_website/templates/course/course_professor.html
Due: none

configure django's database connections
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

replace psycopg2 with psycopg3
  requirements.txt
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix: optimizing enrollment query
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

lint
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

optimize instructor_view query to reduce database load
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

use gunicorn as a production server (#1158) (#1159)
  docker-compose.yml
  scripts/container-startup.sh
Due: none

fix(docker): keep dev env using runserver
  docker-compose.yml
Due: none

optimize instructor_view query to reduce database load (#1194)
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix(db): redudant calls removed
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fix(gunicorn): increased timeout
  scripts/container-startup.sh
Due: none

perf(gunicorn): 3 workers + info log lvl
  scripts/container-startup.sh
Due: none

fix(gunicorn): revert gunicorn for now
  scripts/container-startup.sh
Due: none

fix(gunicorn): add gunicorn single worker again
  scripts/container-startup.sh
Due: none

Chatbot Integration
  tcf_website/templates/landing/dashboard.html
  tcf_website/templates/landing/landing.html
Due: none

Test Changes
  tcf_website/templates/landing/dashboard.html
Due: none

Chatbot Design Integration
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
Due: prettier

Test
  tcf_website/templates/landing/landing.html
Due: none

Added profile picture and info
  tcf_website/static/about/team-pfps/ENG_Nathan_Kim.jpg
  tcf_website/views/team_info.json
Due: none

Undo test
  tcf_website/templates/landing/landing.html
Due: none

UI Modifications
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
Due: prettier
