Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Changed old script into a command line runnable script
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

feat: format
  tcf_core/auth_pipeline.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/fetch_sis_data.py
  tcf_website/views/auth.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: rename fetch_data, remove lous file
  tcf_website/management/commands/semester_data/fetch_data.py
  tcf_website/management/commands/semester_data/fetch_sis_data.py
Due: black, isort, pylint, coverage

fix(autocomplete): increase caching to 5 min
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(autocomplete): better comments
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix(ci): make pylint happy
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Revert "Merge pull request #796 from thecourseforum/search-autocomplete"
  .config/.env.example
  scripts/reset-db.sh
  tcf_core/settings/base.py
  tcf_website/static/search/search_autocomplete.js
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

updated script functions to reflect updates to command (now deprecated)
  tcf_website/management/commands/semester_data/fetch_data.py
Due: black, isort, pylint, coverage

feat(autocomplete): incorporate debounce & redirect
  tcf_website/static/search/search_autocomplete.js
Due: eslint, prettier

fix(chore): format
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
  tcf_website/static/search/search_autocomplete.js
  tcf_website/views/auth.py
Due: black, isort, eslint, prettier, pylint, coverage

Re-added autocomplete
  tcf_website/static/search/search_autocomplete.js
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

(Chore): Fixed Formatting
  tcf_website/static/search/search_autocomplete.js
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(autocomplete): remove unecessary declaration
  tcf_website/static/search/search_autocomplete.js
Due: eslint, prettier

fix(reqs): use compatible packages
  .python-version
  requirements.txt
Due: none

feat(fetch_data): refactors, foramtting
  tcf_website/management/commands/semester_data/fetch_data.py
Due: black, isort, pylint, coverage

feat(fetch_data): documentation
  docs/useful-commands.md
  tcf_website/management/commands/semester_data/fetch_data.py
Due: black, isort, prettier, pylint, coverage

feat(fetch_data): keep compare function for debuggin
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/semester_data/fetch_data.py
Due: black, isort, pylint, coverage

Added replace to make times lowercase
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

style course editor, add course name to course set, add clear selcted options when closing the schedule select modal
  tcf_website/models/models.py
  tcf_website/static/schedule/schedule_editor.css
  tcf_website/templates/schedule/edit_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
  tcf_website/templates/schedule/select_schedule_modal.html
Due: black, isort, prettier, pylint, coverage

adjusted the no courses label when adding courses to schedule for the first time
  tcf_website/templates/schedule/schedule.html
Due: none
