Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix: better comments
  tcf_core/settings/base.py
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added checks to make env setting optional
  tcf_core/settings/base.py
  tcf_website/management/commands/load_review_drive.py
Due: black, isort, pylint, coverage

CR: Style improvements
  tcf_core/settings/base.py
  tcf_website/management/commands/load_review_drive.py
Due: black, isort, pylint, coverage

Style fixes
  tcf_website/management/commands/load_review_drive.py
  tcf_website/migrations/0012_alter_review_email.py
  tcf_website/urls.py
Due: black, isort, pylint, coverage

fix(browse): fixed login info loss with session.flush()
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat(format): line length 80->100
  pyproject.toml
  setup.cfg
Due: none

feat(format): format w/ new rules
  tcf_core/auth_pipeline.py
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_core/settings/handle_exceptions_middleware.py
  tcf_core/settings/record_middleware.py
  tcf_website/api/serializers.py
  tcf_website/api/views.py
  tcf_website/legacy_models.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/grade_data/split_data.py
  tcf_website/management/commands/load_grades.py
  tcf_website/management/commands/load_review_drive.py
  tcf_website/management/commands/load_semester.py
  tcf_website/management/commands/migrate_legacy_reviews.py
  tcf_website/management/commands/migrate_legacy_subdepartments.py
  tcf_website/management/commands/other_schools_department_fix.py
  tcf_website/migrations/0001_initial.py
  tcf_website/migrations/0004_alter_question_placeholder.py
  tcf_website/migrations/0006_answer_semester_question_instructor_votequestion_and_more.py
  tcf_website/migrations/0012_alter_review_email.py
  tcf_website/models/models.py
  tcf_website/static/about/resize-alum-photos.py
  tcf_website/tests/test_commands.py
  tcf_website/tests/test_course.py
  tcf_website/tests/test_instructor.py
  tcf_website/tests/test_instructor_edgecases.py
  tcf_website/tests/test_misc_models.py
  tcf_website/tests/test_review.py
  tcf_website/tests/test_subdepartment.py
  tcf_website/tests/test_utils.py
  tcf_website/urls.py
  tcf_website/views/auth.py
  tcf_website/views/browse.py
  tcf_website/views/index.py
  tcf_website/views/profile.py
  tcf_website/views/qa.py
  tcf_website/views/review.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix: fixed ranges for review values
  tcf_website/tests/test_department.py
Due: black, isort, pylint, coverage

feat(format): format w/ new rules
  pyproject.toml
  setup.cfg
Due: none

feat(format): do format
  tcf_core/auth_pipeline.py
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_core/settings/handle_exceptions_middleware.py
  tcf_core/settings/record_middleware.py
  tcf_website/api/serializers.py
  tcf_website/api/views.py
  tcf_website/legacy_models.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/grade_data/split_data.py
  tcf_website/management/commands/load_grades.py
  tcf_website/management/commands/load_review_drive.py
  tcf_website/management/commands/load_semester.py
  tcf_website/management/commands/migrate_legacy_reviews.py
  tcf_website/management/commands/migrate_legacy_subdepartments.py
  tcf_website/management/commands/other_schools_department_fix.py
  tcf_website/migrations/0001_initial.py
  tcf_website/migrations/0004_alter_question_placeholder.py
  tcf_website/migrations/0006_answer_semester_question_instructor_votequestion_and_more.py
  tcf_website/models/models.py
  tcf_website/static/about/resize-alum-photos.py
  tcf_website/tests/test_commands.py
  tcf_website/tests/test_course.py
  tcf_website/tests/test_department.py
  tcf_website/tests/test_instructor.py
  tcf_website/tests/test_instructor_edgecases.py
  tcf_website/tests/test_misc_models.py
  tcf_website/tests/test_review.py
  tcf_website/tests/test_utils.py
  tcf_website/urls.py
  tcf_website/views/auth.py
  tcf_website/views/browse.py
  tcf_website/views/index.py
  tcf_website/views/profile.py
  tcf_website/views/qa.py
  tcf_website/views/review.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat: upgrade python to 3.12
  .config/app.yaml.template
Due: none

add adjustments for search
  tcf_website/migrations/0013_merge_20240606_1626.py
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/templates/search/search.html
Due: black, isort, eslint, prettier, pylint, coverage

feat: format
  tcf_website/migrations/0010_schedule_scheduledcourse.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/base/sidebar.css
  tcf_website/static/schedule/parse_time.js
  tcf_website/static/schedule/schedule.css
  tcf_website/static/schedule/schedule_editor.css
  tcf_website/static/schedule/schedule_select_script.js
  tcf_website/static/schedule/schedule_with_sections.css
  tcf_website/templatetags/custom_tags.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/schedule.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(ddos): disable bugform
  tcf_website/static/base/bugform.js
Due: eslint, prettier

add comments for get_schedule
  tcf_website/migrations/0013_merge_20240730_1959.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Updated exec team for 2024-25
  tcf_website/static/about/team-pfps/DM_Alyssa_Zhang.jpg
  tcf_website/static/about/team-pfps/DM_Julie_Huang.jpg
  tcf_website/views/team_info.json
Due: none

Updated active/inactive
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

Fixed pictures
  tcf_website/static/about/alum-pfps/DM_Ananya_Raam.jpeg
  tcf_website/static/about/alum-pfps/DM_Jasmine_Senesombath.jpg
  tcf_website/static/about/alum-pfps/ENG_Ankit_Poudyal.jpg
  tcf_website/static/about/alum-pfps/ENG_Caesar_Ning.jpg
  tcf_website/static/about/alum-pfps/ENG_Lilian_Zhang.png
  tcf_website/static/about/alum-pfps/ENG_Oliver_Song.jpg
  tcf_website/static/about/alum-pfps/ENG_PARAM_PATEL.jpg
  tcf_website/static/about/alum-pfps/ENG_Raffi_Khondaker.jpeg
  tcf_website/static/about/alum-pfps/ENG_Riley_Fletcher.jpg
  tcf_website/static/about/alum-pfps/ENG_Samyak_Thapa.jpg
  tcf_website/static/about/alum-pfps/ENG_Tommy_Lam.jpg
  tcf_website/static/about/alum-pfps/MAD_Rachita_Pathipati.webp
Due: none

feat(docker): cache python dependencies on build
  Dockerfile
Due: none

feat(doc): docs -> doc
  README.md
  doc/archive/home.md
  doc/archive/release-history.md
  doc/archive/semester-data.md
  doc/archive/update-guide.md
  doc/dev.md
  doc/grade-data.md
  doc/tcf_style_guide.pdf
  doc/useful-commands.md
Due: prettier

feat(about): make tino an alum
  tcf_website/static/about/alum-pfps/ENG_Tino_Martella.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

feat: remove review drive, add application banner
  tcf_website/templates/browse/browse.html
  tcf_website/templates/common/application_banner.html
  tcf_website/templates/landing/landing.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
