Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

fix: add barrett back
  tcf_website/static/about/team-pfps/ENG_Barrett_Ruth.jpg
  tcf_website/static/about/team-pfps/ENG_Barrett_Ruth.webp
  tcf_website/views/team_info.json
Due: none

Converted javascript code to jquery and put it in static folder
  tcf_website/static/search/search_autocomplete.js
  tcf_website/templates/search/searchbar.html
Due: eslint, prettier

Removed old code
  tcf_website/templates/search/searchbar.html
Due: none

eslint, formatting fixes
  tcf_website/static/search/search_autocomplete.js
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(gae): unpin deployment action from main to v1
  .github/workflows/master-to-app-engine.yml
Due: none

docs: revamp
  docs/archive/search.md
  docs/grade-data.md
  docs/useful-commands.md
Due: prettier

chore: formatting
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(about): add 2023 alums
  tcf_website/static/about/alum-pfps/DM_Nikhil_Mahajan.webp
  tcf_website/static/about/alum-pfps/ENG_Borja_Ingle-Fernandez.webp
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

Updated versions on actions to use Node.js Version 20
  .github/workflows/master-to-app-engine.yml
Due: none

Debounce + cooldown to reduce CPU usage
  tcf_website/templates/search/searchbar.html
Due: none

Update actions checkout, setup-python, setup-node
  .github/workflows/continuous-integration.yml
Due: none

Update useful-commands.md
  docs/useful-commands.md
Due: prettier

feat(autocomplete): 120s caching
  tcf_core/settings/base.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Persist partial token until grad year entered
  tcf_core/auth_pipeline.py
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

Fix pylint errors
  tcf_core/auth_pipeline.py
Due: black, isort, pylint, coverage

Continuous Integration Fix
  .github/workflows/master-to-app-engine.yml
Due: none

Reverted github action changes
  .github/workflows/master-to-app-engine.yml
Due: none

Revert "Updated versions on actions to use Node.js Version 20"
  .github/workflows/master-to-app-engine.yml
Due: none

created sis_csv folder to temporarily store and test SIS csv with load_semester.py which was also updated with its corresponding changes
  tcf_website/management/commands/load_semester.py
  tcf_website/management/commands/semester_data/sis_csv/2023_spring.csv
Due: black, isort, pylint, coverage

Remove global monkey patching
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage
