Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Revert "remove discord in ci file"
  .github/workflows/continuous-integration.yml
Due: none

remove discord_url_bug, temp
  .config/.env.example
  .config/app.yaml.template
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
  tcf_core/settings/base.py
  tcf_website/urls.py
Due: black, isort, pylint, coverage

remove references to discord view
  tcf_website/urls.py
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

removed all instances of using discord
  .config/.env.example
  .config/app.yaml.template
  .github/workflows/master-to-app-engine.yml
  scripts/notify-checks-result.sh
  scripts/notify-deployment-result.sh
  tcf_core/settings/base.py
  tcf_website/views/discord.py
Due: black, isort, pylint, coverage

remove discord in ci file
  .github/workflows/continuous-integration.yml
Due: none

Test add
  tcf_website/apps.py
Due: black, isort, pylint, coverage

Revert test
  tcf_website/apps.py
Due: black, isort, pylint, coverage

fix: python 3.11
  .config/app.yaml.template
Due: none

fix(scripts): use arg in reset db
  scripts/reset-db.sh
Due: none

Added about me image and info
  tcf_website/static/about/team-pfps/ENG_Geethan_Sundaram.jpg
  tcf_website/views/team_info.json
Due: none

Added missing comma
  tcf_website/views/team_info.json
Due: none

added logic creating new question (not working yet)
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

added a checkbox to filter the courses that displays only the course taught in the current semester
  tcf_website/templates/browse/browse.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

moved filter button to serachbar
  tcf_website/templates/base/base.html
  tcf_website/templates/landing/landing.html
  tcf_website/templates/search/searchbar.html
Due: none

created new paginate branch
  scripts/reset-db.sh
Due: none

fix: use older 2024_fall.csv
  tcf_website/management/commands/semester_data/csv/2024_fall.csv
Due: none

fix: more modest page sizes
  tcf_website/api/views.py
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/reviews/new_review.js
Due: black, isort, eslint, prettier, pylint, coverage

added deprecation warning to FlexiblePagination class
  tcf_website/api/paginations.py
Due: black, isort, pylint, coverage

pylint fix
  tcf_website/api/paginations.py
Due: black, isort, pylint, coverage

Added Jay's filtering system to searchbar dropdown Added context to pass data to all files using searchbar.html.
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/templates/search/searchbar.html
Due: black, isort, pylint, coverage

fixing dropdown search button redirect to wrong url and dropdown closes when click, formatted searchbar.html
  tcf_core/context_processors.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Add CSV Files for new Sem classes
  tcf_website/management/commands/grade_data/csv/2022_fall.csv
  tcf_website/management/commands/grade_data/csv/2023_fall.csv
  tcf_website/management/commands/grade_data/csv/2024_january.csv
  tcf_website/management/commands/grade_data/csv/2024_spring.csv
  tcf_website/management/commands/semester_data/csv/2025_spring.csv
Due: none

clean up
  tcf_website/static/search/filter_dropdown.css
  tcf_website/templates/search/searchbar.html
Due: prettier

more styling
  tcf_website/templates/search/searchbar.html
Due: none
