Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

cleanup repeated code
  tcf_website/templates/course/course.html
Due: none

latest_semester_taught bug fix
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

improve enrollment to only run on course page (asynchronously)
  tcf_website/api/enrollment.py
  tcf_website/api/views.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

update browse test
  tcf_website/tests/test_browse.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/tests/test_browse.py
Due: black, isort, pylint, coverage

db indexing; only load current sem instructors by default (100000x speedup and db cpu load reduction)
  tcf_website/migrations/0022_coursegrade_tcf_website_course__76e103_idx_and_more.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

some1 pls refactor schedule.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

open sections only for latest semester
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

hide dropdown on browse by default
  tcf_website/templates/browse/school.html
  tcf_website/templates/club/browse_category.html
Due: none

small fix to club category dropdown on browse
  tcf_website/templates/club/browse_category.html
Due: none

distinct results
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

Show Open Courses Only (text change)
  tcf_website/templates/search/searchbar.html
Due: none

added pagination on club-category
  tcf_website/templates/club/category.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

common pagination; paginate search, department, club_category
  tcf_website/templates/club/category.html
  tcf_website/templates/common/pagination.html
  tcf_website/templates/department/department.html
  tcf_website/templates/search/search.html
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

click club category on search landing
  tcf_website/templates/search/search.html
Due: none

make searchbar club/course toggle visible for visually impaired & keyboard navigation users
  tcf_website/static/club/mode_toggle.css
  tcf_website/templates/club/mode_toggle.html
Due: prettier

remove (wrong) # of clubs on club category page
  tcf_website/templates/club/category.html
Due: none

update assistive tech labels; defend against missing inputs in mode_toggle
  tcf_website/static/club/mode_toggle.js
Due: eslint, prettier

make sure enrollment threads aren't left hanging
  tcf_website/api/views.py
Due: black, isort, pylint, coverage

make fetch_data, fetch_clubs django commands
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

fetch_data, fetch_clubs thread cleanup and django command
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

updated docs; updated clubs csv
  doc/useful-commands.md
  tcf_website/management/commands/club_data/csv/clubs.csv
Due: prettier

defend against null inputs in filters.js
  tcf_website/static/search/filters.js
Due: eslint, prettier

catch PageNotInteger to show first page
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

club category prefetching
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

search refactor (minor change)
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

avoid math.inf
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

eslint
  tcf_website/static/club/mode_toggle.js
Due: eslint, prettier

pylint
  tcf_website/api/views.py
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

edit startup script to no longer load_clubs (only once is necessary)
  scripts/container-startup.sh
Due: none

remove all old login stuff
  requirements.txt
  tcf_core/auth_pipeline.py
  tcf_core/settings/base.py
  tcf_core/urls.py
  tcf_website/templates/login/extra_info_form.html
  tcf_website/views/auth.py
Due: black, isort, pylint, coverage

clear expired django sessions on container startup
  scripts/container-startup.sh
Due: none

remove login stuff from init file
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

remove unnecessary session data (too much storage)
  tcf_website/views/index.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

[refactor]: move from session to localStorage
  tcf_core/context_processors.py
  tcf_core/settings/record_middleware.py
  tcf_website/static/common/recently_viewed.js
  tcf_website/static/search/filters.js
  tcf_website/templates/base/index.html
  tcf_website/templates/club/club.html
  tcf_website/templates/common/history_page_modal.html
  tcf_website/templates/course/course.html
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

mobile fix
  tcf_website/static/search/filters.js
Due: eslint, prettier

synchronize recently viewed courses and their paths
  tcf_website/static/common/recently_viewed.js
Due: eslint, prettier

remove cookies all together
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_core/settings/record_middleware.py
  tcf_website/static/common/recently_viewed.js
  tcf_website/templates/common/history_page_modal.html
Due: black, isort, eslint, prettier, pylint, coverage

remove erroneous reference to request.session
  tcf_website/templates/search/searchbar.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
