Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

feat(ci): deprecate old pre-commit approach
  .githooks/pre-commit
  precommit.sh
Due: none

added backend python file
  tcf_website/api/urls.py
  tcf_website/templates/course/course.html
  tcf_website/views/recommender.py
Due: black, isort, pylint, coverage

Revert "feat(ci): codebase formatting"
  .config/.eslintrc.yml
  .githooks/pre-commit
  .github/workflows/continuous-integration.yml
  docker-compose.yml
  package-lock.json
  package.json
  precommit.sh
Due: none

chore(pylint): ignore rule
  tcf_website/tests/test_commands.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

feat: update packages
  package-lock.json
  package.json
  requirements.txt
Due: none

feat(format): remove old pre-commit approach
  .github/workflows/continuous-integration.yml
  .github/workflows/master-to-app-engine.yml
  precommit.sh
Due: none

feat(format): format script
  scripts/format.bat
  scripts/format.sh
Due: none

feat(format): eslint-prettier compatibility
  .config/.eslintrc.yml
  package-lock.json
  package.json
Due: none

feat(format): new prettier settings
  tcf_website/static/base/bugform.js
  tcf_website/static/common/bind-sort.js
  tcf_website/static/common/form.js
  tcf_website/static/common/show-hide.js
  tcf_website/static/common/sortClasses.js
  tcf_website/static/common/sorting.js
  tcf_website/static/course/javascript/course_data.js
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/department/loadMoreCourses.js
  tcf_website/static/landing/feedbackform.js
  tcf_website/static/qa/new_answer.js
  tcf_website/static/qa/qa.js
  tcf_website/static/qa/sort_qa.js
  tcf_website/static/reviews/new_review.js
  tcf_website/static/reviews/review.js
  tcf_website/static/reviews/sort_reviews.js
  tcf_website/static/reviews/sync_review_sliders.js
Due: eslint, prettier

feat(format): prettier ignore
  .githooks/pre-commit
  .prettierignore
  package-lock.json
  package.json
Due: none

feat(docs): formatting documentation
  docs/useful-commands.md
Due: prettier

feat(format): fix on eslint
  scripts/format.bat
  scripts/format.sh
Due: none

fix(env): add back example env
  .config/.env.example
Due: none

Disable partial token deletion
  tcf_core/auth_pipeline.py
Due: black, isort, pylint, coverage

fix(docs): fixup db script
  README.md
  docs/dev.md
  scripts/reset-db.sh
Due: prettier

feat(docs): picking review drive winners
  docs/useful-commands.md
Due: prettier

Update dev.md
  docs/dev.md
Due: prettier

fix(docs): fix styling
  docs/useful-commands.md
Due: prettier

Update useful-commands.md
  docs/useful-commands.md
Due: prettier

feat(docs): archive wiki docs
  docs/archive/grade-data.md
  docs/archive/home.md
  docs/archive/release-history.md
  docs/archive/search.md
  docs/archive/semester-data.md
  docs/archive/update-guide.md
  docs/dev.md
  scripts/reset-db.bat
  scripts/reset-db.sh
Due: prettier

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
