Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

first draft
  club.md
  tcf_website/api/enrollment.py
  tcf_website/api/serializers.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/management/commands/create_test_clubs.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/management/commands/load_grades.py
  tcf_website/management/commands/load_review_drive.py
  tcf_website/migrations/0021_clubcategory_club_review_club_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/browse/browse.css
  tcf_website/static/reviews/club_review.js
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/category.html
  tcf_website/templates/club/club.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/templates/reviews/review.html
  tcf_website/templates/reviews/review_form_content.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/templates/reviews/zero_hours_modal.html
  tcf_website/templates/search/search.html
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/profile.py
  tcf_website/views/qa.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

cleanup
  club.md
Due: prettier

lint
  package-lock.json
  package.json
  tcf_website/admin.py
  tcf_website/management/commands/create_test_clubs.py
  tcf_website/static/reviews/club_review.js
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

lint2
  tcf_website/static/reviews/club_review.js
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

lint3
  tcf_website/static/reviews/club_review.js
Due: eslint, prettier

quick fix to fetch_data
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

revert package.json
  package-lock.json
  package.json
Due: none

fix copilot comments; restyle
  tcf_website/static/browse/browse.css
  tcf_website/static/reviews/club_review.js
  tcf_website/templates/browse/browse.html
Due: eslint, prettier

new review cleanup
  tcf_website/management/commands/create_test_clubs.py
  tcf_website/migrations/0021_clubcategory_alter_review_course_and_more.py
  tcf_website/models/models.py
  tcf_website/static/reviews/club_review.js
  tcf_website/static/reviews/new_review.js
  tcf_website/templates/reviews/edit_review.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

cleanup
  tcf_website/static/reviews/new_review.js
Due: eslint, prettier

cleanup
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

eslint
  tcf_website/static/reviews/club_review.js
Due: eslint, prettier

cleanup
  tcf_website/management/commands/create_test_clubs.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

club.html
  tcf_website/static/reviews/club_review.js
  tcf_website/static/reviews/review.js
  tcf_website/templates/club/club.html
Due: eslint, prettier

manually fix ESLint/Prettier issues
  tcf_website/static/course/javascript/course_data.js
Due: eslint, prettier

changed availability text
  tcf_website/templates/search/searchbar.html
Due: none

changed availability text on desktop view
  tcf_website/templates/search/searchbar.html
Due: none

eslint fix
  tcf_website/static/course/javascript/course_data.js
Due: eslint, prettier

update graphs
  tcf_website/templates/course/course_professor.html
Due: none

Update course_professor.html
  tcf_website/templates/course/course_professor.html
Due: none

update gpa history graph
  tcf_website/templates/course/course_professor.html
Due: none

disable filter button in club
  tcf_website/templates/search/searchbar.html
Due: none

mode_toggle refactor; searchbar refactor; mode_toggle restyle
  tcf_website/static/browse/browse.css
  tcf_website/static/club/mode_toggle.css
  tcf_website/static/club/mode_toggle.js
  tcf_website/static/search/filters.js
  tcf_website/static/search/searchbar.css
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/mode_toggle.html
  tcf_website/templates/reviews/edit_review.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/templates/search/searchbar.html
Due: eslint, prettier

lint
  tcf_website/static/club/mode_toggle.css
  tcf_website/static/search/filters.js
Due: eslint, prettier

Show Open Courses Only
  tcf_website/templates/search/searchbar.html
Due: none

no filters on mobile/tablet; cleanup searchbar styling; min gpa
  tcf_core/context_processors.py
  tcf_website/static/search/filters.js
  tcf_website/static/search/searchbar.css
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

styling
  tcf_website/static/club/mode_toggle.css
  tcf_website/templates/landing/landing.html
Due: prettier

filters code cleanup
  tcf_website/static/search/filters.js
Due: eslint, prettier

fetch_clubs; clubs.csv; specific club categories defined; load_clubs django command; updated club view with image and application required
  tcf_website/management/commands/club_data/csv/clubs.csv
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/load_clubs.py
  tcf_website/migrations/0021_clubcategory_alter_review_course_and_more.py
  tcf_website/models/models.py
  tcf_website/templates/club/club.html
Due: black, isort, pylint, coverage

refactor; pylint
  tcf_website/management/commands/club_data/csv/clubs.csv
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/load_clubs.py
Due: black, isort, pylint, coverage

create container-startup script (updated Dockerfile)
  Dockerfile
  scripts/container-startup.sh
Due: none

small styling change
  tcf_website/static/search/searchbar.css
  tcf_website/templates/search/searchbar.html
Due: prettier

refactor club browse template
  tcf_website/templates/browse/browse.html
  tcf_website/templates/club/browse_category.html
Due: none

add club meeting time; restyle browse page
  tcf_website/management/commands/club_data/csv/clubs.csv
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/load_clubs.py
  tcf_website/migrations/0021_clubcategory_alter_review_course_and_more.py
  tcf_website/models/models.py
  tcf_website/static/browse/browse.css
  tcf_website/templates/club/club.html
Due: black, isort, prettier, pylint, coverage

update or create in load_clubs
  tcf_website/management/commands/load_clubs.py
Due: black, isort, pylint, coverage

remove enrollment print statements
  tcf_website/api/enrollment.py
  tcf_website/management/commands/fetch_enrollment.py
  tcf_website/utils/enrollment.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/management/commands/fetch_enrollment.py
Due: black, isort, pylint, coverage

center club image
  tcf_website/templates/club/club.html
Due: none
