Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

feat: add missing course data
  tcf_website/management/commands/semester_data/csv/2022_january.csv
  tcf_website/management/commands/semester_data/csv/2024_summer.csv
  tcf_website/management/commands/semester_data/csv/2025_january.csv
  tcf_website/management/commands/semester_data/csv/2026_january.csv
Due: none

fix(course): sort course instructors by semester
  tcf_website/models/models.py
  tcf_website/tests/test_course.py
Due: black, isort, pylint, coverage

perf(course): resolve last-taught semester with one subquery
  tcf_website/models/models.py
  tcf_website/tests/test_course.py
  tcf_website/views/courses/course.py
Due: black, isort, pylint, coverage

fix(course): sort instructors by semester (#1279)
  tcf_website/models/models.py
  tcf_website/tests/test_course.py
  tcf_website/views/courses/course.py
Due: black, isort, pylint, coverage

chore(deploy): add load_semester commands to startup script
  scripts/container-startup.sh
Due: none

feat: add missing course data (#1277)
  scripts/container-startup.sh
  tcf_website/management/commands/semester_data/csv/2022_january.csv
  tcf_website/management/commands/semester_data/csv/2024_summer.csv
  tcf_website/management/commands/semester_data/csv/2025_january.csv
  tcf_website/management/commands/semester_data/csv/2026_january.csv
Due: none

chore: remove load commands from startup script
  scripts/container-startup.sh
Due: none

Make browse school accordions accessible
  tcf_website/static/css/site/pages/browse.css
  tcf_website/templates/site/catalog/browse.html
  tcf_website/templates/site/catalog/components/_school_section.html
  tcf_website/tests/test_browse.py
Due: black, isort, prettier, pylint, coverage

commit the missing fix on eslint node version
  .github/workflows/ci.yml
Due: none

feat: compose stack with prod-parity backends
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  Caddyfile
  Dockerfile
  doc/dev.md
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
  docker-compose.yml
  scripts/hide_review.sh
  scripts/local_dump.sh
  scripts/reset-db.sh
  scripts/setup.sh
  tcf_core/settings/base.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
Due: black, isort, prettier, pylint, coverage

feat: devcontainer setup
  .devcontainer/bashrc
  .devcontainer/devcontainer.json
  .python-version
  .vscode/settings.json
  Dockerfile
  doc/dev.md
  doc/useful-commands.md
  docker-compose.yml
  flake.lock
  flake.nix
  tcf_website/management/commands/fetch_clubs.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/list_reviews.py
  tcf_website/management/commands/load_review_drive.py
Due: black, isort, prettier, pylint, coverage

Address review: sort dept courses on stored stats; guard test loop against null-course reviews
  tcf_website/models/models.py
  tcf_website/tests/test_review_stats.py
Due: black, isort, pylint, coverage

Updated text to reflect application instead of interest meeting
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

Centered text to the middle of the banner
  tcf_website/static/css/site/components/misc.css
Due: prettier

updated banner id
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: none

Application banner (#1284)
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/common/components/_interest_meeting.html
Due: prettier

feat(courses): update fall 2026 data
  tcf_website/management/commands/semester_data/csv/2026_fall.csv
Due: none

Removed banner from website
  tcf_website/templates/site/common/base.html
Due: none

Remove application banner
  tcf_website/templates/site/common/base.html
Due: none

fix dimensions
  tcf_website/static/about/team-pfps/ENG_Richard_He.jpg
Due: none

chore(deps): bump and pin github actions
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

chore(deps): bump github actions (#1288)
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

fix(data): display school of data science on browse page
  tcf_website/migrations/0029_school_of_data_science.py
  tcf_website/tests/test_data_science_migration.py
Due: black, isort, pylint, coverage

fix(data): display school of data science on browse page (#1289)
  tcf_website/migrations/0029_school_of_data_science.py
  tcf_website/tests/test_data_science_migration.py
Due: black, isort, pylint, coverage

docs: drop references to the removed Selenium grades command
  doc/grade-data.md
  tcf_website/management/commands/fetch_grades.py
Due: black, isort, prettier, pylint, coverage

docs: fix grade fetch inconsistencies
  doc/grade-data.md
  tcf_website/management/commands/fetch_grades.py
Due: black, isort, prettier, pylint, coverage

feat: rewrite grade fetch script using API
  doc/grade-data.md
  fetch_grades.py
  tcf_website/management/commands/fetch_grades.py
Due: black, isort, prettier, pylint, coverage

fix(fetch_grades): verify term selection actually applied
  tcf_website/management/commands/fetch_grades.py
Due: black, isort, pylint, coverage

feat: fetch grades using API (#1286)
  doc/grade-data.md
  fetch_grades.py
  flake.nix
  pyproject.toml
  tcf_website/management/commands/fetch_grades.py
  uv.lock
Due: black, isort, prettier, pylint, coverage

feat(data): update last 5 years of grade data
  tcf_website/management/commands/grade_data/csv/2021_fall.csv
  tcf_website/management/commands/grade_data/csv/2021_january.csv
  tcf_website/management/commands/grade_data/csv/2021_spring.csv
  tcf_website/management/commands/grade_data/csv/2021_summer.csv
  tcf_website/management/commands/grade_data/csv/2022_fall.csv
  tcf_website/management/commands/grade_data/csv/2022_january.csv
  tcf_website/management/commands/grade_data/csv/2022_spring.csv
  tcf_website/management/commands/grade_data/csv/2022_summer.csv
  tcf_website/management/commands/grade_data/csv/2023_fall.csv
  tcf_website/management/commands/grade_data/csv/2023_january.csv
  tcf_website/management/commands/grade_data/csv/2023_spring.csv
  tcf_website/management/commands/grade_data/csv/2023_summer.csv
  tcf_website/management/commands/grade_data/csv/2024_fall.csv
  tcf_website/management/commands/grade_data/csv/2024_january.csv
  tcf_website/management/commands/grade_data/csv/2024_spring.csv
  tcf_website/management/commands/grade_data/csv/2024_summer.csv
  tcf_website/management/commands/grade_data/csv/2025_fall.csv
  tcf_website/management/commands/grade_data/csv/2025_january.csv
  tcf_website/management/commands/grade_data/csv/2025_spring.csv
  tcf_website/management/commands/grade_data/csv/2025_summer.csv
  tcf_website/management/commands/grade_data/csv/2026_january.csv
  tcf_website/management/commands/grade_data/csv/2026_spring.csv
  tcf_website/management/commands/grade_data/csv/2026_summer.csv
Due: none

Add tests for case-insensitive TBA instructor filter
  tcf_website/tests/test_tba_instructor_names.py
Due: black, isort, pylint, coverage

Treat To be Announced instructors as placeholders
  tcf_website/management/commands/fetch_grades.py
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

ci security enhancement and also fixed the coverage regex
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

fixing advanced search date filter by normalizing date to lower case due to inconsistency in csv files
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

fixup (coderabbit)
  .github/workflows/ci.yml
Due: none

linting
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

added pre commit hook for linting
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

fix(data): keep SIS day casing in fetch_data
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

chore: reorg iac
  iac/app/acm.tf
  iac/app/alb.tf
  iac/app/assets/form_logo_light.svg
  iac/app/assets/page_background_light.png
  iac/app/assets/page_footer_logo_light.png
  iac/app/assets/page_header_logo_light.png
  iac/app/branding-settings.json
  iac/app/cloudfront.tf
  iac/app/cloudwatch.tf
  iac/app/cognito.tf
  iac/app/data.tf
  iac/app/ecr.tf
  iac/app/ecs.tf
  iac/app/elasticache.tf
  iac/app/iam.tf
  iac/app/locals.tf
  iac/app/main.tf
  iac/app/networking.tf
  iac/app/outputs.tf
  iac/app/rds.tf
  iac/app/route53.tf
  iac/app/s3.tf
  iac/app/secrets.tf
  iac/app/security-groups.tf
  iac/app/terraform.tf
  iac/app/variables.tf
  iac/elasticache.tf
Due: none
