Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

--id deprecated in gdown, no longer needed to be passed
  scripts/setup.sh
Due: none

Up to date
  tcf_website/management/commands/review_drives/2023_fall.csv
Due: none

Update dev.md to include gdown as prerequisite
  doc/dev.md
Due: prettier

deprecated lfs fully
  .gitattributes
Due: none

upgraded uwsgi 2.0.23 -> 2.0.28 for ci django error testing
  requirements.txt
Due: none

update scripts
  scripts/setup.sh
Due: none

Delete .gitattributes
  .gitattributes
Due: none

removed gdown from requirements.txt (only needed for setup.sh)
  requirements.txt
Due: none

Hid the Donate $4 button on the landing page
  tcf_website/templates/landing/landing.html
Due: none

section enrollment model
  tcf_website/admin.py
  tcf_website/migrations/0018_sectionenrollment.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

basic async updating enrollment
  requirements.txt
  tcf_website/utils/__init__.py
  tcf_website/utils/enrollment_utils.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

fixed department view dropdown filter bug
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

enrollment func and filtering w/o reloading
  tcf_website/migrations/0018_sectionenrollment.py
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/search/searchbar.html
  tcf_website/utils/enrollment_utils.py
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

refactoring
  tcf_website/utils/enrollment_utils.py
Due: black, isort, pylint, coverage

formatting on the QA page fixed
  tcf_website/static/browse/search_filter.js
  tcf_website/templates/qa/qa.html
Due: eslint, prettier

refactoring
  tcf_website/api/enrollment.py
  tcf_website/migrations/0018_sectionenrollment.py
  tcf_website/models/models.py
  tcf_website/utils/__init__.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

changed answer message button
  tcf_website/templates/qa/qa.html
Due: none

modified upvote/downvote UI for question
  tcf_website/templates/qa/qa.html
Due: none

fix empty schedule select modal bug
  tcf_website/templates/schedule/select_schedule_modal.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
