Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

ci(aws): stop flushing the whole query cache on every deploy
  .github/workflows/aws.yml
Due: none

feat: create bootstrapping project for tf
  iac/app/terraform.tf
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/state-bucket.tf
  iac/bootstrap/terraform.tf
  iac/bootstrap/variables.tf
Due: prettier

feat(iac): change port to 8000
  Dockerfile
  iac/app/ecr.tf
  scripts/container-startup.sh
Due: none

refactor(iac): rename the application stack to tcf-prod
  .github/workflows/aws.yml
  .github/workflows/terraform-deploy.yml
  iac/app/variables.tf
  iac/bootstrap/README.md
  iac/bootstrap/variables.tf
Due: prettier

feat(iac): add GitHub OIDC for terraform deploys
  .github/workflows/terraform-apply.yml
  .gitignore
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/variables.tf
Due: prettier

ci(aws): deploy code on push after CI and prod approval
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  iac/bootstrap/README.md
  iac/bootstrap/variables.tf
Due: prettier

feat(iac): split Terraform and code deploy roles
  .github/workflows/aws.yml
  .github/workflows/terraform-deploy.yml
  iac/bootstrap/README.md
  iac/bootstrap/github-deployer.tf
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/variables.tf
Due: prettier

feat(iac): create scheduled db dump to S3
  .env.example
  doc/useful-commands.md
  iac/app/db-dump.tf
  iac/app/variables.tf
  iac/bootstrap/README.md
  iac/bootstrap/github-deployer.tf
  iac/bootstrap/main.tf
  scripts/prod_dump.sh
Due: prettier

feat: remove public IPs for ALB
  iac/app/alb.tf
  iac/app/cloudfront.tf
  iac/app/data.tf
  iac/app/security-groups.tf
Due: none

iac: add email check at signup
  iac/app/cognito.tf
  iac/app/lambda.tf
  iac/app/lambda/require_virginia_email/index.mjs
  iac/app/terraform.tf
Due: none

feat(iac): add scoped GitHub Actions deployer role
  iac/app/data.tf
  iac/app/iam.tf
  iac/app/lambda.tf
  iac/app/locals.tf
  iac/bootstrap/README.md
  iac/bootstrap/github-deployer.tf
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/variables.tf
Due: prettier

feat(iac): let code deploys own the running task definition
  iac/app/ecs.tf
Due: none

feat(iac): autoscale the web service
  iac/app/ecs.tf
  iac/app/variables.tf
Due: none

feat(iac): make deployed ECR image tags immutable
  .github/workflows/aws.yml
  iac/app/ecr.tf
  iac/bootstrap/README.md
  iac/bootstrap/github-deployer.tf
Due: prettier

fix: refresh terraform
  iac/app/acm.tf
  iac/app/cloudfront.tf
  iac/app/data.tf
  iac/app/ecs.tf
  iac/app/elasticache.tf
  iac/app/locals.tf
  iac/app/main.tf
  iac/app/route53.tf
  iac/app/variables.tf
Due: none

fix(iac): stop showing login page changes on every terraform apply
  iac/app/branding-settings.json
  iac/app/cognito.tf
Due: none

chore(iac): remove unused alb port 80 listener
  iac/app/alb.tf
  iac/app/ecs.tf
Due: none

feat(iac): gate applies on review and narrow deployer IAM
  .github/workflows/terraform-apply.yml
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/terraform.tf
  iac/bootstrap/variables.tf
  tcf_website/templates/site/common/components/_footer.html
Due: prettier

feat(iac): switch the database to Aurora Serverless v2
  iac/app/outputs.tf
  iac/app/rds.tf
  iac/app/secrets.tf
  iac/app/variables.tf
Due: none

fix(compose): publish the web service on container port 8000
  docker-compose.yml
Due: none

fix(about): restore Brian Tran to past contributors
  tcf_website/data/about/team_alums.json
Due: none

ci(iac): deploy with the GitHub deployer role from the iac branch
  .github/workflows/terraform-deploy.yml
  iac/bootstrap/README.md
Due: prettier

revert(iac): go back to an RDS PostgreSQL instance
  iac/app/outputs.tf
  iac/app/rds.tf
  iac/app/secrets.tf
  iac/app/variables.tf
Due: none

added df.rename to clean() in load_grades.py to standardize 'Term Desc' column
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

ran ruff cmd
  tcf_website/management/commands/load_grades.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

updated test_commands.py to test new CourseInstructorSemesterGrade table
  tcf_website/tests/test_commands.py
Due: black, isort, pylint, coverage

feat: add course.forum redirect
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_schedule_banner.html
  tcf_website/tests/test_redirects.py
  tcf_website/urls.py
Due: black, isort, prettier, pylint, coverage

fix(footer): remove broken donate link
  tcf_website/templates/site/common/components/_footer.html
Due: none

ci(aws): deploy master to legacy-prod via OIDC after CI
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

feat: add course.forum redirect (#1311)
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_schedule_banner.html
  tcf_website/tests/test_redirects.py
  tcf_website/urls.py
Due: black, isort, prettier, pylint, coverage

Revert "feat: add course.forum redirect"
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_schedule_banner.html
  tcf_website/tests/test_redirects.py
  tcf_website/urls.py
Due: black, isort, prettier, pylint, coverage

Revert "feat: add course.forum redirect" (#1312)
  tcf_website/static/css/site/components/misc.css
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_schedule_banner.html
  tcf_website/tests/test_redirects.py
  tcf_website/urls.py
Due: black, isort, prettier, pylint, coverage

fix(ci): authenticate with docker hub to bypass rate limits
  .github/workflows/ci.yml
Due: none

fix(ci): replace MinIO with RustFS for local and CI storage
  .github/workflows/ci.yml
  doc/dev.md
  docker-compose.yml
Due: prettier

fixup
  package.json
Due: none

added claude/ folder to gitignore
  .gitignore
Due: none

added purge css
  .claude/settings.local.json
  package-lock.json
  package.json
  scripts/unused-css.mjs
Due: none

removed settings.local.json, and added purgeCss to CI
  .claude/settings.local.json
  .github/workflows/ci.yml
  scripts/unused-css.mjs
Due: none
