Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

moving raw style into landing.css
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
Due: prettier

added cursor pointer to home screen clickables (#1128)
  tcf_website/static/landing/landing.css
Due: prettier

update(course.html): modify toolbar sorting to be hidden when there's no course(instructor) shown (#1147)
  tcf_website/templates/course/course.html
Due: none

Calendar: add calendar views, templates, tests; integrate into URLs and sidebar
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/services/presence.py
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/calendar/calendar_overview.html
  tcf_website/templates/calendar/disabled.html
  tcf_website/tests/test_calendar_overview.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

enable gzip middleware (#1160) (#1161)
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Changes to Dockerfile, archiving format.sh
  Dockerfile
  scripts/format.sh
Due: none

perf(docker): remove node
  Dockerfile
  scripts/format.sh
Due: none

increased client cache timer from a day to a year and changes static file generation into S3ManifestStaticStorage for cache busting strategy
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

remove heroku dependencies
  requirements.txt
  tcf_core/settings/dev.py
Due: black, isort, pylint, coverage

added cloudfront url to allowed_hosts for testing purposes
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

remove heroku dependencies (#1173)
  requirements.txt
  tcf_core/settings/dev.py
Due: black, isort, pylint, coverage

added shivaths profile photo
  tcf_website/views/team_info.json
Due: none

fixed a colon issue
  tcf_website/views/team_info.json
Due: none

added cloudfront url to allowed_hosts for testing purposes (#1174)
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Spacing Issues
  tcf_website/views/team_info.json
Due: none

use gunicorn as a production server (#1158)
  docker-compose.yml
  scripts/container-startup.sh
Due: none

upgrade python to 3.12
  .python-version
  Dockerfile
  pyproject.toml
  runtime.txt
Due: none

changed images to go through cloudfront first before S3
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

changing S3 custom domain to use env variables from secrets manager
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

broke up line that was too long causing pylint to fail
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

Updated calendar event list view, added event detail template, and adjusted URL/view logic
  tcf_website/templates/calendar/calendar_overview.html
  tcf_website/templates/calendar/event_detail.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/calendar.py
Due: black, isort, pylint, coverage

initial summary feature
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/migrations/0023_reviewllmsummary.py
  tcf_website/migrations/0024_rename_tcf_website_reviewllmsum_course_instr_idx_tcf_website_course__a7afbf_idx_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/services/__init__.py
  tcf_website/services/review_llm.py
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

summary feature helper tests
  tcf_website/tests/test_review.py
Due: black, isort, pylint, coverage

upgrade python to 3.12 (#1176)
  .python-version
  Dockerfile
  pyproject.toml
  runtime.txt
Due: none

Added Profile Picture
  tcf_website/static/about/team-pfps/DM_Rohan_Soma.jpg
  tcf_website/views/team_info.json
Due: none

fixup (coderabbit)
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

update CI to use python 3.12
  .github/workflows/aws.yml
  .github/workflows/ci.yml
Due: none

Added Adrian Villanueva to about
  tcf_website/views/team_info.json
Due: none

Added profile photo
  tcf_website/static/about/team-pfps/ENG_Adrian_Villanueva.jpg
Due: none

switch from requirements.txt to pyproject.toml
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  pyproject.toml
  requirements.txt
Due: none

removing duplicate cache control header
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

use uv for package management and build
  .github/workflows/aws.yml
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  pyproject.toml
  requirements.txt
  scripts/container-startup.sh
  uv.lock
Due: none

base design implementation moving reviews into profile
  tcf_website/static/reviews/review_stats.css
  tcf_website/templates/profile/profile.html
  tcf_website/templates/reviews/review_stats.html
Due: prettier

no indexing old profs
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/instructor/instructor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Modified Picture
  tcf_website/static/about/team-pfps/DM_Rohan_Soma.jpg
Due: none

fix file extension to match case of actual file
  tcf_website/views/team_info.json
Due: none

moved user_reviews content + functionality to profile
  tcf_website/templates/base/navbar.html
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/landing/landing.html
  tcf_website/templates/profile/profile.html
  tcf_website/templates/reviews/user_reviews.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/profile.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage
