Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

v1 not v2
  .github/workflows/aws.yml
Due: none

force ecs deployment of updated service in cicd
  .github/workflows/aws.yml
Due: none

feat(ci): collectfast
  requirements.txt
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix(ci): proper deps ordering
  requirements.txt
Due: none

fix(ci): set collectfast strategy
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

feat(aws): no collectfast
  requirements.txt
  tcf_core/settings/base.py
Due: black, isort, pylint, coverage

fix(aws): don't wait for stable srevice
  .github/workflows/aws.yml
Due: none

feat(aws): yes wait for service stability
  .github/workflows/aws.yml
Due: none

fixing search filter display on mobile
  tcf_website/templates/search/searchbar.html
Due: none

quick fix to fetch_data.py
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

simplify caching to whole page
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

control flow cleanup
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

simplify filtering conditions
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

revert trigram similarity
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

quick fix to fetch data
  tcf_website/management/commands/fetch_data.py
Due: black, isort, pylint, coverage

fixed
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

fixed styling issues with min_gpa dropdown
  tcf_website/templates/search/searchbar.html
Due: none

Made more fixes to styling
  tcf_website/templates/course/course_professor.html
Due: none

correction for dark mode body class dark mode
  tcf_website/static/base/tcf-style.css
Due: prettier

capitalization
  tcf_website/templates/reviews/new_review.html
Due: none

Added proper title and range on chart
  tcf_website/templates/course/course_professor.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
