Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

modify script file
  scripts/container-startup.sh
Due: none

Add 2025 grade data (#1221)
  doc/grade-data.md
  doc/semester-data.md
  doc/useful-commands.md
  scripts/container-startup.sh
  tcf_website/management/commands/grade_data/csv/2025_fall.csv
  tcf_website/management/commands/grade_data/csv/2025_january.csv
  tcf_website/management/commands/grade_data/csv/2025_spring.csv
  tcf_website/management/commands/grade_data/csv/2025_summer.csv
  tcf_website/management/commands/load_grades.py
  tcf_website/management/commands/load_semester.py
  tcf_website/management/commands/semester_data/csv/2026_spring.csv
Due: black, isort, prettier, pylint, coverage

blank startup script
  scripts/container-startup.sh
Due: none

fetched only reviews w actual text, displays only text
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

added input form
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

printing review info
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

prints out information now
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

docs: add Q&A dashboard design document
  docs/plans/2026-03-01-qa-dashboard-design.md
Due: prettier

docs: add Q&A dashboard implementation plan
  docs/plans/2026-03-01-qa-dashboard-implementation.md
Due: prettier

fix(qa): fix create_question view and add title to QuestionForm
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

feat(qa): update qa_dashboard with search, course filter, vote annotation
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix(qa): guard against non-int ?question= param and remove double-query
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

feat(qa): add question_detail AJAX endpoint
  tcf_website/templates/qa/_question_detail.html
  tcf_website/tests/test_qa.py
  tcf_website/urls.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix(qa): export question_detail view and clarify semesters comment
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

feat(qa): add course search and instructor API endpoints
  tcf_website/tests/test_qa.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix(qa): filter hidden instructors, move imports to module level, improve tests
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

feat(qa): export all new qa views from views/__init__.py
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

fix(qa): remove unreachable duplicate return statements in downvote_answer
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

feat(qa): add full _question_detail.html partial template
  tcf_website/templates/qa/_question_detail.html
Due: none

fix(qa): only render hr separator between answers, not after the last one
  tcf_website/templates/qa/_question_detail.html
Due: none

feat(qa): update qa_dashboard.html with wired sidebar, modals, and AJAX setup
  tcf_website/templates/qa/qa_dashboard.html
Due: none

feat(qa): rewrite qa_dashboard.js with full interactive functionality
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(qa): add missing datetime import in edit views
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

test(qa): add integration smoke test for full Q&A flow
  tcf_website/tests/test_qa.py
Due: black, isort, pylint, coverage

fix(qa): robust delete AJAX, remove debug print, allow unauthenticated read-only access
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/tests/test_qa.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(qa): correct getInstructors URL construction — broken .replace mangled the path
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/qa_dashboard.html
Due: eslint, prettier

fix: editing, ux
  tcf_website/migrations/0025_question_instructor_optional.py
  tcf_website/models/models.py
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

Fix: Course search to only show recent courses
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix: Added delete question modal and removed downvoting. Fixed reply text area.
  tcf_website/models/models.py
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/qa_dashboard.html
Due: black, isort, eslint, prettier, pylint, coverage

fix: Fixed upvote highlighting
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-thumbs-up-solid.svg
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/qa_dashboard.html
Due: eslint, prettier

Fix: changed filter icon
  tcf_website/static/icons/icons.css
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/qa/qa_dashboard.html
Due: prettier

Intiial frontend for Choosing PFP
  dfsdf4
  requirements/dev.txt
  tcf_website/static/profile/profilepictures/pfpteam1.png
  tcf_website/static/profile/profilepictures/pfpteam2.png
  tcf_website/static/profile/profilepictures/pfpteam3.png
  tcf_website/templates/profile/profile.html
Due: none

Added instructor card. Fixed and added answer deletion modal.
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_detail.html
  tcf_website/templates/qa/qa_dashboard.html
Due: eslint, prettier

feat: Added reply to answer functionality
  tcf_website/migrations/0026_answer_parent_answer.py
  tcf_website/migrations/0027_remove_answer_unique_answer_per_user_and_question_and_more.py
  tcf_website/models/models.py
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/static/qa/qa_dashboard.js
  tcf_website/templates/qa/_question_detail.html
  tcf_website/urls.py
  tcf_website/views/qa.py
Due: black, isort, eslint, prettier, pylint, coverage

Add backend to save user profile picture team selection
  tcf_website/migrations/0025_user_selected_pfp.py
  tcf_website/models/models.py
  tcf_website/templates/profile/profile.html
  tcf_website/views/profile.py
Due: black, isort, pylint, coverage

Local dev: Presence API headers and DB defaults
  tcf_core/settings/base.py
  tcf_website/services/presence.py
Due: black, isort, pylint, coverage

Design Changes
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/qa/_question_detail.html
Due: prettier

more accurate source_review_count when generating summaries
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

add 2026 classes data
  scripts/container-startup.sh
  tcf_website/management/commands/semester_data/csv/2026_fall.csv
Due: none

add 2026 classes data (#1228)
  scripts/container-startup.sh
  tcf_website/management/commands/semester_data/csv/2026_fall.csv
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
