Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

simple change, ignore this
  tcf_website/static/schedule/parse_time.js
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

feat(instructors): composite index for instructor first and last name
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

feat: added migration
  tcf_website/migrations/0014_instructor_tcf_website_first_n_59696b_idx.py
Due: black, isort, pylint, coverage

Added info to team_info
  tcf_website/views/team_info.json
Due: none

Yu Cao - Feature 101 About Page
  tcf_website/static/about/team-pfps/ENG_Yu_Cao.jpg
  tcf_website/views/team_info.json
Due: none

Added profile picture for Brian Tran
  tcf_website/static/about/team-pfps/ENG_Brian_Tran.jpg
  tcf_website/views/team_info.json
Due: none

Added picture to static
  tcf_website/static/about/team-pfps/ENG_Collin_Togher.jpg
Due: none

Profile Photo added to team-pfps
  tcf_website/static/about/team-pfps/ENG_Brandon_Istfan.jpg
Due: none

Added Brandon Istfan to team_info
  tcf_website/views/team_info.json
Due: none

Changed ENG_Brian_Tran to a more zoomed out photo.
  tcf_website/static/about/team-pfps/ENG_Brian_Tran.jpg
Due: none

add Yilin Wang to the Engineering team about and upload photo
  tcf_website/static/about/team-pfps/ENG_Yilin_Wang.jpg
  tcf_website/views/team_info.json
Due: none

modified yilin's picture to 800x800
  tcf_website/static/about/team-pfps/ENG_Yilin_Wang.jpg
Due: none

Added missing bracket in team_info.json
  tcf_website/views/team_info.json
Due: none

first draft of enhanced search functionality
  tcf_website/templates/browse/browse.html
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

working filtering
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

added my picture and about
  tcf_website/static/about/team-pfps/ENG_Namai_Kureishi.jpg
  tcf_website/views/team_info.json
Due: none

feat(docker): upgrade docker to 3.12
  Dockerfile
Due: none

fix: use new fontawesome kit (old expired)
  tcf_website/templates/base/index.html
Due: none

revert: gcp on 3.11
  Dockerfile
Due: none

feat(ci): cache deps betwixt pylint, django
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): format
  .github/workflows/continuous-integration.yml
Due: none
