Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

more fixes for auto merge
  tcf_website/templates/browse/browse.html
Due: none

make and apply migrations
  tcf_website/migrations/0013_remove_instructor_website.py
Due: black, isort, pylint, coverage

lint
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

lint
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

filter by instructor, semester
  tcf_website/templates/browse/browse.html
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

remove filtering by previous semesters
  tcf_website/templates/browse/browse.html
  tcf_website/views/browse.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

added info and pfp
  tcf_website/static/about/team-pfps/ENG_Joyce_Yang.jpg
  tcf_website/views/team_info.json
Due: none

added info and pfp
  tcf_website/static/about/team-pfps/ENG_Sagun_Venuganti.jpg
  tcf_website/static/about/team-pfps/blank.webp
Due: none

added info
  tcf_website/views/team_info.json
Due: none

Added Info and Picture
  tcf_website/views/team_info.json
Due: none

Added Picture
  static/about/team-pfps/ENG_Ronit_Batra.jpg
Due: none

Updated requirements.txt with necessary dependency
  requirements.txt
Due: none

fix(style): remove text shadow gradients
  tcf_website/static/landing/landing.css
Due: prettier

pfp and info merge conflict resolved
  tcf_website/views/team_info.json
Due: none

adding shruti bala to about page
  tcf_website/static/about/team-pfps/ENG_Shruti_Bala.jpg
  tcf_website/views/team_info.json
Due: none

Removed Extra Picture
  static/about/team-pfps/ENG_Ronit_Batra.jpg
Due: none

Add ENG_Ronit_Batra.jpg
  static/about/team-pfps/ENG_Ronit_Batra.jpg
  tcf_website/views/team_info.json
Due: none

updated team_info.json
  tcf_website/views/team_info.json
Due: none

Deleted Picture not working
  static/about/team-pfps/ENG_Ronit_Batra.jpg
Due: none

added new q&a icon + description for landing page
  tcf_website/static/landing/qa_logo_fontawesome.png
  tcf_website/static/landing/qa_logo_fontawesome_tcfblue.png
  tcf_website/templates/landing/landing.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
