Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

style aligned with review and dept pagination
  tcf_website/templates/search/search.html
Due: none

fixed next page number & prev page number error
  tcf_website/templates/search/search.html
Due: none

Added dark-mode styling to filter
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/search/searchbar.html
Due: prettier

fixing icons
  tcf_website/static/base/tcf-style.css
  tcf_website/static/icons/icons.css
  tcf_website/static/reviews/pagination.css
  tcf_website/templates/course/course.html
Due: prettier

Added dark-mode styling to the Clear All button in filter
  tcf_website/templates/search/searchbar.html
Due: none

Fixed merge conflict on course prof page
  tcf_website/static/course/course_professor.css
Due: prettier

Added dark-mode styling to enrollment info section on course prof page
  tcf_website/static/course/course_professor.css
Due: prettier

Added dark-mode styling to schedule builder
  tcf_website/static/base/tcf-style.css
  tcf_website/static/schedule/schedule_editor.css
  tcf_website/templates/profile/delete_confirm_modal.html
  tcf_website/templates/qa/delete_answer_confirm_modal.html
  tcf_website/templates/qa/delete_question_confirm_modal.html
  tcf_website/templates/reviews/delete_confirm_modal.html
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/schedule.html
  tcf_website/templates/schedule/schedule_editor.html
Due: prettier

Fixed dark mode box shadow effects on landing page
  tcf_website/static/base/tcf-style.css
  tcf_website/static/landing/landing.css
Due: prettier

icon fixes
  tcf_website/static/icons/icons.css
  tcf_website/templates/landing/landing.html
  tcf_website/templates/reviews/review_form_content.html
Due: prettier

fix plus icon
  tcf_website/static/icons/icons.css
Due: prettier

Styled the dark mode toggle button with placeholder emoji for now
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/base/navbar.html
  tcf_website/templates/landing/landing.html
Due: prettier

fixed my reviews page
  tcf_website/static/icons/icons.css
  tcf_website/static/reviews/review_stats.css
  tcf_website/templates/reviews/user_reviews.html
Due: prettier

vertical align
  tcf_website/static/icons/icons.css
Due: prettier

Fixed text color on schedule builder page
  tcf_website/templates/schedule/delete_schedule_modal.html
  tcf_website/templates/schedule/select_schedule_modal.html
  tcf_website/templates/schedule/user_schedules.html
Due: none

about us icons
  tcf_website/static/icons/icons.css
  tcf_website/templates/about/about.html
Due: prettier

copy
  tcf_website/static/icons/icons.css
  tcf_website/templates/schedule/user_schedules.html
Due: prettier

Fixed discrepancies on light mode landing page caused by dark mode changes
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/landing/landing.html
Due: prettier

Fixed discrepancies on sidebar due to dark mode changed
  tcf_website/templates/base/sidebar.html
Due: none

fixed social media icons
  tcf_website/static/icons/icons.css
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/landing/landing.html
Due: prettier

Fixed light mode
  tcf_website/static/base/navbar.css
  tcf_website/static/base/tcf-style.css
Due: prettier

search icon
  tcf_website/static/icons/icons.css
Due: prettier

some minor fixes to styling and white space
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fixing mobile filter
  tcf_website/templates/search/searchbar.html
Due: none

updated styling of slider and cleared out old js and styling for dropdown
  tcf_website/templates/search/searchbar.html
Due: none

Added inline SVG icons for dark mode toggle
  tcf_website/static/base/tcf-style.css
  tcf_website/static/search/search.css
  tcf_website/templates/base/navbar.html
  tcf_website/templates/landing/landing.html
Due: prettier

Fixed filter styling
  tcf_website/static/base/tcf-style.css
Due: prettier

Fixed section bars styling on course prof page
  tcf_website/static/course/course_professor.css
Due: prettier

Styled the right border of sidebar
  tcf_website/static/base/sidebar.css
  tcf_website/static/base/tcf-style.css
Due: prettier

Changed moon icon svg
  tcf_website/templates/base/navbar.html
  tcf_website/templates/landing/landing.html
Due: none

Changed the size of the moon icon
  tcf_website/templates/base/navbar.html
  tcf_website/templates/landing/landing.html
Due: none

Fixed border styling on search results
  tcf_website/static/base/tcf-style.css
  tcf_website/templates/search/search.html
Due: prettier

Fixed border-top styling discrepancies on search results
  tcf_website/templates/search/search.html
Due: none

set better default for min gpa in context and implemented inline filtering in models.py for avg gpa
  tcf_core/context_processors.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

minor whitespace fixes and syncing of mobile / desktop for min gpa
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

synced mobile and desktop view for min gpa and availability along with styling fixes
  tcf_website/templates/search/searchbar.html
Due: none

white space fix for pylint
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Changed the sun icon svg
  tcf_core/context_processors.py
  tcf_website/templates/base/navbar.html
  tcf_website/templates/landing/landing.html
Due: black, isort, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
