Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

moved past members to alum page
  tcf_website/static/about/alum-pfps/DM_Carissa_Chen.jpg
  tcf_website/static/about/alum-pfps/DM_Chai_Zhang.JPG
  tcf_website/static/about/alum-pfps/ENG_AJ_Nye.jpg
  tcf_website/static/about/alum-pfps/ENG_Barrett_Ruth.webp
  tcf_website/static/about/alum-pfps/ENG_Collin_Togher.jpg
  tcf_website/static/about/alum-pfps/ENG_Hari_Gajjala.JPG
  tcf_website/static/about/alum-pfps/ENG_Ja-Zhua_Cheng.jpeg
  tcf_website/static/about/alum-pfps/ENG_Junho_Lee.jpg
  tcf_website/static/about/alum-pfps/ENG_Justin_Park.jpg
  tcf_website/static/about/alum-pfps/ENG_Kingsley_Kim.jpg
  tcf_website/static/about/alum-pfps/ENG_Kyle_Durrer.jpg
  tcf_website/static/about/alum-pfps/ENG_Neha_Bagalkot.jpg
  tcf_website/static/about/alum-pfps/ENG_Olivia_Seto.jpg
  tcf_website/static/about/alum-pfps/ENG_Vivian_Gao.jpg
  tcf_website/static/about/alum-pfps/ENG_Zohaib_Khalid.jpg
  tcf_website/static/about/team-pfps/MAD_Rachita_Pathipati.jpg
  tcf_website/static/about/team-pfps/t2084.jpeg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

fixed the pencil not showing up on review
  tcf_website/templates/reviews/review.html
Due: none

Make migration for prerequisites
  tcf_website/migrations/0023_course_prerequisites.py
Due: black, isort, pylint, coverage

Made the text stay in the textbox
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
Due: prettier

Make course prereq migration and add prereq tests
  tcf_website/migrations/0024_course_prerequisites.py
  tcf_website/tests/test_course.py
Due: black, isort, pylint, coverage

add prerequisites into reranking
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

RTE feature and community study guide page
  assets/study_guide.js
  package-lock.json
  package.json
  tcf_core/settings/base.py
  tcf_core/settings/dev_auto_auth_middleware.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/static/course/study_guide.bundle.js
  tcf_website/templates/course/course.html
  tcf_website/templates/course/study_guide.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/studyguide.py
Due: black, isort, eslint, prettier, pylint, coverage

Fixed deleting
  tcf_website/models/models.py
  tcf_website/static/reviews/review.js
  tcf_website/templates/reviews/review.html
  tcf_website/urls.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

Add Arislan profile photo
  tcf_website/static/about/team-pfps/ENG_Arislan_Telek.jpg
Due: none

Add Arislan Telek to team JSON
  tcf_website/views/team_info.json
Due: none

Create study guide CourseHero style
  media/study_docs/2025/11/21/Chapter_2_Notes.pdf
  media/study_docs/2025/11/21/Chapter_2_Notes_Key.pdf
  tcf_core/settings/base.py
  tcf_core/settings/dev_auto_login_middleware.py
  tcf_core/urls.py
  tcf_website/migrations/0024_studydocument_tag.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/templates/course/course.html
  tcf_website/templates/course/study_guide.html
  tcf_website/templates/course/study_guide_upload.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Added Q&A to sidebar
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-comments.svg
  tcf_website/templates/base/sidebar.html
Due: prettier

added kate dunkle
  tcf_website/static/about/team-pfps/DM_Kate_Dunkle.jpg
  tcf_website/views/team_info.json
Due: none

added wrapper container for review + placeholder img... image not scaled rn
  tcf_website/static/profile/profilepictures/place-holder.png
  tcf_website/static/reviews/review.css
  tcf_website/templates/reviews/review.html
Due: prettier

Added routing for qa
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/qa.py
Due: black, isort, prettier, pylint, coverage

basic karma logic
  tcf_website/models/models.py
  tcf_website/views/profile.py
Due: black, isort, pylint, coverage

Adding reply deletion model, reply voting functionality, limiting users to one reply per review
  tcf_website/migrations/0024_votereply_votereply_unique_vote_per_user_and_reply.py
  tcf_website/migrations/0025_reply_unique_reply_per_user_and_review.py
  tcf_website/models/models.py
  tcf_website/static/reviews/reply.js
  tcf_website/templates/reviews/delete_reply_confirm_modal.html
  tcf_website/templates/reviews/review.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

Debugging again
  tcf_website/static/reviews/reply.js
Due: eslint, prettier

upvote downvote still buggy
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/reviews/review.css
  tcf_website/templates/reviews/review.html
  tcf_website/templates/reviews/reviews.html
  tcf_website/urls.py
  tcf_website/views/review.py
Due: black, isort, prettier, pylint, coverage

Update tcf_website/models/models.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Code rabbit issues
  tcf_website/migrations/0024_reply_votereply_and_more.py
  tcf_website/models/models.py
  tcf_website/static/reviews/reply.js
  tcf_website/templates/reviews/delete_reply_confirm_modal.html
  tcf_website/templates/reviews/review.html
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

Update tcf_website/templates/reviews/delete_reply_confirm_modal.html
  tcf_website/templates/reviews/delete_reply_confirm_modal.html
Due: none

Code rabbit issues
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

coderabbit
  tcf_website/models/models.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

coderabbit
  tcf_website/static/reviews/reply.js
Due: eslint, prettier

esling
  tcf_website/static/reviews/reply.js
Due: eslint, prettier

eslint
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

pyling
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/admin.py
Due: black, isort, pylint, coverage

fixed indentation
  tcf_website/views/team_alums.json
Due: none

centered text
  tcf_website/templates/landing/landing.html
Due: none

Created study guide template for google doc embed
  requirements.txt
  tcf_website/admin.py
  tcf_website/management/commands/generate_study_guides.py
  tcf_website/migrations/0024_studyguide.py
  tcf_website/migrations/0025_alter_studyguide_id.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/templates/course/course.html
  tcf_website/templates/course/study_guide.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

Fixed image size
  tcf_website/static/about/team-pfps/ENG_Amudhan_Selvam.jpg
  tcf_website/views/team_info.json
Due: none

Change Course ID to Course Number on sort by department page
  tcf_website/templates/common/toolbar.html
Due: none

autocomplete backend, js frontend, some html (needs work)
  tcf_website/api/serializers.py
  tcf_website/static/search/autocomplete.js
  tcf_website/templates/search/searchbar.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(lint)
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

feat(autocomplete): autocomplete for clubs
  tcf_website/api/serializers.py
  tcf_website/static/search/autocomplete.js
  tcf_website/templates/club/mode_toggle.html
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(styling): url import
  tcf_website/urls.py
  tcf_website/views/__init__.py
Due: black, isort, pylint, coverage

feat(autocomplete): dry view and cursor hover for results
  tcf_website/static/search/autocomplete.js
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
