Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Removed dependencies from fontawesome
  tcf_website/static/base/base.css
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/img/fa-arrow-right.svg
  tcf_website/static/icons/img/fa-book.svg
  tcf_website/static/icons/img/fa-calendar.svg
  tcf_website/static/icons/img/fa-chart-bar.svg
  tcf_website/static/icons/img/fa-chevron-down.svg
  tcf_website/static/icons/img/fa-chevron-up.svg
  tcf_website/static/icons/img/fa-clock.svg
  tcf_website/static/icons/img/fa-code.svg
  tcf_website/static/icons/img/fa-discord.svg
  tcf_website/static/icons/img/fa-dumbbell.svg
  tcf_website/static/icons/img/fa-facebook.svg
  tcf_website/static/icons/img/fa-github.svg
  tcf_website/static/icons/img/fa-graduation-cap.svg
  tcf_website/static/icons/img/fa-handshake.svg
  tcf_website/static/icons/img/fa-hourglass-half.svg
  tcf_website/static/icons/img/fa-instagram.svg
  tcf_website/static/icons/img/fa-list.svg
  tcf_website/static/icons/img/fa-pencil.svg
  tcf_website/static/icons/img/fa-plus.svg
  tcf_website/static/icons/img/fa-search.svg
  tcf_website/static/icons/img/fa-star.svg
  tcf_website/static/icons/img/fa-thumbs-down.svg
  tcf_website/static/icons/img/fa-thumbs-up.svg
  tcf_website/static/icons/img/fa-trash-o.svg
  tcf_website/static/icons/img/fa-user.svg
  tcf_website/templates/about/about.html
  tcf_website/templates/base/index.html
  tcf_website/templates/base/navbar.html
  tcf_website/templates/base/sidebar.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/landing/landing.html
  tcf_website/templates/search/searchbar.html
Due: prettier

Small fixes to prevent dropdown closing when clicking search input and adjusted css so menu is always below filter button
  tcf_website/templates/search/searchbar.html
Due: none

Refactored static import + added missed images
  tcf_website/static/icons/icons.css
  tcf_website/static/icons/icons.html
  tcf_website/static/icons/img/fa-frown-open.svg
  tcf_website/static/icons/img/fa-heart.svg
  tcf_website/static/icons/img/fa-smile-beam.svg
  tcf_website/static/icons/img/fa-user-friends.svg
  tcf_website/templates/about/about.html
  tcf_website/templates/base/index.html
  tcf_website/templates/base/navbar.html
  tcf_website/templates/browse/browse.html
  tcf_website/templates/browse/school.html
  tcf_website/templates/common/rating_card.html
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/landing/landing.html
  tcf_website/templates/reviews/review.html
  tcf_website/templates/search/searchbar.html
Due: prettier

feat(format): format
  tcf_core/settings/handle_exceptions_middleware.py
  tcf_website/admin.py
  tcf_website/management/commands/fetch_data.py
  tcf_website/management/commands/load_semester.py
  tcf_website/static/base/base.css
  tcf_website/static/icons/icons.css
  tcf_website/views/team_info.json
Due: black, isort, prettier, pylint, coverage

bye bye
  tcf_website/static/about/alum-pfps/ENG_Arthur_Wu.jpg
  tcf_website/static/about/alum-pfps/ENG_Bryan_Katuari.jpg
  tcf_website/static/about/alum-pfps/ENG_Ruiyu_Zhang.jpg
  tcf_website/static/about/alum-pfps/ENG_Sebastian_Wiktorowicz.png
  tcf_website/static/about/alum-pfps/ENG_Vincent_Song.jpg
  tcf_website/views/team_alums.json
  tcf_website/views/team_info.json
Due: none

html modifications
  celerybeat-schedule
  tcf_website/templates/course/course_professor.html
Due: none

data schema update for open seats and migration
  tcf_website/migrations/0014_section_enrollment_limit_section_enrollment_total_and_more.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

include enrollment on instructor page
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

install redis and celery
  docker-compose.yml
  requirements.txt
Due: none

celery to gitignore
  .gitignore
Due: none

celery task
  tcf_website/tasks.py
Due: black, isort, pylint, coverage

celery initialization and enrollment update schedule
  tcf_core/settings/__init__.py
  tcf_core/settings/base.py
  tcf_core/settings/celery.py
  tcf_core/settings/celery_init.py
Due: black, isort, pylint, coverage

include redis as dependency
  docker-compose.yml
Due: none

add SectionTime to models and filter it
  tcf_website/admin.py
  tcf_website/management/commands/load_semester.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

migration made
  tcf_website/migrations/0014_sectiontime.py
Due: black, isort, pylint, coverage

filter by day/time draft
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/management/commands/load_semester.py
  tcf_website/migrations/0017_sectiontime.py
  tcf_website/models/models.py
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

quick fix
  tcf_website/templates/search/searchbar.html
Due: none

lint
  .pylintrc
  tcf_core/context_processors.py
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/models/models.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

fix
  .pylintrc
Due: none

fix
  tcf_website/admin.py
Due: black, isort, pylint, coverage
