Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

format: clean up in models.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

format: black
  tcf_website/admin.py
  tcf_website/models/models.py
  tcf_website/views/browse.py
  tcf_website/views/course_instructor.py
  tcf_website/views/index.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  tcf_website/views/search.py
Due: black, isort, pylint, coverage

top half layout
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
Due: prettier

feat: login modal display on limited features
  tcf_website/static/css/site/components/modal.css
  tcf_website/static/js/site/modal.js
  tcf_website/templates/site/components/_header.html
  tcf_website/templates/site/modals/_login.html
  tcf_website/templates/site/pages/course.html
  tcf_website/templates/site/pages/landing.html
Due: eslint, prettier

feat: multiselect adding sections to schedule builder
  tcf_website/templates/site/pages/schedule_add_course.html
  tcf_website/tests/test_schedule_semester.py
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

feat: add to schedule on course_instructor as well
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/templates/site/components/_schedule_add_button.html
  tcf_website/templates/site/pages/course.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/schedule_add_course.html
  tcf_website/tests/test_schedule_semester.py
  tcf_website/views/course_instructor.py
  tcf_website/views/schedule.py
Due: black, isort, prettier, pylint, coverage

format: pylint
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

feat: testing
  .coveragerc
  tcf_website/forms.py
  tcf_website/tests/__init__.py
  tcf_website/tests/base.py
  tcf_website/tests/test_browse.py
  tcf_website/tests/test_context_processors.py
  tcf_website/tests/test_course.py
  tcf_website/tests/test_helpers.py
  tcf_website/tests/test_misc_models.py
  tcf_website/tests/test_pages.py
  tcf_website/tests/test_redirects.py
  tcf_website/tests/test_search.py
  tcf_website/tests/test_semester.py
  tcf_website/tests/test_utils.py
  tcf_website/utils.py
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

fix: htmlcov in gitignore
  .gitignore
Due: none

fix: feature parity for clubs and course reviews
  tcf_website/templates/site/components/_autocomplete_dropdown.html
  tcf_website/templates/site/components/_header.html
  tcf_website/templates/site/pages/review.html
  tcf_website/templates/site/pages/review_search.html
  tcf_website/tests/test_redirects.py
  tcf_website/tests/test_search.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

fix: maintain mode on all views, redirects, and template urls
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/components/_autocomplete_dropdown.html
  tcf_website/templates/site/components/_footer.html
  tcf_website/templates/site/components/_header.html
  tcf_website/templates/site/pages/browse.html
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/club_category.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/instructor.html
  tcf_website/templates/site/pages/landing.html
  tcf_website/templates/site/pages/reviews.html
  tcf_website/templates/site/pages/search.html
  tcf_website/templatetags/custom_tags.py
  tcf_website/tests/test_helpers.py
  tcf_website/utils.py
  tcf_website/views/club.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

fix: schedule ux small change
  tcf_website/templates/site/pages/schedule_add_course.html
  tcf_website/views/schedule.py
Due: black, isort, pylint, coverage

format: adv search form field order
  tcf_website/templates/site/components/_advanced_search_form.html
Due: none

feat: ai summaries (credit: @phongo1)
  .env.example
  scripts/container-startup.sh
  tcf_core/settings/base.py
  tcf_website/admin.py
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/migrations/0026_reviewllmsummary_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/css/site/pages/course_instructor.css
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/views/course_instructor.py
Due: black, isort, prettier, pylint, coverage

feat: robust one-off commands in prod
  flake.nix
  scripts/container-startup.sh
  scripts/ecs-run-command.sh
Due: none

chore: update .env.example with aws creds
  .env.example
Due: none

format: pylint
  tcf_website/management/commands/generate_ai_summaries.py
Due: black, isort, pylint, coverage

YOGESH
  scripts/container-startup.sh
Due: none

fix: few small bugs/code cleanup
  tcf_website/management/commands/migrate_legacy_reviews.py
  tcf_website/management/commands/migrate_legacy_subdepartments.py
  tcf_website/management/commands/other_schools_department_fix.py
  tcf_website/migrations/0027_add_review_user_course_index.py
  tcf_website/models/models.py
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/templates/site/modals/_login.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/views/profile.py
Due: black, isort, prettier, pylint, coverage

fix: date format
  tcf_website/templates/site/pages/course_instructor.html
Due: none

switch back to port 80 to match current port config (no terraform)
  scripts/container-startup.sh
Due: none

make ad always appear at bottom of reviews page
  tcf_website/templates/site/pages/course_instructor.html
Due: none

create single component for creating schedule
  tcf_website/templates/site/components/_new_schedule_form.html
  tcf_website/templates/site/pages/schedule.html
  tcf_website/templates/site/pages/schedule_add_course.html
Due: none

start ad loop at bottom
  tcf_website/templates/site/pages/course_instructor.html
Due: none

review fix
  tcf_website/static/css/site/pages/review.css
  tcf_website/static/js/site/review_cascade.js
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/components/_review_logistics_grid.html
  tcf_website/templates/site/components/_review_rating_group.html
  tcf_website/templates/site/components/_review_workload_field.html
  tcf_website/templates/site/pages/review.html
  tcf_website/templates/site/pages/review_search.html
  tcf_website/tests/test_redirects.py
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/utils.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

pylint
  tcf_website/tests/test_review.py
Due: black, isort, pylint, coverage

fast browse/search
  tcf_website/static/css/site/pages/browse.css
  tcf_website/static/js/site/browse_live_results.js
  tcf_website/static/js/site/combo_dropdown.js
  tcf_website/templates/site/components/_advanced_search_form.html
  tcf_website/templates/site/pages/browse.html
  tcf_website/templates/site/partials/_browse_advanced_results.html
  tcf_website/tests/test_browse.py
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

lint
  tcf_website/static/js/site/browse_live_results.js
  tcf_website/utils.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

schedule revamp
  tcf_website/admin.py
  tcf_website/migrations/0028_schedule_share_token_schedulebookmark_and_more.py
  tcf_website/models/__init__.py
  tcf_website/models/models.py
  tcf_website/static/css/site/components/calendar.css
  tcf_website/static/css/site/pages/schedule.css
  tcf_website/static/js/site/flash_messages.js
  tcf_website/static/js/site/modal.js
  tcf_website/static/js/site/partial_html.js
  tcf_website/static/js/site/schedule_builder.js
  tcf_website/static/js/site/schedule_flow_modal.js
  tcf_website/static/js/site/schedule_grid_refresh.js
  tcf_website/static/js/site/search_bar.js
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_autocomplete_dropdown.html
  tcf_website/templates/site/components/_header.html
  tcf_website/templates/site/components/_messages.html
  tcf_website/templates/site/components/_new_schedule_form.html
  tcf_website/templates/site/components/_schedule_add_button.html
  tcf_website/templates/site/components/_weekly_calendar.html
  tcf_website/templates/site/modals/_login.html
  tcf_website/templates/site/modals/_schedule_flow_modal.html
  tcf_website/templates/site/pages/schedule.html
  tcf_website/templates/site/partials/_new_schedule_modal_form.html
  tcf_website/templates/site/partials/_schedule_add_course_form_fields.html
  tcf_website/templates/site/partials/_schedule_add_course_modal.html
  tcf_website/templates/site/partials/_schedule_builder_grid.html
  tcf_website/templates/site/partials/_schedule_compare_column.html
  tcf_website/templates/site/partials/_schedule_compare_pick_modal_body.html
  tcf_website/templates/site/partials/_schedule_list_sidebar.html
  tcf_website/templates/site/partials/_scheduled_course_card.html
  tcf_website/tests/test_redirects.py
  tcf_website/tests/test_schedule_semester.py
  tcf_website/tests/test_schedule_share.py
  tcf_website/tests/test_search.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/schedule.py
  tcf_website/views/search.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(ui): schedule term accuracy, SPA modals, TcfHttp, review/browse hardening
  tcf_website/static/js/site/browse_live_results.js
  tcf_website/static/js/site/combo_dropdown.js
  tcf_website/static/js/site/partial_html.js
  tcf_website/static/js/site/review_cascade.js
  tcf_website/static/js/site/review_votes.js
  tcf_website/static/js/site/reviews_sort_fetch.js
  tcf_website/static/js/site/schedule_builder.js
  tcf_website/static/js/site/schedule_flow_modal.js
  tcf_website/static/js/site/schedule_grid_refresh.js
  tcf_website/static/js/site/tcf_http.js
  tcf_website/templates/site/base.html
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/review.html
  tcf_website/templates/site/partials/_new_schedule_modal_form.html
  tcf_website/templates/site/partials/_schedule_builder_grid.html
  tcf_website/tests/test_review.py
  tcf_website/tests/test_schedule_semester.py
  tcf_website/tests/test_schedule_share.py
  tcf_website/views/review.py
  tcf_website/views/schedule.py
  uv.lock
Due: black, isort, eslint, prettier, pylint, coverage

eslint
  tcf_website/static/js/site/lib/flash_messages.js
  tcf_website/static/js/site/lib/search_bar.js
Due: eslint, prettier

black format
  manage.py
  tcf_core/settings/base.py
  tcf_core/settings/ci.py
  tcf_core/settings/dev.py
  tcf_core/settings/prod.py
  tcf_website/legacy_models.py
  tcf_website/management/commands/load_clubs.py
  tcf_website/management/commands/load_grades.py
  tcf_website/tests/test_browse.py
  tcf_website/tests/test_redirects.py
  tcf_website/views/auth.py
  tcf_website/views/schedule/builder.py
  tcf_website/views/schedule/crud.py
Due: black, isort, pylint, coverage

pylint
  tcf_website/auth_backends.py
  tcf_website/review/services.py
  tcf_website/schedule/add_course.py
  tcf_website/schedule/calendar.py
  tcf_website/schedule/services.py
  tcf_website/search/browse_helpers.py
  tcf_website/tests/schedule/test_domain_imports.py
  tcf_website/tests/test_review.py
  tcf_website/tests/test_schedule_share.py
  tcf_website/tests/test_search.py
  tcf_website/views/review/new_review.py
  tcf_website/views/schedule/add_course_view.py
  tcf_website/views/schedule/builder.py
  tcf_website/views/schedule/crud.py
  tcf_website/views/schedule/json_helpers.py
Due: black, isort, pylint, coverage

bug fix
  tcf_website/schedule/calendar.py
  tcf_website/tests/test_schedule_share.py
  tcf_website/views/review/preflight.py
  tcf_website/views/schedule/builder.py
  tcf_website/views/schedule/crud.py
Due: black, isort, pylint, coverage

club adv search
  tcf_website/forms.py
  tcf_website/search/advanced.py
  tcf_website/search/browse_helpers.py
  tcf_website/search/course_display.py
  tcf_website/static/css/site/pages/browse.css
  tcf_website/static/js/site/browse/browse_live_results.js
  tcf_website/templates/site/catalog/browse.html
  tcf_website/templates/site/catalog/components/_advanced_search_form.html
  tcf_website/templates/site/catalog/components/_club_advanced_search_form.html
  tcf_website/templates/site/catalog/partials/_browse_club_advanced_results.html
  tcf_website/templates/site/catalog/partials/_club_grouped_results.html
  tcf_website/templates/site/catalog/search.html
  tcf_website/tests/test_browse.py
  tcf_website/views/catalog/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

recent courses
  tcf_website/static/css/site/components/header.css
  tcf_website/static/js/site/browse/browse_live_results.js
  tcf_website/static/js/site/lib/recent_courses.js
  tcf_website/templates/site/common/base.html
  tcf_website/templates/site/common/components/_header.html
  tcf_website/templates/site/courses/components/_record_recent_course.html
  tcf_website/templates/site/courses/course.html
  tcf_website/templates/site/courses/course_instructor.html
Due: eslint, prettier

cleanup
  .gitignore
  pyproject.toml
  setup.cfg
  uv.lock
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
