Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

fix(search): hide filters on mobile
  tcf_website/static/css/site/components/search_bar.css
Due: prettier

fix(ui)
  tcf_website/static/css/site/components/header.css
  tcf_website/static/css/site/components/search_bar.css
  tcf_website/static/css/site/pages/landing.css
  tcf_website/static/css/site/pages/search.css
  tcf_website/templates/site/pages/landing.html
Due: prettier

fix(ui): mobile dropdown
  tcf_website/static/css/site/components/header.css
  tcf_website/templates/site/components/_header.html
Due: prettier

added css, added game to views
  tcf_website/static/game/game.css
  tcf_website/templates/game/game.html
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/game.py
Due: black, isort, prettier, pylint, coverage

updated stylesheet path
  tcf_website/templates/game/game.html
Due: none

finished adding game view
  tcf_website/templates/game/game.html
  tcf_website/views/__init__.py
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

working poc for terraform
  iac/alb.tf
  iac/cloudfront.tf
  iac/ecr.tf
  iac/ecs.tf
  iac/locals.tf
  iac/networking.tf
  iac/outputs.tf
  iac/rds.tf
  iac/s3.tf
  iac/security-groups.tf
  iac/variables.tf
Due: none

fix(schedule): remove future plans
  tcf_website/templates/site/pages/schedule.html
Due: none

feat(adblocker): show popup on adblocker detected
  tcf_website/static/common/adblocker.js
  tcf_website/templates/base/index.html
  tcf_website/templates/common/adblock_modal.html
Due: eslint, prettier

Restore calendar overview template (ClubForum calendar feature)
  tcf_website/templates/calendar/calendar_overview.html
Due: none

fix(eslint)
  tcf_website/static/common/adblocker.js
Due: eslint, prettier

fix(adblocker): simplify detection
  tcf_website/static/common/adblocker.js
  tcf_website/templates/base/index.html
Due: eslint, prettier

fix(api): critical remove public facing api; keep internal server-sid… (#1223)
  tcf_website/api/__init__.py
  tcf_website/api/serializers.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/qa/new_answer.js
  tcf_website/static/reviews/club_review.js
  tcf_website/static/reviews/new_review.css
  tcf_website/static/reviews/new_review.js
  tcf_website/static/reviews/sync_review_sliders.js
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/qa/qa.html
  tcf_website/templates/reviews/edit_review.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/templates/reviews/review.html
  tcf_website/tests/test_course.py
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(adblocker): reduce check to 100 ms
  tcf_website/static/common/adblocker.js
Due: eslint, prettier

Add Riti Lahoti to engineering team
  tcf_website/static/about/team-pfps/ENG_Riti_Lahoti.jpg
  tcf_website/views/team_info.json
Due: none

Local dev fixes: Docker DB config, Presence API, browse resilience, calendar samples, seed schools
  doc/dev.md
  docker-compose.yml
  tcf_core/settings/dev.py
  tcf_website/migrations/0024_seed_browse_schools.py
  tcf_website/services/presence.py
  tcf_website/templates/browse/browse.html
  tcf_website/views/browse.py
  tcf_website/views/calendar.py
Due: black, isort, prettier, pylint, coverage

testing CI
  .github/workflows/ci.yml
Due: none

Change default review sorting method to most recent
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

started
  .github/workflows/ci.yml
Due: none

remove unnecessary model params
  tcf_website/services/review_summary.py
Due: black, isort, pylint, coverage

fix(lint): linting / coderabbit warnings
  tcf_website/management/commands/generate_ai_summaries.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

fix(lint): pylint
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

add class data for 2026 spring semester
  tcf_website/management/commands/semester_data/csv/2026_spring.csv
Due: none

Modify load_semester to delete old data for semester
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

basic fetching review skeleton
  tcf_website/templates/game/game.html
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

updated cache to be daily
  tcf_website/views/game.py
Due: black, isort, pylint, coverage

[feat]: add ads
  tcf_website/static/css/site/components/ads.css
  tcf_website/static/css/site/components/misc.css
  tcf_website/static/css/site/main.css
  tcf_website/templates/site/base.html
  tcf_website/templates/site/components/_footer_ad.html
  tcf_website/templates/site/components/_in_article_ad.html
  tcf_website/templates/site/components/_in_feed_ad.html
  tcf_website/templates/site/components/_leaderboard_ad.html
  tcf_website/templates/site/components/_sidebar_ad.html
  tcf_website/templates/site/pages/club.html
  tcf_website/templates/site/pages/course.html
  tcf_website/templates/site/pages/course_instructor.html
  tcf_website/templates/site/pages/department.html
  tcf_website/templates/site/pages/instructor.html
  tcf_website/templates/site/pages/landing.html
  tcf_website/templates/site/pages/reviews.html
  tcf_website/templates/site/pages/search.html
Due: prettier

[fix]?: temp get rid of serif font until better is found
  tcf_website/static/css/site/tokens.css
  tcf_website/templates/site/base.html
Due: prettier

modify logic
  tcf_website/static/common/recently_viewed.js
  tcf_website/templates/base/index.html
  tcf_website/templates/common/view_limit_modal.html
Due: eslint, prettier

improve handling
  tcf_website/static/common/recently_viewed.js
Due: eslint, prettier

Create documentation for adding semester data
  doc/semester-data.md
Due: prettier

Remove semester data info from useful-commands doc
  doc/semester-data.md
  doc/useful-commands.md
Due: prettier

Remove semester data info from useful-commands doc
  doc/grade-data.md
Due: prettier

Add triangle to review boxes
  tcf_website/static/reviews/review.css
  tcf_website/templates/reviews/review.html
Due: prettier

Add speech bubble triangle to reviews
  tcf_website/static/reviews/review.css
Due: prettier

add preliminary related courses UI
  tcf_website/templates/course/course.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
