Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

Update dev.md
  docs/dev.md
Due: prettier

course-specific question
  tcf_website/static/qa/new_question.css
  tcf_website/static/qa/qa.css
  tcf_website/templates/qa/new_question.html
  tcf_website/templates/qa/question_form_content.html
Due: prettier

fix(docs): final setup tweaks
  docs/dev.md
Due: prettier

feat(docs): use a safe build
  docs/dev.md
Due: prettier

fix(format): pre-commit format
  docs/archive/grade-data.md
  docs/archive/home.md
  docs/archive/release-history.md
  docs/archive/search.md
  docs/archive/semester-data.md
  docs/archive/update-guide.md
  docs/dev.md
Due: prettier

feat(pre-commit): coverage tests
  .pre-commit-config.yaml
Due: none

fix(docker): use separate node_modules to fix overwriting
  docker-compose.yml
Due: none

feat(docs): clarify build instructions
  docs/dev.md
Due: prettier

fix(docs): use backslash in windows paths
  docs/dev.md
Due: prettier

Cleaning up code
  tcf_website/views/search.py
Due: black, isort

Small UI changes
  tcf_website/templates/search/searchbar.html
  tcf_website/views/search.py
Due: black, isort

feat(ci): work with prettier
  .config/.eslintrc.yml
  package-lock.json
  package.json
Due: none

feat(ci): format with prettier, black, isort
  .github/workflows/continuous-integration.yml
Due: none

feat(ci): deprecate old pre-commit approach
  .githooks/pre-commit
  precommit.sh
Due: none
