Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

black:
  name: Black
  entry: docker exec tcf_django black --line-length 80 .
  language: system
  pass_filenames: false

isort:
  name: Isort
  entry: docker exec tcf_django isort --profile black --line-length 80 .
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: docker exec tcf_django npx prettier --write
  language: system
  pass_filenames: true

pylint:
  name: Pylint
  entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
  language: system
  pass_filenames: false

coverage:
  name: Coverage
  entry: docker exec tcf_django coverage run manage.py test --keepdb
  language: system
  pass_filenames: false

testjob
  .github/workflows/ci.yml
Due: none

testing
  .github/workflows/ci.yml
Due: none

add prerequisites to reranking
  tcf_website/management/commands/generate_related_courses.py
Due: black, isort, pylint, coverage

generate related courses in load_semester.py
  tcf_website/management/commands/generate_related_courses.py
  tcf_website/management/commands/load_semester.py
Due: black, isort, pylint, coverage

add migrations for related courses
  tcf_website/migrations/0024_course_prerequisites.py
  tcf_website/migrations/0025_course_related_courses.py
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Finish
  tcf_core/settings/dev.py
Due: black, isort, pylint, coverage

Finish
  .github/workflows/ci.yml
Due: none

feat: complete analytics implementation (backend/engine)
  tcf_website/analytics_utils.py
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

test
  .github/workflows/ci.yml
Due: none

Fixed Presence
  tcf_website/services/presence.py
Due: black, isort, pylint, coverage

Add Riti Lahoti to engineering team
  tcf_website/static/about/team-pfps/ENG_Riti_Lahoti.jpg
  tcf_website/views/team_info.json
Due: none

merge migrations
  tcf_website/migrations/0024_merge_20260201_2108.py
Due: black, isort, pylint, coverage

feat(adblocker): show popup on adblocker detected
  tcf_website/static/common/adblocker.js
  tcf_website/templates/base/index.html
  tcf_website/templates/common/adblock_modal.html
Due: eslint, prettier

fix(eslint)
  tcf_website/static/common/adblocker.js
Due: eslint, prettier

fix(adblocker): reduce check to 100 ms
  tcf_website/static/common/adblocker.js
Due: eslint, prettier

Match specific profs in grade loading script
  tcf_website/management/commands/load_grades.py
Due: black, isort, pylint, coverage

Created post listing and updated models
  tcf_website/migrations/0024_forumcategory_forumpost_forumresponse_question_title_and_more.py
  tcf_website/models/models.py
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/views/qa.py
Due: black, isort, pylint, coverage

Updated post listing and added css/html for left sidebar
  tcf_website/static/qa/qa_dashboard.css
  tcf_website/templates/qa/qa_dashboard.html
  tcf_website/views/qa.py
Due: black, isort, prettier, pylint, coverage

fix(adblocker): simplify detection
  tcf_website/static/common/adblocker.js
  tcf_website/templates/base/index.html
Due: eslint, prettier

add 2025 fall and spring grades
  tcf_website/management/commands/grade_data/csv/2025_fall.csv
  tcf_website/management/commands/grade_data/csv/2025_spring.csv
Due: none

add 2025 january and summer grade data
  tcf_website/management/commands/grade_data/csv/2025_january.csv
  tcf_website/management/commands/grade_data/csv/2025_summer.csv
Due: none

add updated class data
  tcf_website/management/commands/semester_data/csv/2025_fall.csv
  tcf_website/management/commands/semester_data/csv/2025_january.csv
  tcf_website/management/commands/semester_data/csv/2025_spring.csv
  tcf_website/management/commands/semester_data/csv/2025_summer.csv
Due: none

add class data for 2026 spring semester
  tcf_website/management/commands/semester_data/csv/2026_spring.csv
Due: none

fix(api): critical remove public facing api; keep internal server-side rendering
  tcf_website/api/__init__.py
  tcf_website/api/serializers.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/qa/new_answer.js
  tcf_website/static/reviews/club_review.js
  tcf_website/static/reviews/new_review.css
  tcf_website/static/reviews/new_review.js
  tcf_website/static/reviews/sync_review_sliders.js
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/qa/qa.html
  tcf_website/templates/reviews/edit_review.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/templates/reviews/review.html
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

fix(tests): remove API tests since API module was deleted
  tcf_website/tests/test_course.py
  tcf_website/urls.py
  tcf_website/views/review.py
Due: black, isort, pylint, coverage

fix(reviews): avoid empty reviews
  tcf_website/templates/reviews/new_review.html
Due: none

fix(api): critical remove public facing api; keep internal server-sid… (#1223)
  tcf_website/api/__init__.py
  tcf_website/api/serializers.py
  tcf_website/api/urls.py
  tcf_website/api/views.py
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/instr_data.js
  tcf_website/static/qa/new_answer.js
  tcf_website/static/reviews/club_review.js
  tcf_website/static/reviews/new_review.css
  tcf_website/static/reviews/new_review.js
  tcf_website/static/reviews/sync_review_sliders.js
  tcf_website/templates/course/course_professor.html
  tcf_website/templates/qa/qa.html
  tcf_website/templates/reviews/edit_review.html
  tcf_website/templates/reviews/new_review.html
  tcf_website/templates/reviews/review.html
  tcf_website/tests/test_course.py
  tcf_website/tests/test_review.py
  tcf_website/urls.py
  tcf_website/views/__init__.py
  tcf_website/views/browse.py
  tcf_website/views/review.py
Due: black, isort, eslint, prettier, pylint, coverage

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.js$
  prettier: any of: \.(css|js|md)$
  pylint: any of: \.py$
  coverage: any of: \.py$
