Repository thecourseforum/theCourseForum2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, eslint, prettier, pylint, coverage

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: docker exec tcf_django black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: isort
        name: Isort
        entry: docker exec tcf_django isort --profile black --line-length 80 .
        language: system
        files: \.py$
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: docker exec tcf_django npx eslint --cache --fix -c .config/.eslintrc.yml tcf_website/static/
        language: system
        files: \.js$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: docker exec tcf_django npx prettier --write
        language: system
        files: \.(css|js|md)$
        pass_filenames: true

      - id: pylint
        name: Pylint
        entry: docker exec tcf_django pylint --jobs=0 -s no --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
        language: system
        files: \.py$
        pass_filenames: false

      - id: coverage
        name: Coverage
        entry: docker exec tcf_django coverage run manage.py test --keepdb
        language: system
        files: \.py$
        pass_filenames: false



      # these are acting up - don't know why
      # - id: django-tests
      #   name: Django Tests
      #   entry: docker exec tcf_django coverage run manage.py test --keepdb
      #   language: system
      #   files: \.py$
      #   pass_filenames: false

moved text
  tcf_website/templates/reviews/review_form_content.html
Due: none

Added gpa graph function to course_data.js
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
Due: eslint, prettier

Current progress
  tcf_website/static/course/course_professor.css
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, eslint, prettier, pylint, coverage

added tooltip and beacon for filters button
  tcf_website/templates/search/searchbar.html
Due: none

Changed comment
  tcf_website/templates/course/course_professor.html
  tcf_website/views/browse.py
Due: black, isort, pylint, coverage

minor ui fix
  tcf_website/templates/search/search.html
Due: none

really scrappy line chart
  tcf_website/templates/course/course_professor.html
Due: none

yeah!
  tcf_website/templates/course/course_professor.html
Due: none

dark mode for browse, department, and icons
  tcf_website/static/base/tcf-style.css
  tcf_website/static/browse/browse.css
  tcf_website/static/department/department.css
  tcf_website/static/icons/icons.css
Due: prettier

fixed beacon blocking interaction with button and shortened tooltip
  tcf_website/templates/search/searchbar.html
Due: none

Resized chart
  tcf_website/templates/course/course_professor.html
Due: none

Got rid of avg gpa per course per instructor and instead moving to browse.py for a custom query
  tcf_website/models/models.py
Due: black, isort, pylint, coverage

Made sentiments bar chart stacked
  tcf_website/templates/course/course_professor.html
Due: none

added accurate colors to dark mode
  tcf_website/static/base/tcf-style.css
  tcf_website/static/browse/browse.css
Due: prettier

first line of question UI complete
  tcf_website/templates/qa/qa.html
Due: none

wip
  tcf_website/static/course/javascript/course_data.js
  tcf_website/templates/course/course_professor.html
Due: eslint, prettier

removed shadow on button, adjusted border radius, extended inputs of subjects/disciplines
  tcf_website/templates/search/searchbar.html
Due: none

Made chart horizontal
  tcf_website/templates/course/course_professor.html
Due: none

adjusted weekdays selection to class days to exclude and fixed div of weekdays checkboxes not working
  tcf_core/context_processors.py
  tcf_website/templates/search/searchbar.html
Due: black, isort, pylint, coverage

fixing payments; added zelle qr code and fixed hyperlink
  tcf_website/static/landing/Zelle_qr.jpg
  tcf_website/static/landing/landing.css
  tcf_website/templates/landing/landing.html
Due: prettier
